
@{
    ViewData["Title"] = "Connected Device";
}

<div class="sub_content notice">
    <div class="_inner">
        <p class="ready">준비중입니다.</p>
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->