<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=180608"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=18011608"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=180608"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>제품 비교검색</dt>
                    <dd>Product Comparison</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>제품 라인업</span>
                </a>     
                <a href="#" class="next">
                    <span>IEC1000 - Series
                    </span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">제품 비교검색</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub02_03">
        <div class="_inner">            
            <p class="sub_txt sub23_mb">사용환경에 맞는 제품의 선택을 위하여 아래의 각 항목의 사항으로 선택하시면 해당되는 제품으로 비교검색 할 수 있습니다.</p>
            <form name="" action="">
            <div class="sub23_chk sub23_chk1">
                <span class="tit">LCD 크기 및 해상도</span>
                <div class="boxwrap">
                    <ul class="box box1 da">
                        <li class="fst">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">None(외부 모니터 별도 구매 Anglog RGB Port,1024x768)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">10.9cm(4.3inch, 480x272)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">14.2cm(5.6inch, 640x480)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">17.7cm(6.9inch, 800x480)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">17.8cm(7inch, 800x480)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">20.3cm(8inch, 800x600)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">25.9cm(10.2inch, 800x480)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">26.4cm(10.4inch, 800x600)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">26.4cm(10.4inch, 1024x768)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">38.1cm(15inch, 1024x768)</span></label>
                        </li>
                    </ul>
                    <span class="box1_tit">※ Bezel Type(옵션장착 여부)</span>
                    <ul class="box box1">
                        <li>
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">None(OpenFrame Type)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" checked="checked" />&nbsp; <span class="vam">B1(Bezel Type)</span></label>
                        </li>
                        <li>
                            <label><input type="checkbox" id="" name="" value="" checked="checked" />&nbsp; <span class="vam">B2(Bezel Type)</span></label>
                        </li>
                    </ul>         
                    <a href="#none" class="popup posi" data-number="1"><img src="./images/sub23_mark.gif" alt="옵션 B1/B2 Bezel Type 팝업보기" /></a>   
                </div>                
            </div>
            <div class="sub23_wrap">
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">CPU 성능</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">1Ghz</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">667Mhz</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">266Mhz</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">확장포트 갯수(Extension Port)</span>
                        <div class="boxwrap">
                            <ul class="box box2">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">48핀<span class="ft">(Extension Port - II)</span></span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">16핀<span class="ft">(Extension Port - I)</span></span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">유선 LAN</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">100Mbps</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">10Mbps</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">None</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
            </div><!-- //sub23_wrap -->
            <span class="sub23_tit">세부 사양 옵션</span>
            <div class="sub23_wrap">
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">RAM</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">64MB</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">256MB</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">512MB</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">Flash</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">64MB</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">128MB</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">256MB</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">전원</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">DC 9 ~ 24V</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">DC 5V only</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">UART</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">3Ch</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">4Ch</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">RS485</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">H/W 지원</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">S/W 지원</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">ADC</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">6Ch(12Bit)</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">4Ch(12Bit)</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">4Ch(10Bit)</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">USB Host</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">2Ch</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">1Ch</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">CE 인증</span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">CE 인증 제품</span></label>
                                </li>                               
                            </ul>                    
                        </div>
                    </div>
                </span>
            </div><!-- //sub23_wrap -->

            <span class="sub23_tit">기타옵션 사용 여부</span>
            <div class="sub23_wrap">
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">Smart I/O - Series
                            <a href="#none" class="popup posi1" data-number="2"><img src="./images/sub23_mark.gif" alt="Smart I/O - Series 팝업보기" /></a> 
                        </span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">Smart I/O - II</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">Smart I/O - III</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">Smart Video
                            <a href="#none" class="popup posi1" data-number="3"><img src="./images/sub23_mark.gif" alt="Smart Video 팝업보기" /></a> 
                        </span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">지원</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">미지원</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
                <span class="list">
                    <div class="sub23_chk">
                        <span class="tit">SmartBattery
                            <a href="#none" class="popup posi1" data-number="4"><img src="./images/sub23_mark.gif" alt="SmartBattery 팝업보기" /></a>                        
                        </span>
                        <div class="boxwrap">
                            <ul class="box">
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">지원</span></label>
                                </li>
                                <li>
                                    <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">미지원</span></label>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                </span>
            </div><!-- //sub23_wrap -->    

            <div class="sub23_result">
                <span class="tit"><strong>검색결과(10건)</strong> 제품명을 선택하시면 제품 비교를 하실 수 있습니다.<em>(최대 2개까지 선택가능)</em></span>
                <a href="#" class="chk_none">선택 전체해제</a>
            </div>
            <div class="sub23_resultbox">
                <ul class="result_list">
                    <li class="chk1"><!-- 1번은 .chk1 / 2번은 .chk2 추가 -->
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li class="chk2">
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                    <li>
                        <span class="box">
                            <label><input type="checkbox" id="" name="" value="" />&nbsp; <span class="vam">IEC1000-07NB1</span></label>
                        </span>
                    </li>
                </ul>
            </div>
            </form>

            <div class="sub23_slide">
                <div class="slide slide1">
                    <span class="wt"><img src="./images/sub23_slide_wm1.gif" alt="1번" /></span>
                    <div class="top">      
                        <!-- iec1000 : class="name"
                             iec667 : class="name green"
                             iec266 : class="name blue" -->
                        <strong class="name">
                            <span class="opt">옵션 Bezel 장착</span>
                            IEC1000Lite-104HB2<em class="gray">B1</em>
                        </strong>
                        <p class="zoom_info __tn">확대한 이미지를 보시려면 큰 이미지를 클릭해주세요.</p>
                    </div>
                    <div class="mid">
                        <div class="big big1">
                            <ul class="roll">
                                <li><img src="./images/big1.jpg" class="big_modal" /></li>
                                <li><img src="./images/big2.jpg" class="big_modal" /></li>
                                <li><img src="./images/big3.jpg" class="big_modal" /></li>
                                <li><img src="./images/big4.jpg" class="big_modal" /></li>
                                <li><img src="./images/big5.jpg" class="big_modal" /></li>
                            </ul>                            
                        </div><!-- //_big -->
                        <div class="slide_pager slide_pager1">
                            <a data-slide-index="0" href="#none"><img src="./images/big1.jpg" /></a>
                            <a data-slide-index="1" href="#none"><img src="./images/big2.jpg" /></a>
                            <a data-slide-index="2" href="#none"><img src="./images/big3.jpg" /></a>
                            <a data-slide-index="3" href="#none"><img src="./images/big4.jpg" /></a>
                            <a data-slide-index="4" href="#none"><img src="./images/big5.jpg" /></a>
                        </div>                        
                    </div><!-- //mid -->            
                    <script>compare_roll1.init();</script> 
                    <div class="bot">
                        <strong class="price">판매가 345,000원<span class="vat">(VAT별도)</span></strong>
                        <a href="#" class="go_buy">구매하기</a>
                    </div><!--- //bot -->    
                </div><!-- //slide1 -->

                <div class="slide slide2">
                    <span class="wt"><img src="./images/sub23_slide_wm2.gif" alt="2번" /></span>
                    <div class="top">                        
                        <strong class="name green">
                            <span class="opt">OpenFrameType</span>
                            IEC667 - 07N<em class="gray">B1</em>
                        </strong>
                        <p class="zoom_info __tn">확대한 이미지를 보시려면 큰 이미지를 클릭해주세요.</p>
                        <!-- 확대 팝업은 푸터위에 -->
                    </div>
                    <div class="mid">
                        <div class="big big2">
                            <ul class="roll">
                                <li><img src="./images/big1.jpg" class="big_modal" /></li>
                                <li><img src="./images/big2.jpg" class="big_modal" /></li>
                                <li><img src="./images/big3.jpg" class="big_modal" /></li>
                                <li><img src="./images/big4.jpg" class="big_modal" /></li>
                                <li><img src="./images/big5.jpg" class="big_modal" /></li>
                            </ul>                            
                        </div><!-- //_big -->                        
                        <div class="slide_pager slide_pager2">
                            <a data-slide-index="0" href="#none"><img src="./images/big1.jpg" /></a>
                            <a data-slide-index="1" href="#none"><img src="./images/big2.jpg" /></a>
                            <a data-slide-index="2" href="#none"><img src="./images/big3.jpg" /></a>
                            <a data-slide-index="3" href="#none"><img src="./images/big4.jpg" /></a>
                            <a data-slide-index="4" href="#none"><img src="./images/big5.jpg" /></a>
                        </div>        
                    </div><!-- //mid -->         
                    <script>compare_roll2.init();</script> 
                    <div class="bot">
                        <strong class="price">판매가 300,000원<span class="vat">(VAT별도)</span></strong>
                        <a href="#" class="go_buy">구매하기</a>
                    </div><!--- //bot -->  
                </div><!-- //slide2 -->
            </div><!-- //sub23_slide -->

            <span class="sub_tit">제품정보 비교</span>
            <table class="sub23_tbl sub23_tbl1">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th></th>
                    <th><span class="tit tit1">IEC1000-07NB1</span></th>
                    <th><span class="tit tit2">IEC667-07NB1</span> </th> 
                </tr>
            </table>

            <span class="sub23_tbltit">[SyStem]</span>
            <table class="sub23_tbl sub23_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>                
                <tr class="blue">
                    <th scope="row">CPU</th> 
                    <td>Cortex A8 CPU Core 1GHz </td>
                    <td>32Bit RISC ARM1179JZF-667MHz </td>
                </tr>
                <tr class="blue">
                    <th scope="row">Flash</th> 
                    <td>256MB(OS : 129MB / Storage : 127MB)  </td>
                    <td>128MB(OS : 63MB / Storage : 65MB) </td>
                </tr>
                <tr>
                    <th scope="row">전압범위/사용전류</th> 
                    <td>DC 12V일 경우 460mA</td>
                    <td>DC 12V일 경우 600mA</td>
                </tr>
            </table>

            <span class="sub23_tbltit">[LCD]</span>    
            <table class="sub23_tbl sub23_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>                
                <tr class="blue">
                    <th scope="row">화면크기</th> 
                    <td>17.8cm(7inch)</td>
                    <td>17.7cm(6.95inch)</td>
                </tr>
                <tr>
                    <th scope="row">Backlight</th> 
                    <td>LED Backlight Life time Min 20,000H </td>
                    <td>LED Backlight Life time Min 20,000H</td>
                </tr>
            </table>

            <span class="sub23_tbltit">[추가 가능 옵션 제품]</span>  
            <table class="sub23_tbl sub23_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>               
                <tr>
                    <th scope="row">
                        <span>B1/B2 Bezel</span>
                        <a href="#none" class="popup" data-number="1"><img src="./images/sub23_mark1.gif" alt="B1/B2 Bezel 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>SmartI/O - II</span>
                        <a href="#none" class="popup" data-number="2"><img src="./images/sub23_mark1.gif" alt="SmartI/O - II 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>SmartI/O - III</span>
                        <a href="#none" class="popup" data-number="2"><img src="./images/sub23_mark1.gif" alt="SmartI/O - III 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr class="blue">
                    <th scope="row">
                        <span>SmartVideo</span>
                        <a href="#none" class="popup" data-number="3"><img src="./images/sub23_mark1.gif" alt="SmartVideo 팝업보기" /></a>
                    </th> 
                    <td>-</td>
                    <td>●</td>
                </tr>
                <tr class="blue">
                    <th scope="row">
                        <span>SmartBattery</span>
                        <a href="#none" class="popup" data-number="4"><img src="./images/sub23_mark1.gif" alt="SmartBattery 팝업보기" /></a>
                    </th> 
                    <td>-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>USB무선랜</span>
                        <a href="#none" class="popup" data-number="5"><img src="./images/sub23_mark1.gif" alt="USB무선랜 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>Pro.라이선스</span>
                        <a href="#none" class="popup" data-number="6"><img src="./images/sub23_mark1.gif" alt="Pro.라이선스 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>SmartKit</span>
                        <a href="#none" class="popup" data-number="7"><img src="./images/sub23_mark1.gif" alt="SmartKit 팝업보기" /></a>
                    </th> 
                    <td>●</td>
                    <td>●</td>
                </tr>
                <tr class="blue">
                    <th scope="row">
                        <span>SN485 Board</span>
                        <a href="#none" class="popup" data-number="8"><img src="./images/sub23_mark1.gif" alt="SN485 Board 팝업보기" /></a>
                    </th>  
                    <td>-</td>
                    <td>-</td>
                </tr>               
            </table>

            <span class="sub23_tbltit">[기본정보]</span>    
            <table class="sub23_tbl sub23_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>                
                <tr>
                    <th scope="row">제품크기</th> 
                    <td>W 209.6 x H 141.4 x D 45(mm)</td>
                    <td>w209.6 x h141.4 x D 45(mm)</td>
                </tr>
                <tr>
                    <th scope="row">A/S 책임자와 전화번호</th> 
                    <td>(주)에이치앤에스/02-6402-8001</td>
                    <td>(주)에이치앤에스/02-6402-8001</td>
                </tr>
            </table>
        </div>    
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->
<!-- popup -->
<div class="wraplayer">    
    <div class="overlayer overlayer1 layerwrap1">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer layer1">            
            <span class="sub_tit">옵션 B1/B2 Bezel Type</span>
            <p class="sub_txt">IEC-Series(Open Frame Type)을 B1/B2 Bezel Type 형태로 외형을 변경 할 수 있는 옵션 제품</p>
            <table class="layer1_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="none"></th>
                    <th scope="col" class="none"><img src="./images/pop1_img1.jpg" alt="B1 Bezel Type" /></th>
                    <th scope="col" class="none"><img src="./images/pop1_img2.jpg" alt="B2 Bezel Type" /></th>
                </tr>
                <tr>
                    <th scope="row">Bezel Type</th>
                    <th scope="col" class="bl"><span class="red">B1</span> Bezel Type</th>
                    <th scope="col" class="bl"><span class="red">B2</span> Bezel Type</th>
                </tr>
                <tr>
                    <th scope="row">형태</th>
                    <td>전면 사출케이스 형태</td>
                    <td>전면 사출케이스 형태</td>
                </tr>
                <tr>
                    <th scope="row">적용 가능 LCD 크기</th>
                    <td>10.9cm(4.3inch) ~ 26.4cm(10.4inch)</td>
                    <td>10.9cm(4.3inch) ~ 26.4cm(10.4inch)</td>
                </tr>
                <tr>
                    <th scope="row">특징</th>
                    <td>Bezel Type 교체 용이<br />기구설계 가공 시 조립 용이</td>
                    <td>Bezel Type 교체 용이<br />기구설계 가공 시 조립 용이<br /><span class="red">LCD 보호기능 및 전면 생활 방수</span></td>
                </tr>
            </table>
            <div class="layer_adapt">
                <div class="tit">
                    <span>적용가능 <br class="__m"> 제품</span>
                </div>
                <div class="txt">                        
                    <p>IEC - Series 제품 중 화면 크기 10.9cm(4.3inch) ~ 26.4cm(10.4inch)</p>                        
                </div>
            </div>           
            <div class="layer_btn">
                <a href="#">자세히 보기</a>
            </div>
        </div><!-- //layer1 -->
    </div><!-- //overlayer1 layerwrap1-->
    <div class="overlayer overlayer2 layerwrap1">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer layer2">
            <span class="sub_tit">Smart I/O - II, III</span>
            <p class="sub_txt">IEC-Series(Open Frame THMI와 PLC 기능을 하나의 제품으로 구성되어있는 제품으로써 Smart I/O - II, III를 이용하여  IEC-Series 제품 또는 외부 장치 연동하여 사용할수 있는 장치입니다. 장치 응용프로그램을 보다 쉽게 개발하기 위한 옵션 제품</p>
            <div class="layer2_box">
                <div class="img">
                    <img src="./images/pop2_img1.jpg" alt="Smart I/O - II, III" />
                </div>
                <div class="txt">
                    <strong class="tit">제/품/특/징</strong>
                    <p class="desc">HMI와 PLC 기능 통합 / 소형(간이)자동화 시스템 구축<br />PLC의 래더로직(Ladder Logic)을 모르시는 PC프로그래머 개발자도 쉽게 제어로직 개발<br />외부기기(장치)들과 별도의 인터페이스 회로 없이 바로 연결 / 비용 절감<br />외부 인터페이스와 내부 전원이 분리되어 구성 <br />자체 전원 공급(Smart I/O - Board 내 소형 SMPS 내장)절연 처리</p>
                </div>
            </div>
            <div class="layer2_imgbox">
                <img src="./images/pop2_img2.jpg" alt="Smart I/O - II, III" />
            </div>
            <table class="layer1_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>               
                <tr>
                    <th scope="row">제품명</th>
                    <th scope="col" class="bl">Smart I/O - II</th>
                    <th scope="col" class="bl">Smart I/O - III</th>
                </tr>
                <tr>
                    <th scope="row">기능</th>
                    <td colspan="2">옵션 Block 사용으로 기능 변경 가능<br />소형 SMPS 내장 / ADC 채널 내장</td>                    
                </tr>
                <tr>
                    <th scope="row">I/O 채널수</th>
                    <td>16</td>
                    <td>48</td>
                </tr>
                <tr>
                    <th scope="row">PWM 채널수</th>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">ADC 채널수</th>
                    <td>4</td>
                    <td>4<span class="red">(IEC1000 非 Lite - Series에서만 ADC 채널 수 6)</span></td>
                </tr>
                <tr>
                    <th scope="row">Block 구성</th>
                    <td>최대 5EA</td>
                    <td>최대 12EA</td>
                </tr>
            </table>
            <div class="layer_adapt">
                <div class="tit">
                    <span>적용가능 <br class="__m"> 제품</span>
                </div>
                <div class="txt">                        
                    <p>IEC - Series 전 제품</p>                        
                </div>
            </div>           
            <div class="layer_btn">
                <a href="#">자세히 보기</a>
            </div>
            <span class="sub_tit mt50">Smart Block</span>
            <p class="sub_txt">Block- Series 제품은 독립적인 사용이 불가하며,  Smart I/O - II, III Base Board 제품에 용도에 맞쳐 추가 장착하여 I/O 기능 구성을 조합하여 사용하는 옵션 Block입니다. Block 제품군에 따라 출력(Relay 접점출력, FET출력,12Bite 아날로그출력), 입력(아날로그신호, 무극포토커플러), 통신(RS232 통신절연) 기능을 지원합니다. </p>
            <div class="layer_btn">
                <a href="#">자세히 보기</a>
            </div>
        </div><!-- //layer2 -->
    </div><!-- //overlayer2 layerwrap1-->
    <div class="overlayer overlayer3 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer layer3">
            <div class="desc">
                <span class="sub_tit">SmartVideo</span>
                <p class="sub_txt">IEC667(Lite-Series 미 지원)에서 외부 카메라를 인터페이스 하기 위한 별도의 옵션보드<br class="__t" />NTSC(National Television System Committee)의 신호를 출력하는 카메라만 장착지원</p>
                <span class="red redtxt">[주의] 카메라는 별도 구입</span>
                <div class="img __m">
                    <img src="./images/layer3_img1.jpg" alt="SmartVideo" />
                </div>
                <div class="box">
                    <div class="layer_adapt">
                        <div class="tit">
                            <span>적용가능 <br class="__m"> 제품</span>
                        </div>
                        <div class="txt">                        
                            <p>IEC667 非 Lite - Series</p>              
                        </div>
                    </div>         
                    <div class="layer_btn">
                        <a href="#">자세히 보기</a>
                    </div>
                </div>
            </div>
            <div class="img __p">
                <img src="./images/layer3_img1.jpg" alt="SmartVideo" />
            </div>
        </div><!-- //layer3 -->
    </div><!-- //overlayer3 layerwrap2-->
    <div class="overlayer overlayer4 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer layer4">
            <div class="desc">
                <span class="sub_tit">SmartBattery</span>
                <p class="sub_txt">외부 전원으로 리튬이온(Li-ion)충전지를 장착할 수 있는 옵션 제품</p>
                <span class="red redtxt">[주의] 리튬이온 충전지 및 ON/OFF 스위치는 별도로 구매하셔야 합니다. </span>
                <div class="img __m">
                    <img src="./images/layer4_img1.jpg" alt="SmartBattery" />
                </div>
                <div class="box">
                    <div class="layer_adapt">
                        <div class="tit">
                            <span>적용가능 <br class="__m"> 제품</span>
                        </div>
                        <div class="txt">                        
                            <p>IEC Lite - Series</p>                        
                        </div>
                    </div>         
                    <div class="layer_btn">
                        <a href="#">자세히 보기</a>
                    </div>
                </div>
            </div>
            <div class="img __p">
                <img src="./images/layer4_img1.jpg" alt="SmartBattery" />
            </div>
        </div><!-- //layer4 -->
    </div><!-- //overlayer4 layerwrap2-->
    <div class="overlayer overlayer5 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer layer5">
            <div class="desc">
                <span class="sub_tit">USB 무선랜</span>
                <p class="sub_txt">무선으로 인터넷(WiFi)을 사용할 수 있는 USB Type의 무선 랜카드</p>
                <span class="red redtxt">[주의] USB 무선랜 사용 시 단독으로만 사용 가능(다른 USB 장치 사용 불가)<br />무선랜 사용 시 기존 아답터의 사용 용량을 대비하여 500mA 사용</span>
                <div class="img __m">
                    <img src="./images/layer5_img1.jpg" alt="USB 무선랜" />
                </div>
                <div class="box">
                    <div class="layer_adapt">
                        <div class="tit">
                            <span>적용가능 <br class="__m"> 제품</span>
                        </div>
                        <div class="txt">                        
                            <p>IEC - Series</p>                        
                        </div>
                    </div>         
                    <div class="layer_btn">
                        <a href="#">자세히 보기</a>
                    </div>
                </div>
            </div>
            <div class="img __p">
                <img src="./images/layer5_img1.jpg" alt="USB 무선랜" />
            </div>
        </div><!-- //layer5 -->
    </div><!-- //overlayer5 layerwrap2-->
    <div class="overlayer overlayer6 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer1 layer6">            
            <span class="sub_tit">Pro.라이선스(OS Windows CE 5.0/6.0)</span>
            <p class="sub_txt">기본적으로 OS  Core 버전 라이선스가 되어있으며, 개발에 사용되는 기능(Component)에 따라서 Pro. 버전의 OS를 변경 할 수 있는 라이선스</p>
            <span class="red redtxt">[주의] 별도의 추가 기능 및 O/S Customize는 당사로 문의 하시기 바랍니다. </span>
            <div class="box">
                <div class="layer_adapt">
                    <div class="tit">
                        <span>적용가능 <br class="__m"> 제품</span>
                    </div>
                    <div class="txt">                        
                        <p>IEC - Series</p>                        
                    </div>
                </div>         
                <div class="layer_btn">
                    <a href="#">자세히 보기</a>
                </div>
            </div>                  
        </div><!-- //layer6 -->
    </div><!-- //overlayer6 layerwrap2-->
    <div class="overlayer overlayer7 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer layer7">
            <div class="desc">
                <span class="sub_tit">Smart Kit</span>
                <p class="sub_txt">IEC-Series의 Extension Port의 실험 및 스터디를 하기 위한 보드<br />Extension Port를 사용하여 하드웨어 I/O  기능을 학습</p>   
                <div class="img __m">
                    <img src="./images/layer7_img1.jpg" alt="Smart Kit" />
                </div>             
                <div class="box">
                    <div class="layer_adapt">
                        <div class="tit">
                            <span>적용가능 <br class="__m"> 제품</span>
                        </div>
                        <div class="txt">                        
                            <p>IEC - Series 전 제품</p>                        
                        </div>
                    </div>         
                    <div class="layer_btn">
                        <a href="#">자세히 보기</a>
                    </div>
                </div>
            </div>
            <div class="img __p">
                <img src="./images/layer7_img1.jpg" alt="Smart Kit" />
            </div>
        </div><!-- //layer7 -->
    </div><!-- //overlayer7 layerwrap2-->
    <div class="overlayer overlayer8 layerwrap2">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="layer relayer layer8">
            <div class="desc">
                <span class="sub_tit">SN485 - Board<em>(Sound AMP Speaker &amp; 485 Transceiver)</em></span>
                <p class="sub_txt">IEC266-Lite Series의 스피커 출력 및 485 지원을 위한 장치</p>   
                <div class="img __m">
                    <img src="./images/layer8_img1.jpg" alt="SN485 - Board(Sound AMP Speaker & 485 Transceiver)" />
                </div>             
                <div class="box">
                    <div class="layer_adapt">
                        <div class="tit">
                            <span>적용가능 <br class="__m"> 제품</span>
                        </div>
                        <div class="txt">                        
                            <p>IEC266Lite - Series</p>                        
                        </div>
                    </div>         
                    <div class="layer_btn">
                        <a href="#">자세히 보기</a>
                    </div>
                </div>
            </div>
            <div class="img __p">
                <img src="./images/layer8_img1.jpg" alt="SN485 - Board(Sound AMP Speaker & 485 Transceiver)" />
            </div>
        </div><!-- //layer8 -->
    </div><!-- //overlayer8 layerwrap2 -->
</div><!-- //wraplayer -->
<!-- //popup -->

<!-- 슬라이드 이미지 클릭시 뜨는 확대창 -->
<div class="big_wraplayer">
    <div class="big_overlayer">
        <a href="#none" class="x_pop"><img src="./images/x_pop.gif" alt="팝업닫기" /></a>
        <div class="big big3">
            <ul class="roll">                
                <li><img src="./images/big1.jpg" /></li>
                <li><img src="./images/big2.jpg" /></li>
                <li><img src="./images/big3.jpg" /></li>
                <li><img src="./images/big4.jpg" /></li>
                <li><img src="./images/big5.jpg" /></li>
            </ul>                            
        </div><!-- //_big -->                        
        <div class="slide_pager slide_pager3">
            <a data-slide-index="0" href="#none"><img src="./images/big1.jpg" width="60" /></a>
            <a data-slide-index="1" href="#none"><img src="./images/big2.jpg" width="60" /></a>
            <a data-slide-index="2" href="#none"><img src="./images/big3.jpg" width="60" /></a>
            <a data-slide-index="3" href="#none"><img src="./images/big4.jpg" width="60" /></a>
            <a data-slide-index="4" href="#none"><img src="./images/big5.jpg" width="60" /></a>           
        </div>        
    <script>compare_roll3.init();</script> 
    </div>
</div>
<!-- //슬라이드 이미지 클릭시 뜨는 확대창 -->

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>