<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=18011413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=18011413"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=181011418"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>제품관련</dt>
                    <dd>Product Ref.data</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>Connectd Device</span>
                </a>     
                <a href="#" class="next">
                    <span>SmartX Framework 관련</span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">자료실</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">제품관련</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
        
        <div class="_scate">
            <ul class="_inner_category menu3">
                <li class="over"><a href="#n1"><span>IEC - Series 제품매뉴얼</span></a></li>
                <li><a href="#n2"><span>Smart I/O - Series 제품매뉴얼</span></a></li>
                <li><a href="#n3"><span>제품 커넥터 정보</span></a></li>
                <li><a href="#n4"><span>IEC667/1000 Active USB 드라이버</span></a></li>
                <li><a href="#n5"><span>Windows 통합 드라이버</span></a></li>    
                <li><a href="#n6"><span>IEC - Series SDK 설치파일</span></a></li>
                <li><a href="#n7"><span>WZC Tool</span></a></li>
                <li><a href="#n8"><span>.NET Compact Framework 2.0/3.5</span></a></li>    
                <li><a href="#n9"><span>BootLogo 이미지 변환 프로그램</span></a></li>           
            </ul>
        </div>
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub05_01">
        <div class="_inner">
            <div class="sub51_top">
                <span class="txt">IEC - Series를 사용시 참고하셔야 할 문서 및 제품 개발 시 필요한 설치파일을 제공하고 있습니다.  </span>
                <strong class="info">제품 사용전  IEC - Series 제품 매뉴얼을 참고해주시기 바랍니다.</strong>
            </div>
            <div class="pro_data fold">                
                <dl id="n1" class="cnt">
                    <dt>
                        <span class="num">1</span>
                        <strong class="tit">IEC - Series 제품 매뉴얼</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data0.jpg" alt="IEC - Series 제품 매뉴얼" />
                        </div>
                        <div class="data">
                            <ul class="list">
                                <li><span>Revision No : 19</span></li>
                                <li><span>업데이트 날짜 : 2018년 02월 09일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">IEC - Series 제품과 기타옵션 제품 기본 사용설명서 입니다. <br class="__p" />자세한 <span class="blue">제품 사용법 및 기타옵션(Smart Battery, USB무선랜, Smart Video, Smart Kit)</span> 및 개발에 도움이 되는 내용들이 포함 되어 있습니다.</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n2" class="cnt">
                    <dt>
                        <span class="num">2</span>
                        <strong class="tit">Smart I/O - Series 제품 매뉴얼</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data1.jpg" alt="Smart I/O - Series 제품 매뉴얼" />
                        </div>
                        <div class="data">
                            <p class="txt mb10">Smart I/O -   Series 제품 기본 사용설명서 입니다. <br class="__p" />자세한 제품 사용법 및 Smart I/O 연결방법, 개발 환경 구성 및 개발에 도움이 되는 내용들이 포함 되어 있습니다. </p>
                            <strong class="stit">Smart I/O -  I  제품 매뉴얼</strong>
                            <ul class="list mb10">
                                <li><span>Revision No : 19</span></li>
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <strong class="stit">Smart I/O -  II, III 제품 매뉴얼</strong>
                            <ul class="list mb0">
                                <li><span>Revision No : 19</span></li>
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            
                        </div>
                    </dd>
                </dl>
                <dl id="n3" class="cnt">
                    <dt>
                        <span class="num">3</span>
                        <strong class="tit">제품 커넥터 정보</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data2.jpg" alt="제품 커넥터 정보" />
                        </div>
                        <div class="data">
                            <ul class="list list1">
                                <li><span>업데이트 날짜 : 2014년 01월 20일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">IEC-Series 제품에서 연결 시 사용되는 커넥터 정보입니다. Board의 실크명에 따라 Part Number와 판매처가 기재되었습니다. </p>
                        </div>
                    </dd>
                </dl>
                <dl id="n4" class="cnt">
                    <dt>
                        <span class="num">4</span>
                        <strong class="tit">IEC667/1000 Active USB 드라이버</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data3.jpg" alt="IEC667/1000 Active USB 드라이버" />
                        </div>
                        <div class="data">
                            <ul class="list list1 __tn">
                                <li><span>업데이트 날짜 : 2011년 04월 09일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">IEC667/1000에서는 반드시 개발 PC와 연결(ActiveSync)하기 위해서는 별도로 USB 드라이버를 개발 PC에 설치 하시기 바랍니다. <br /><br /><strong class="bold">[설치방법]</strong> IEC-Series 제품매뉴얼 → Part - II.개발환경 → 4-7. Mobile Device Center(Active Sync) 설치 참고<br /><strong class="bold">[주 의]</strong> IEC266-Series는 별도 USB 드라이버를 하실 필요가 없습니다.</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n5" class="cnt">
                    <dt>
                        <span class="num">5</span>
                        <strong class="tit">Windows 계열 통합 드라이버</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data4.jpg" alt="Windows 계열 통합 드라이버" />
                        </div>
                        <div class="data">
                            <ul class="list list1 __tn">
                                <li><span>업데이트 날짜 : 2012년 06월 22일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">개발 PC의 운영체제가 Windows 7계열에서 경우에 따라 드라이버의 설치 및 연결이 안 될 경우 Windows 통합 드라이버를 설치하시기 바랍니다.</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n6" class="cnt">
                    <dt>
                        <span class="num">6</span>
                        <strong class="tit">IEC - Series SDK 설치파일</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data5.jpg" alt="IEC - Series SDK 설치파일" />
                        </div>
                        <div class="data">
                            <p class="txt mb30">IEC266/667/1000 - Series의 Visual Studio2005/2008 C++ Tool로 개발 시 반드시 필요한 SDK 입니다. 사용하시는 제품에 따라 다운로드 하시기 바랍니다.<br /><br /><strong class="bold">[설치방법]</strong> IEC-Series 제품매뉴얼 → Part - II.개발환경 → 4-6.SDK 설치하기 참고</p>
                            <div class="__tn">
                                <strong class="stit">IEC266 - Series</strong>
                                <ul class="list list1 mb20">
                                    <li><span>업데이트 날짜 : 2011년 04월 09일</span></li>
                                    <li><a href="#">다운로드</a></li>
                                </ul>
                                <strong class="stit">IEC667 - Series</strong>
                                <ul class="list list1 mb20">
                                    <li><span>업데이트 날짜 : 2011년 04월 09일</span></li>
                                    <li><a href="#">다운로드</a></li>
                                </ul>
                                <strong class="stit">IEC1000 - Series<span class="red">(CE 6.0)</span></strong>
                                <p class="txt mb10">IEC1000-Series SDK는 개발언어가 C++인 경우와 함께 C#, VB.NET언어를 사용하여 응용프로그램을 개발할 경우에도 반드시 SDK를 설치하시기 바랍니다.</p>
                                <ul class="list list1 mb20">
                                    <li><span>업데이트 날짜 : 2015년 01월 27일</span></li>
                                    <li><a href="#">다운로드</a></li>
                                </ul>
                                <strong class="stit gray">IEC1000 - Series(Campact 7)</strong>
                                <p class="txt mb10 gray">IEC1000-Series SDK는 개발언어가 C++인 경우와 함께 C#, VB.NET언어를 사용하여 응용프로그램을 개발할 경우에도 반드시 SDK를 설치하시기 바랍니다.</p>
                                <ul class="list list1 mb0 gray">
                                    <li><span>업데이트 날짜 : 2012년 09월 12일</span></li>
                                    <li><a href="#">다운로드</a></li>
                                </ul> 
                            </div>                           
                        </div>
                    </dd>
                </dl>
                <dl id="n7" class="cnt">
                    <dt>
                        <span class="num">7</span>
                        <strong class="tit">WZC Tool</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data6.jpg" alt="WZC Tool" />
                        </div>
                        <div class="data">
                            <ul class="list list1 __tn">
                                <li><span>업데이트 날짜 : 2013년 08월 30일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">프로그램은 무선랜과 AP(Access Pont)연결을 Command방식으로 처리하는 프로그램입니다. 즉 Windows 창과 같은 GUI가 없는 형태의 설정 프로그램입니다. 무선랜을 사용하여 제품에 무선랜을 장착할 경우 연결 설정 창이(GUI)출력됩니다. 이창에서 설정하시면 됩니다. <br /><br />암호화 방식 AES는 지원 관련 GUI창에서 설정 할 경우 AES방식이 지원되지만 wzctool.exe에서는 지원이 되지 않습니다.<br /><br /><strong class="bold">[지원가능 제품] IEC 266/667/1000-Series</strong><br /><strong class="bold">[사용 방법]</strong> IEC-Series 제품매뉴얼 → Part - V. 기타옵션제품 → 1-5.WZC Tool.exe 사용하기 참고</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n8" class="cnt">
                    <dt>
                        <span class="num">8</span>
                        <strong class="tit">.NET Compact Framework(2.0/3.5 버전)</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data7.jpg" alt=".NET Compact Framework(2.0/3.5 버전)" />
                        </div>
                        <div class="data">
                            <ul class="list list1 mb20 __tn">
                                <li><span>업데이트 날짜 : 2016년 06월 17일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">Windows 10, 8.1, 8에서 VisualStudio 2008 사용자가 .NET Compact Framework 관련 문제가 발생하는 경우 압축 파일을 다운로드 받고 아래와 같은 순서로 설치 바랍니다.<br />[STEP-1] .NET Compcat Framework 2.0  파일 설치<br />[STEP-2] .NET Compcat Framework 3.5 파일 설치<br /><br /><strong class="red bold">※.NET Compact Framework 2.0/3.5 설치해도 오류가 발생하는 경우</strong><br />- <span class="line">.NET Compcat Framework 3.5 Power Toys 파일 설치</span><br />- <span class="line">공지사항 93. Windows 10(pc의 OS) 개발환경 지원 안내 참조 하신 후 SmartX Framework 재설치</span> 하시기 바랍니다.</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n9" class="cnt">
                    <dt>
                        <span class="num">9</span>
                        <strong class="tit">BootLogo 이미지 변환 프로그램</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub51_data8.jpg" alt="BootLogo 이미지 변환 프로그램" />
                        </div>
                        <div class="data">
                            <ul class="list list1 mb20 __tn">
                                <li><span>업데이트 날짜 : 2016년 10월 04일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">SmartBootLogo를 사용하여 BootLogo 이미지를 변경할 경우 이미지의 형식이 16Bit-Bitmap565 형식으로 되어 있어야 합니다. 따라서 이미지 형식을 변환하기 위한 작업이 필요하며 이 과정에서 포토샵이나 별도의 프로그램이 필요합니다.<br />BootLogo 이미지 변환 프로그램은 이미지파일(BMP, JPG, PNG, GIF)을 쉽게 16Bit-Bitmap565 형식으로 변환해주는 프로그램입니다. <br /><br /><strong class="bold">[주 의]</strong>  IEC - Series LCD 해상도에 따라 맞는 이미지가 필요합니다.<br /><strong class="bold">[참 조]</strong> SmartX Programming Guide의 SmartBootLogo을 참고하시기 바랍니다.</p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->    

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>