<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=180413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=180413"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=180418"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>통합검색</dt>
                    <dd>Search</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>제품구매안내</span>
                </a>     
                <a href="#" class="next">
                    <span>A/S 안내</span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">고객지원</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">통합검색</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub07_04">
        <div class="_inner">            
            <div class="sch_box">
                <div class="sch_input">
                    <input type="text" id="" name="" />
                    <a href="#none" class="autobtn">자동완성 버튼</a>
                    <!-- 자동 완성 박스 추후 hns 에서 작업 예정 -->
                    <div class="sch_autobox" style="display:none;"></div>
                    <!-- 자동 완성 박스 추후 hns 에서 작업 예정 -->
                </div>
                <button type="submit" class="sch_btn">검색</button>       
            </div>

            <span class="sch_subject">통합 검색 페이지 입니다. <br class="__m" />검색어를 입력하세요.</span>
            <span class="sch_subject">“ SmartX ”검색 결과 <br class="__m" />총 8건이 검색되었습니다.</span>
            <span class="sch_subject">“ ㅁ ”  검색결과 <br class="__m" />일치하는 자료를 찾을수 없습니다. </span>

            <!-- 작업 전 확인 // 1. 검색 페이지 접속시 화면(default) 2. 검색 후 결과 있을 때 화면 3. 검색 후 결과가 아예 없을 때 화면 확인 요망 -->
            <div class="sch_cont">
                <strong class="tit">사이트 컨텐츠<span class="cnt">[0]
                </span></strong>

                <p class="sch_txt">“Smartx”검색어와 일치한 결과를 찾을수 없습니다. </p>
            </div>
            <div class="sch_cont">
                <strong class="tit">자료실<span class="cnt">[4]
                </span></strong>

                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartX Framework UI</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > SmartX Framework 관련</span>
                    <p class="sch_txt">SmartX Framework 컴포넌트를 이용하여 쉽게 화면구성을 할수 있습니다.</p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->
                
                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartXFramework 프로그래밍 가이드</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > SmartX Framework 관련</span>
                    <p class="sch_txt">IEC-Series에서 프로그램 효율을 극대화 할수 있는 컴포넌트 레퍼런스 매뉴얼입니다. </p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->

                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartXFramework 설치파일</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > SmartX Framework 관련</span>
                    <p class="sch_txt">SmartX Framework 설치파일 자동설치 및 수동설치 파일이 포함되어 있습니다.  </p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->

                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartX Framework 예제</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > SmartX Framework 관련</span>
                    <p class="sch_txt">SmartX Framework 포함된 컴포넌트 예제소스를 제품및 언어별로 다운로드 받아 참고하시기 바랍니다.</p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->
            </div>
            <div class="sch_cont">
                <strong class="tit">Tech Note<span class="cnt">[3]
                </span></strong>

                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartXFramework 컴포넌트 투명 적용 시 주의사항 및 문제시 확인사항</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > TechNote</span>
                    <p class="sch_txt">IEC-Series에서 프로그램 효율을 극대화 할수 있는 컴포넌트 레퍼런스 매뉴얼입니다.</p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->

                <a href="#" class="sch_link">
                    <strong class="sch_antit">C++(MFC or API)에서 SmartXFramework 관련기능 간접호출 방법</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > TechNote</span>
                    <p class="sch_txt">SmartX Framework 컴포넌트를 이용하여 쉽게 화면구성을 할 수 있습니다.</p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->

                <a href="#" class="sch_link">
                    <strong class="sch_antit">SmartXFramework 관련 DLL 참조 에러발생시 해결 방법 안내</strong>
                    <span class="sch_bread">자료 위치 : 자료실 > TechNote</span>
                    <p class="sch_txt">프로젝트를 개발 시 다양한 원인으로 참조 에러가 발생하는 경우 SmartX Framework 관련 DLL파일의 재 참조로 해당 문제를 해결하는 방법을 안내합니다.</p>
                </a>
                <div class="sch_line"></div><!-- 라인 -->
            </div>
            <div class="sch_cont">
                <strong class="tit">Connected Device<span class="cnt">[0]
                </span></strong>
                <p class="sch_txt">“Smartx”검색어와 일치한 결과를 찾을수 없습니다. </p>
            </div>

        </div>    
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>