<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=18101111413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=18011111413"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=18111014118"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>SmartX Framework 관련</dt>
                    <dd>Ref.data</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>제품 관련</span>
                </a>     
                <a href="#" class="next">
                    <span>도면 및 승인원</span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">자료실</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">SmartX Framework 관련</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
        
        <div class="_scate">
            <ul class="_inner_category menu4">
                <li class="over"><a href="#n1"><span>개발환경 구축 가이드</span></a></li>
                <li><a href="#n2"><span>UI 디자인 가이드</span></a></li>
                <li><a href="#n3"><span>프로그래밍 가이드</span></a></li>
                <li><a href="#n4"><span>설치파일</span></a></li>
                <li><a href="#n5"><span>SmartX C++ For DLL 파일</span></a></li>    
                <li><a href="#n6"><span>예제파일</span></a></li>
                <li><a href="#n7"><span>SmartFileSetting</span></a></li>
                <li><a href="#"><span></span></a></li>               
            </ul>
        </div>
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub05_02">
        <div class="_inner">
            <div class="sub52_top">
                <div class="guide">
                    <span class="tit">자료실 이용안내</span>
                    <span class="txt">SmartX Framework 설치 및 사용하는 방법, 예제 자료를 제공하고 있으며,  <strong>SmartX Framework 컴포넌트에 대한 자료는 SmartX Framework 프로그래밍 가이드를 다운로드</strong> 하여 참고하시기 바랍니다. </span>
                </div>
                <div class="box">                    
                    <div class="step"><span class="card">Step-1</span><strong class="tit">개발환경 구축 가이드(Starting Developer Guide)</strong><span class="txt">IEC-Series의 기본적인 개발환경 구축 관련 문서</span></div>
                    <div class="step"><span class="card">Step-2</span><strong class="tit">SmartX Framework UI(사용자 인터페이스) 디자인 가이드 </strong><span class="txt">SmartX를 활용한 UI 디자인 적용을 쉽게 설명한 자료(프로그래머편, 디자이너편 각각 수록 됨) </span></div>
                    <div class="step"><span class="card">Step-3</span><strong class="tit">SmartX Framework 프로그래밍 가이드</strong><span class="txt">SmartX Framework Reference 가이드 문서로 SmartX 사용에 필요한 기본적인 지식 및 모든 Component의 상세한 설명문서 자료</span></div>
                </div>
            </div>
            <div class="pro_data smart_data fold">                
                <dl id="n1" class="cnt">
                    <dt>
                        <span class="num">1</span>
                        <strong class="tit">개발환경 구축 가이드(Starting Developer Guide)<span class="card">Step-1</span></strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data0.jpg" alt="개발환경 구축 가이드(Starting Developer Guide)" />
                        </div>
                        <div class="data">
                            <p class="txt mb20">문서 및 영상은 IEC-Series와 SmartX Framework를 처음 접하시는 개발자분들에게 빠른 이해와 쉬운 개발환경 구축 안내를 제공하고자 만든 자료 입니다.<br />사용하시는 개발환경에 따라 클릭하여 문서 및 동영상 설명을 보실 수 있으며, Visual C#/C++/Basic 문법적인 사적지식이 필요합니다.</p>
                            <ul class="list list2 mb10">
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>                                
                            </ul>
                            <table class="data_tbl">
                                <colgroup>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                    <col width="25%"/>
                                </colgroup>
                                <tr>
                                    <th scope="row">개발언어</th>
                                    <th scope="col" class="bl">
                                        <img src="./images/sub52_ico1.gif" alt="Visual C++" />
                                        <span class="tit">Visual C++</span>
                                    </th>
                                    <th scope="col" class="bl">
                                        <img src="./images/sub52_ico2.gif" alt="Visual C++" />
                                        <span class="tit">Visual C#</span>
                                    </th>
                                    <th scope="col" class="bl">
                                        <img src="./images/sub52_ico3.gif" alt="Visual C++" />
                                        <span class="tit">Visual Basic</span>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">문서파일</th>
                                    <td><a href="#" class="down">문서 다운로드</a></td>
                                    <td><a href="#" class="down">문서 다운로드</a></td>
                                    <td><a href="#" class="down">문서 다운로드</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">영상자료</th>
                                    <td><a href="#" class="down">영상 바로가기</a></td>
                                    <td><a href="#" class="down">영상 바로가기</a></td>
                                    <td><a href="#" class="down">영상 바로가기</a></td>
                                </tr>
                            </table>
                        </div>
                    </dd>
                </dl>
                <dl id="n2" class="cnt">
                    <dt>
                        <span class="num">2</span>
                        <strong class="tit">SmartX Framework UI(사용자 인터페이스) 디자인 가이드<span class="card">Step-2</span></strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data1.jpg" alt="SmartX Framework UI(사용자 인터페이스) 디자인 가이드" />
                        </div>
                        <div class="data">
                            <p class="txt mb20">SmartX Framework 컴포넌트를 이용하여 쉽게 화면구성을 하실 수 있습니다. <br />본 자료는 SmartX Framework를 처음 접하시는 개발자와 디자이너 분들께 UI(사용자 인터페이스) 적용 방법과 노하우를 쉽게 정리하여 만들어진 문서와 예제소스코드 자료입니다.<br /><br />프로그래머가 보는 프로그래머 편과 이미지를 작업하는 디자이너가 보는 디자이너 편으로 구성하여 작업자에 따라 확인하여 보실 수 있습니다. </p>
                            <ul class="list list2 mb20">
                                <li><span>업데이트 날짜 : 2011년 04월 09일</li>                                
                            </ul>
                            <strong class="stit jum">예제 프로젝트 파일
                                <span>(본 예제는 IEC1000-Series C#, VB 기준으로 작성되었습니다.)</span></strong>
                            <ul class="link mb20">
                                <li><a href="#">[Visual C#] 다운로드</a></li>
                                <li><a href="#">[Visual Basic] 다운로드</a></li>
                            </ul>
                            <strong class="stit">가이드</strong>
                            <ul class="link">
                                <li><a href="#">[프로그래머 편] 다운로드</a></li>
                                <li><a href="#">[디자이너 편] 다운로드</a></li>
                            </ul>
                            
                        </div>
                    </dd>
                </dl>
                <dl id="n3" class="cnt">
                    <dt>
                        <span class="num">3</span>
                        <strong class="tit">SmartX Framework 프로그래밍 가이드<span class="card">Step-3</span></strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data2.jpg" alt="SmartX Framework 프로그래밍 가이드" />
                        </div>
                        <div class="data">
                            <ul class="list mb20">
                                <li><span>Revision No : 19</span></li>
                                <li><span>업데이트 날짜 : 2014년 01월 20일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">IES-Series에서 프로그램 효율을 극대화 할 수 있는 컴포넌트 레퍼런스 매뉴얼 입니다.<br />SmartX Framework 솔루션은 지속적인 업데이트가 이루어 지고 있으며, 안정적이고 편리한 기능으로 개발 시간을 단축시켜 드릴 솔루션 입니다.</p>
                        </div>
                    </dd>
                </dl>
                <dl id="n4" class="cnt pb0">
                    <dt>
                        <span class="num">4</span>
                        <strong class="tit">SmartX Framework 설치파일<span class="red">(Ver.3.0.1)</span></strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data3.jpg" alt="SmartX Framework 설치파일 (Ver.3.0.1)" />
                        </div>
                        <div class="data">                            
                            <p class="txt mb30">SmartX Framework 설치파일입니다. 자동설치 및 수동설치 파일이 포함 되어 있습니다. <br /><br /><span class="red">설치환경 : Windows XP, Windows Vista, Windows 7, Windows 10<br />개발 Tool : Visual Studio 2005/2008 </span></p>
                            <ul class="list list2 __tn">
                                <li><span>업데이트 날짜 : 2018년 03월 09일</span></li>                                
                            </ul>
                        </div>
                        <table class="data_tbl1">
                            <colgroup>
                                <col width="39%"/>
                                <col width="13%"/>
                                <col width="13%"/>
                                <col width="13%"/>
                                <col width="22%"/>
                            </colgroup>
                            <tr>
                                <th scope="col">SmartX Framework 설치파일 지원</th>
                                <th scope="col" class="bl">IEC266 - Series</th>
                                <th scope="col" class="bl">IEC667 - Series</th>
                                <th scope="col" class="bl">IEC1000 - Series</th>
                                <th scope="col" class="bl">지원 툴(Visaul Studio)</th>
                            </tr>
                            <tr>
                                <td class="blue mid">.NET Compact Framework 2.0 Base SmartX Framework </td>
                                <td class="blue mid bl">지원</td>
                                <td class="blue mid bl">지원</td>
                                <td class="bl">미지원</td>
                                <td class="bl">Visual Studio 2005/<strong>2008</strong></td>
                            </tr>
                            <tr>
                                <td class="green mid">.NET Compact Framework 3.5 Base SmartX Framework</td>
                                <td class="bl">미지원</td>
                                <td class="green mid bl">지원</td>
                                <td class="green mid bl">지원</td>
                                <td class="bl"><strong>Visual Studio 2008</strong></td>
                            </tr>
                        </table>
                        <div class="sub52_data_btnbox __tn">
                            <a href="#"><span><strong>.NET Compact Framework 2.0 Base SmartX Framework<br />설치파일</strong></span></a>
                            <a href="#"><span><strong>.NET Compact Framework 3.0 Base SmartX Framework<br />설치파일</strong></span></a>
                        </div>
                        <div class="update_wrap">
                            <div class="update_info">
                                <strong class="tit">※ SmartX Framework 최신 업데이트 정보</strong>
                                <span class="txt">SmartX Framework 업데이트 내역입니다. 설치 및 사용시 참고 하여 사용하시기 바랍니다.</span>
                            </div><!-- //update_info -->                     
                            <div class="latest_update">
                                <div class="top">
                                    <span class="num">NO.&nbsp; 31</span>
                                    <strong class="tit">SmartX Framework <span class="red">Ver.3.0.0</span></strong>
                                    <span class="date">업데이트 일 : 2008년 12월 12일</span>
                                </div>
                                <div class="bot">
                                    <span class="update_tit blue">기능추가</span>
                                    <strong class="update_subject blue">1. SmartInputCounter 컴포넌트 추가</strong>
                                    <p class="update_txt">기존 SmartGPIO의 입력성능을 대폭 개선하여 고속의 입력 처리를 쉽게 구현하도록 만들어진 컴포넌트 입니다. SmartInputCounter는 InputCounter Block과 함께 사용해야 합니다. 별도로 입력을 담당하는 MCU가 있어 고속의 입력신호를 직접 카운팅 합니다.<br />- SmartGPIO의 입력대비 고속의 입력 처리기능 지원(별도 MCU 처리)<br />   기존 IEC-Series SmartGPIO의 Input 성능 대비 약 27,000배 성능 향상<br />   기존 InputBlock은 22Hz(41ms)에 비해 SmartInputCounter는 680Khz(0.00147ms)속도로 수신가능<br />- 최대 8채널(ch) 및 최대 64Bit Data Width 지원<br />- CheckSum Exception 기능 지원으로 데이터 신뢰성 보장</p>
                                    <strong class="update_subject blue">2. SmartSerialPort 컴포넌트 추가 </strong>
                                    <p class="update_txt">SmartSerialPort는 시리얼 통신을 처리하기 위한 컴포넌트로 Event 또는 Polling방식의 기능을 지원하며 Frame구조와 None-Frame 구조의 통신을 모두 지원하여 다양한 통신환경에 쉽고 편리하게 적용하여 개발할 수 있도록 만들어 진 컴포넌트 입니다.<br />- Event 또는 Polling 방식의 수신 기능 지원<br />- Event 수신 시 수신 Queue 지원<br />- 송/수신 데이터 표현 방식</p>

                                    <span class="update_tit cobalt">기능개선</span>
                                    <strong class="update_subject cobalt">1. SmartUpDown</strong>
                                    <p class="update_txt">편리한 레이아웃 설정기능(Custom, Right1, Right2, Bottom, 정렬)추가, 입력 가속도 설정 기능 추가</p>
                                    <strong class="update_subject cobalt">2. SmartProgressBar</strong>
                                    <p class="update_txt">- BackColor 속성 값 미 설정시 메시지 창 출력. 그림판에서 스포이드로 정확하게 알 수 있음 </p>
                                    <strong class="update_subject cobalt">3. SmartSerialPort, SmartTCPMultiServer, SmartTcpClient 함수명 변경</strong>
                                    <p class="update_txt">- 기존 ConvertByteToASCII()를 ConvertAsciiByteToString()로 변경 <br />- 기존 ConvertByteToUnicode()를 ConvertUnicodeByteToString()로 변경 </p>

                                    <span class="update_tit red">버그수정</span>
                                    <strong class="update_subject red">1. SmartUpDown</strong>
                                    <p class="update_txt">- 초기 Value값 0이 디자인 모드에서 안 보이는 버그 수정</p>
                                    <strong class="update_subject red">2. SmartListBox</strong>
                                    <p class="update_txt">- SelectItemIndex 폼 디자인 속성값 설정 시 Error 발생 버그 수정</p>
                                    <strong class="update_subject red">3. SmartTrackBar </strong>
                                    <p class="update_txt">- Bar 끝 쪽 라운드 부분 문제 개선<br />- 크기에 따라 라운드 모서리 부분 흰색 점 제거<br />- SmartTrackBar Height 44이하일 때 좌/우 끝부분에 흰색 점이 생김<br />- Bar Drag 이동시 Step 값에 따라 터치와 Bar의 위치 오차 개선<br />- BackPictureBox, 1, 2 속성 적용시 메모리 낭비 현상 개선<br />- IEC1000-Series 에서 SmartTrackBar의 수가 많을 경우 SmartTrackBar의 배경 깨지는 문제 점 개선</p>
                                </div>
                            </div><!-- //latest_update -->
                            <div class="update_history">
                                <div class="preupdate">이전 업데이트 내역 보기  ▼</div>
                                <div class="smart_data4 fold1">            
                                    <div class="fold_wrap">
                                        <div class="fold_top">
                                           <span class="snum">NO.<em></em>30</span>
                                           <strong class="tit">SmartX Framework <span class="red">Ver.3.0.0</span></strong>
                                           <span class="date">업데이트 일 : 2008년 12월 12일</span>
                                        </div>
                                        <div class="fold_bot">    
                                            <span class="update_tit blue">기능추가</span>
                                            <strong class="update_subject blue">1. SmartInputCounter 컴포넌트 추가</strong>
                                            <p class="update_txt">기존 SmartGPIO의 입력성능을 대폭 개선하여 고속의 입력 처리를 쉽게 구현하도록 만들어진 컴포넌트 입니다. SmartInputCounter는 InputCounter Block과 함께 사용해야 합니다. 별도로 입력을 담당하는 MCU가 있어 고속의 입력신호를 직접 카운팅 합니다.<br />- SmartGPIO의 입력대비 고속의 입력 처리기능 지원(별도 MCU 처리)<br />   기존 IEC-Series SmartGPIO의 Input 성능 대비 약 27,000배 성능 향상<br />   기존 InputBlock은 22Hz(41ms)에 비해 SmartInputCounter는 680Khz(0.00147ms)속도로 수신가능<br />- 최대 8채널(ch) 및 최대 64Bit Data Width 지원<br />- CheckSum Exception 기능 지원으로 데이터 신뢰성 보장</p>
                                            <strong class="update_subject blue">2. SmartSerialPort 컴포넌트 추가 </strong>
                                            <p class="update_txt">SmartSerialPort는 시리얼 통신을 처리하기 위한 컴포넌트로 Event 또는 Polling방식의 기능을 지원하며 Frame구조와 None-Frame 구조의 통신을 모두 지원하여 다양한 통신환경에 쉽고 편리하게 적용하여 개발할 수 있도록 만들어 진 컴포넌트 입니다.<br />- Event 또는 Polling 방식의 수신 기능 지원<br />- Event 수신 시 수신 Queue 지원<br />- 송/수신 데이터 표현 방식</p>

                                            <span class="update_tit cobalt">기능개선</span>
                                            <strong class="update_subject cobalt">1. SmartUpDown</strong>
                                            <p class="update_txt">편리한 레이아웃 설정기능(Custom, Right1, Right2, Bottom, 정렬)추가, 입력 가속도 설정 기능 추가</p>
                                            <strong class="update_subject cobalt">2. SmartProgressBar</strong>
                                            <p class="update_txt">- BackColor 속성 값 미 설정시 메시지 창 출력. 그림판에서 스포이드로 정확하게 알 수 있음 </p>
                                            <strong class="update_subject cobalt">3. SmartSerialPort, SmartTCPMultiServer, SmartTcpClient 함수명 변경</strong>
                                            <p class="update_txt">- 기존 ConvertByteToASCII()를 ConvertAsciiByteToString()로 변경 <br />- 기존 ConvertByteToUnicode()를 ConvertUnicodeByteToString()로 변경 </p>
                                        </div>
                                    </div>
                                    <div class="fold_wrap">
                                        <div class="fold_top">
                                           <span class="snum">NO.<em></em>30</span>
                                           <strong class="tit">SmartX Framework <span class="red">Ver.3.0.0</span></strong>
                                           <span class="date">업데이트 일 : 2008년 12월 12일</span>
                                        </div>
                                        <div class="fold_bot">           
                                            ??
                                        </div>
                                    </div>
                                    <div class="fold_wrap">
                                        <div class="fold_top">
                                           <span class="snum">NO.<em></em>30</span>
                                           <strong class="tit">SmartX Framework <span class="red">Ver.3.0.0</span></strong>
                                           <span class="date">업데이트 일 : 2008년 12월 12일</span>
                                        </div>
                                        <div class="fold_bot">           
                                            ??
                                        </div>
                                    </div>
                                    <div class="fold_wrap">
                                        <div class="fold_top">
                                           <span class="snum">NO.<em></em>30</span>
                                           <strong class="tit">SmartX Framework <span class="red">Ver.3.0.0</span></strong>
                                           <span class="date">업데이트 일 : 2008년 12월 12일</span>
                                        </div>
                                        <div class="fold_bot">           
                                            <span class="update_tit blue">기능추가</span>
                                            <strong class="update_subject blue">1. SmartInputCounter 컴포넌트 추가</strong>
                                            <p class="update_txt">기존 SmartGPIO의 입력성능을 대폭 개선하여 고속의 입력 처리를 쉽게 구현하도록 만들어진 컴포넌트 입니다. SmartInputCounter는 InputCounter Block과 함께 사용해야 합니다. 별도로 입력을 담당하는 MCU가 있어 고속의 입력신호를 직접 카운팅 합니다.<br />- SmartGPIO의 입력대비 고속의 입력 처리기능 지원(별도 MCU 처리)<br />   기존 IEC-Series SmartGPIO의 Input 성능 대비 약 27,000배 성능 향상<br />   기존 InputBlock은 22Hz(41ms)에 비해 SmartInputCounter는 680Khz(0.00147ms)속도로 수신가능<br />- 최대 8채널(ch) 및 최대 64Bit Data Width 지원<br />- CheckSum Exception 기능 지원으로 데이터 신뢰성 보장</p>
                                            <strong class="update_subject blue">2. SmartSerialPort 컴포넌트 추가 </strong>
                                            <p class="update_txt">SmartSerialPort는 시리얼 통신을 처리하기 위한 컴포넌트로 Event 또는 Polling방식의 기능을 지원하며 Frame구조와 None-Frame 구조의 통신을 모두 지원하여 다양한 통신환경에 쉽고 편리하게 적용하여 개발할 수 있도록 만들어 진 컴포넌트 입니다.<br />- Event 또는 Polling 방식의 수신 기능 지원<br />- Event 수신 시 수신 Queue 지원<br />- 송/수신 데이터 표현 방식</p>

                                            <span class="update_tit cobalt">기능개선</span>
                                            <strong class="update_subject cobalt">1. SmartUpDown</strong>
                                            <p class="update_txt">편리한 레이아웃 설정기능(Custom, Right1, Right2, Bottom, 정렬)추가, 입력 가속도 설정 기능 추가</p>
                                            <strong class="update_subject cobalt">2. SmartProgressBar</strong>
                                            <p class="update_txt">- BackColor 속성 값 미 설정시 메시지 창 출력. 그림판에서 스포이드로 정확하게 알 수 있음 </p>
                                            <strong class="update_subject cobalt">3. SmartSerialPort, SmartTCPMultiServer, SmartTcpClient 함수명 변경</strong>
                                            <p class="update_txt">- 기존 ConvertByteToASCII()를 ConvertAsciiByteToString()로 변경 <br />- 기존 ConvertByteToUnicode()를 ConvertUnicodeByteToString()로 변경 </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //update_history -->
                        </div><!-- //update_wrap -->
                    </dd>
                </dl>
                <dl id="n5" class="cnt">
                    <dt>
                        <span class="num">5</span>
                        <strong class="tit">SmartX C++ For DLL 파일</strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data4.jpg" alt="SmartX C++ For DLL 파일" />
                        </div>
                        <div class="data">
                            <p class="txt mb20">IEC - Series에서 C++언어에서 SmartX Framework의 일부 기능을 사용 할 수 있도록 하였습니다. 자세한 사항은 SmartX Framework 프로그래밍 가이드를 참조 하시기 바랍니다. </p>
                            <ul class="list mb10 __tn">
                                <li><span class="blue mid">IEC266 - Series</li>
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>      
                            <ul class="list mb10 __tn">
                                <li><span class="blue mid">IEC667 - Series</li>
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>    
                            <ul class="list __tn">
                                <li><span class="blue mid">IEC1000 - Series</li>
                                <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>                          
                        </div>
                    </dd>
                </dl>
                <dl id="n6" class="cnt">
                    <dt>
                        <span class="num">6</span>
                        <strong class="tit">SmartX Framework 예제파일 </strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data5.jpg" alt="SmartX Framework 예제파일" />
                        </div>
                        <div class="data">
                            <p class="txt mb30">SmartX Framework 포함 된 컴포넌트의 예제소스를 제품 및 언어별로 다운로드 받아 참고 하시기 바랍니다.<br /><br />지원언어 C#, Basic, C++(일부지원)<br />참 조 SmartX Framework 프로그래밍 가이드<br /><br /><span class="red"><strong class="mid">[주 의]</strong> 본 자료실에 포함된 소스코드는 개발 시 참고용 자료(학습)이므로 버그가 포함 되어 있을 수 있습니다. 프로그램 개발 시 이러한 버그들을 수정 및 검층작업을 직접 하셔야 합니다. </span></p>      
                        </div>
                        <ul class="list list2 mb20 __tn">
                            <li><span>업데이트 날짜 : 2018년 02월 27일</span></li>                                
                        </ul>
                        <strong class="sstit __tn">.NET Compact Framework 2.0 Base 버전</strong>
                        <table class="data_tbl mb20 __tn">
                            <colgroup>
                                <col width="25%"/>
                                <col width="25%"/>
                                <col width="25%"/>
                                <col width="25%"/>
                            </colgroup>
                            <tr>
                                <th></th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico1.gif" alt="Visual C++" />
                                    <span class="tit">Visual C++</span>
                                </th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico2.gif" alt="Visual C++" />
                                    <span class="tit">Visual C#</span>
                                </th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico3.gif" alt="Visual C++" />
                                    <span class="tit">Visual Basic</span>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">IEC266 - Series</th>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                            </tr>
                            <tr>
                                <th scope="row">IEC667 - Series</th>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                            </tr>
                        </table>
                        <strong class="sstit green __tn">.NET Compact Framework 3.5 Base 버전</strong>
                        <table class="data_tbl green mb10 __tn">
                            <colgroup>
                                <col width="25%"/>
                                <col width="25%"/>
                                <col width="25%"/>
                                <col width="25%"/>
                            </colgroup>
                            <tr>
                                <th></th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico1.gif" alt="Visual C++" />
                                    <span class="tit">Visual C++</span>
                                </th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico2.gif" alt="Visual C++" />
                                    <span class="tit">Visual C#</span>
                                </th>
                                <th scope="col" class="bl">
                                    <img src="./images/sub52_ico3.gif" alt="Visual C++" />
                                    <span class="tit">Visual Basic</span>
                                </th>
                            </tr>
                            <tr>
                                <th scope="row">IEC1000 - Series</th>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                                <td><a href="#" class="down">다운로드</a></td>
                            </tr>                            
                        </table>
                        <p class="warn1 __tn">※ IEC667 - Series의 .NET Compact Framework 3.5 Base  버전 예제파일은 “SmartX Framework 프로그래밍 가이드 ”Port - IV. SmartX Framework 예제를 사용하기”를 참고하시기 바랍니다.</p>
                    </dd>
                </dl>
                <dl id="n7" class="cnt">
                    <dt>
                        <span class="num">7</span>
                        <strong class="tit">SmartFileSetting 프로그램 </strong>
                    </dt>
                    <dd>           
                        <div class="img">
                            <img src="./images/sub52_data6.jpg" alt="SmartFileSetting 프로그램 " />
                        </div>
                        <div class="data">
                            <ul class="list list1 __tn">
                                <li><span>업데이트 날짜 : 2018년 03월 09일</span></li>
                                <li><a href="#">다운로드</a></li>
                            </ul>
                            <p class="txt">SmartFileSetting은 제품 생산시 개발자가 IEC-Series를 자신의 업체에 맞게 한번에 제품 셋팅이 되도록 하는 Component가 아닌 프로그램입니다. 이 프로그램은 IEC-Series (266/667/1000) 에서 사용 가능합니다. SmartFileSetting은 SmartX Framework의 기능중 일부분 입니다.<br />자세한 사항은 SmartX Framework 프로그래밍 가이드를 참조 하시기 바랍니다. </p>
                        </div>
                    </dd>
                </dl>                
            </div>
        </div>
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->    

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>