<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=181011413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=1801111413"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=1811014118"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>Tech Note</dt>
                    <dd>Rroduct Ref.data</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>Connectd Device</span>
                </a>     
                <a href="#" class="next">
                    <span>SmartX Framework 관련</span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">자료실</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">Tech Note</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->      
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub05_04">
        <div class="_inner">
            <div class="sub54_top">
                TechNote는 IEC-Series로 제품 개발시 유용하게 사용할 수 있는 기술자료와 노하우를 제공합니다.  제품개발시 유용하지만 찾기 어려운 기술자료나 노하우 자료들을 공유하기 위한 목적으로 만들어 졌으며 지속적인 업데이트를 통해 제품 개발의 편의성과 시간절약을 제공하도록 하겠습니다.
            </div>
            <div class="notlist_top">
                <div class="sch">
                    <form name="" action="">
                    <select class="notlist_sel">
                        <option value="">제목</option>
                        <option value="">내용</option>
                        <option value="">제목 + 내용</option>
                    </select>
                    <input type="text" id="" name="" class="notlist_input" />
                    <button type="submit">검색</button>
                    </form>
                </div>               
            </div><!-- //notlist_top -->
            <table class="technote_list">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />                    
                </colgroup>
                <tr>   
                    <th scope="col" class="subject">15</th>
                    <th scope="col" class="subject tal">프로그램 파일 용량이 저장소 메모리보다 큰 경우 배포 오류 처리방법</th>
                </tr>
                <tr>
                    <td colspan="2" class="plr0">
                        <div class="desc">
                            <span class="tit">작성일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit">수정일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit">첨부파일</span>
                            <span class="file"><a href="#">&nbsp;</a></span>                           
                            <!-- 첨부파일 없을 경우, 필히 공백(&nbsp;) 추가돼야 함 --> 
                            <span class="tit">조회수</span>
                            <span class="cnt">00000</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">분류</th>
                    <td>Knowhow, Trouble Shooting</td>
                </tr>
                <tr>
                    <th scope="row" class="vt">개요</th>
                    <td>프로그램 관련 파일(EXE, DLL 등등)용량이 저장소 메모리(Object Store) / RAM Disk 영역보다 큰 경우 프로그램을 배포 시 다운로드 오류가 발생합니다. IEC-Series 장치에서 저장소 메모리(RAM Disk)의 크기를 조절하여 오류를 해결하는 방법을 안내합니다.<a href="#" class="more"><img src="./images/sub54_more.gif" alt="더보기" /></a>                    
                    </td>
                </tr>
            </table>
            <table class="technote_list">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />                    
                </colgroup>
                <tr>   
                    <th scope="col" class="subject">14</th>
                    <th scope="col" class="subject tal">프로그램 파일 용량이 저장소 메모리보다 큰 경우 배포 오류 처리방법</th>
                </tr>
                <tr>
                    <td colspan="2" class="plr0">
                        <div class="desc">
                            <span class="tit w1">작성일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit w1">수정일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit w1">첨부파일</span>
                            <span class="file"><a href="#"><img src="./images/sub54_down.gif" alt="첨부파일" /></a></span>
                            <span class="tit w1">조회수</span>
                            <span class="cnt">00000</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">분류</th>
                    <td>Knowhow, Trouble Shooting</td>
                </tr>
                <tr>
                    <th scope="row" class="vt">개요</th>
                    <td>프로그램 관련 파일(EXE, DLL 등등)용량이 저장소 메모리(Object Store) / RAM Disk 영역보다 큰 경우 프로그램을 배포 시 다운로드 오류가 발생합니다. IEC-Series 장치에서 저장소 메모리(RAM Disk)의 크기를 조절하여 오류를 해결하는 방법을 안내합니다.<a href="#" class="more"><img src="./images/sub54_more.gif" alt="더보기" /></a>                    
                    </td>
                </tr>
            </table>
            <table class="technote_list">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />                    
                </colgroup>
                <tr>   
                    <th scope="col" class="subject">1</th>
                    <th scope="col" class="subject tal">프로그램 파일 용량이 저장소 메모리보다 큰 경우 배포 오류 처리방법</th>
                </tr>
                <tr>
                    <td colspan="2" class="plr0">
                        <div class="desc">
                            <span class="tit w1">작성일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit w1">수정일</span>
                            <span class="date">2018-00-00</span>
                            <span class="tit w1">첨부파일</span>
                            <span class="file"><a href="#"><img src="./images/sub54_down.gif" alt="첨부파일" /></a></span>
                            <span class="tit w1">조회수</span>
                            <span class="cnt">00000</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">분류</th>
                    <td>Knowhow, Trouble Shooting</td>
                </tr>
                <tr>
                    <th scope="row" class="vt">개요</th>
                    <td>프로그램 관련 파일(EXE, DLL 등등)용량이 저장소 메모리(Object Store) / RAM Disk 영역보다 큰 경우 프로그램을 배포 시 다운로드 오류가 발생합니다. IEC-Series 장치에서 저장소 메모리(RAM Disk)의 크기를 조절하여 오류를 해결하는 방법을 안내합니다.<a href="#" class="more"><img src="./images/sub54_more.gif" alt="더보기" /></a>                   
                    </td>
                </tr>
            </table>
            <div class="paging_wrap">                
                <div class="paging">
                    <a href="#" class="arr fst">처음으로</a>
                    <a href="#" class="arr prev">이전으로</a>
                    <a href="#" class="num active">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="num">4</a>
                    <a href="#" class="num">5</a>
                    <a href="#" class="num">6</a>
                    <a href="#" class="num">7</a>
                    <a href="#" class="arr next">다음으로</a>
                    <a href="#" class="arr lst">끝으로</a>
                </div>                   
            </div>
        </div>
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->    

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>