@{
    ViewData["Title"] = "Access denied";
}

<div class="sub_content sub01_02">
    <div class="_inner">
        <br />
        <br />
        <br />
        <h1 class="text-danger" style="color:red;">@ViewData["Title"]</h1>
        <p class="text-danger">접근 권한이 없습니다. </p>
        <br />
        <br />
        <br />
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="/template/images/go_top.png" alt="맨 위로"></a>
</div>
