
@{
    ViewData["Title"] = "Application";
}

<div class="sub_content sub02_01">
    <div class="_inner">
        <span class="sub21_tit">IEC-Series 제품 응용분야</span>
        <div class="sub21_box">
            <img src="~/template/images/sub21_img.gif" alt="" />
            <dl class="sub21_txt sub21_txt1">
                <dt>
                    <strong class="tit">의료기기 분야</strong>
                    <span class="stit">Medical and control</span>
                </dt>
                <dd>진단기기 / 치료기기 / 피부관 기기</dd>
                <dd>영상 진단기 / 생체 계측기</dd>
                <dd>환자모니터링 / 레이저 치료기</dd>
                <dd>헬스케어 기기</dd>
            </dl>
            <dl class="sub21_txt sub21_txt2">
                <dt>
                    <strong class="tit">자동화분야</strong>
                    <span class="stit">Automation field</span>
                </dt>
                <dd>PC 기반 자동화 시스템</dd>
                <dd>생산 자동화 / 공정 자동화 / 물류 자동화</dd>
                <dd>플랜트 자동화 / 자동화설비 / 반도체 설비</dd>
                <dd>공정 검사 장비</dd>
            </dl>
            <dl class="sub21_txt sub21_txt3">
                <dt>
                    <strong class="tit">계측 및 제어분야</strong>
                    <span class="stit">Measurement and control</span>
                </dt>
                <dd>유.공합 제어시스템 / 전력 계측 제어</dd>
                <dd>계장시스템 / 계측 및 실험 장비</dd>
                <dd>데이터 수집 및 분석 장비</dd>
                <dd>전원 공급 제어 장치</dd>
            </dl>
            <dl class="sub21_txt sub21_txt4">
                <dt>
                    <strong class="tit">모니터링 분야</strong>
                    <span class="stit">Monitoring field</span>
                </dt>
                <dd>통합 안전 시스템 / 재해 감시 경보 시스템</dd>
                <dd>유해물질 감시 장비/ 오.폐수 관리 시스템</dd>
                <dd>해양방재 모니터링 / 디지털 사이니지</dd>
                <dd>원격모니터링 / 센서 네트워크 모니터링</dd>
                <dd>공정 검사 장비 / 출입통제 및 보안관리 시스템 </dd>
            </dl>

        </div>
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->