
@{
    ViewData["Title"] = "Iec1000";
}


<div class="sub_content sub02_04 pro_intro">
    <div class="_inner">
        <div id="pro1" class="cnt">
            <div class="iec11_topbox" style="background:url(../template/images/sub24_img1.jpg) right top no-repeat;">
                <div class="iec11_tit">
                    <span>고성능 산업용 일체형 컴퓨터</span>
                    <strong>IEC1000 - Series</strong>
                </div>
                <div class="iec11_img __t">
                    <img src="../template/images/sub24_img1.jpg" alt="iec1000-series" />
                </div>
                <ul class="iec11_list">
                    <li>
                        <strong class="tit">CPU</strong>
                        <span class="desc">Coter A8 CPU<br />Core 1Ghz</span>
                    </li>
                    <li>
                        <strong class="tit">Cache</strong>
                        <span class="desc">L1 : 64KB<br />L2 : 512KB</span>
                    </li>
                    <li>
                        <strong class="tit">RAM</strong>
                        <span class="desc">512MB<br />DDR 2</span>
                    </li>
                    <li>
                        <strong class="tit">NAND Flash</strong>
                        <span class="desc">256MB</span>
                    </li>
                    <li>
                        <strong class="tit">LAN</strong>
                        <span class="desc">100Mbps</span>
                    </li>
                    <li>
                        <strong class="tit">OS</strong>
                        <span class="desc">Windows  CE 6.0</span>
                    </li>
                    <li>
                        <strong class="tit">Display Color Depth</strong>
                        <span class="desc">16Bit or 24Bit</span>
                    </li>
                    <li>
                        <strong class="tit">LCD Size</strong>
                        <span class="desc">10.9 ~ 38.1Cm<br />(4.3 ~ 15 inch)</span>
                    </li>
                </ul>
            </div>
            <div class="bluebox">
                <strong class="tit">제/품/특/징</strong>
                <p>
                    <span>SmartX Framework 무료 지원</span> <br />최소의 비용으로 HMI(Human Machine Interface)를 구현 가능<br />IEC-Series 간 완벽한 <span>H/W, S/W 호환성</span>으로 개발시간 단축 <br />B1/B2 Bezel Type 적용에 따라 제품의 완성도 UP / 터치 기능 기본 탑재(감압식 방식)<br />하드웨어를 편리하게 제어 및 연동  <span>Extension Port -Ⅰ,Ⅱ 지원</span><br />다양한 산업 응용 분야 적용(의료기기, 계측 및 모니터링 시스템, 자동화 시스템, 교육분야)
                </p>
            </div>
            <div class="iec11_box sub_fold">
                <div class="top">
                    <span class="tit">IEC1000XGA - I</span>
                </div>
                <div class="bot">
                    <div class="box">
                        <div class="img">
                            <img src="~/template/images/sub24_img2.jpg" alt="IEC1000XGA - I" />
                        </div>
                        <div class="txt">
                            <strong class="tit">제/품/특/징</strong>
                            <p class="desc">
                                별도의 외부 모니터를 장착하여 사용하시고 싶은 분을에게 추천<br />
                                외부모니터와 바로 연결하여 사용(D-SUB 인터페이스)<br />
                                <span>대화면 출력이 가능한 VGA 출력 지원</span><br />
                                디지털 TV 연결(PDP, LCD TV, 모니터)
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- //sub_fold -->
        </div><!-- //pro1 -->
        <div id="pro2" class="cnt">
            <span class="sub_tit iec12_mt50">주요 인터페이스 안내</span>
            <div class="iec12_box">
                <div class="img1">
                    <span class="tit">IEC1000 - Series</span>
                    <img src="~/template/images/iec12_img1.jpg" alt="IEC1000 - Series" />
                </div>
                <div class="img2">
                    <span class="tit">IEC1000Lite - Series</span>
                    <img src="~/template/images/iec12_img2.jpg" alt="IEC1000Lite - Series" />
                </div>
            </div><!-- //iec12_box -->
            <div class="iec12_box2">
                <strong class="tit">
                    [ Color Depth S/W 2번 설정안내]<br />
                    <span class="stit">OFF → 16Bit / ON → 24Bit</span>
                </strong>
                <div class="box">
                    <div class="tit">적용가능 제품</div>
                    <div class="txt">
                        IEC1000-07N, IEC1000-07N[B1/B2], IEC1000-08, IEC1000-08[B1/B2], IEC1000-104, IEC1000-104[B1/B2], IEC1000-150
                        IEC1000Lite-07N, IEC1000Lite-07N[B1/B2], IEC1000Lite-08, IEC1000Lite-08[B1/B2], IEC1000Lite-104, IEC1000Lite-104[B1/B2]
                    </div>
                </div>

            </div>
            <div class="iec12_interface sub_fold">
                <div class="top">
                    <span class="tit">IEC1000 - Series 인터페이스 위치</span>
                </div>
                <div class="bot">
                    <img src="~/template/images/iec12_inter1.jpg" alt="IEC1000 - Series 인터페이스 위치" />
                </div>
            </div><!-- //sub_fold -->
            <div class="iec12_interface sub_fold" style="border-top:none;">
                <div class="top">
                    <span class="tit">IEC1000Lite - Series 인터페이스 위치</span>
                </div>
                <div class="bot">
                    <img src="~/template/images/iec12_inter2.jpg" alt="IEC1000Lite - Series 인터페이스 위치" />
                </div>
            </div><!-- //sub_fold -->
        </div><!-- //pro2 -->
        <div id="pro3" class="cnt">
            <div class="iec13_mt85"></div>
            <span class="sub_tit">확장포트 안내(Extension Port - I, II)</span>
            <p class="sub_txt">Extension Port는 I/O(입.출력)제어, A/D(아날로그 입력), PWM, I2C등의 주변 장치를 직접 제어 가능하도록 설계된 확장 포트 입니다. SmartX Framework Solution 지원하여 SmartGPIO / SmartADC / SmartPWM / SmasrtDAC 로 쉽게 H/W를 설계 하실수 있습니다. </p>
            <div class="iec13_img">
                <img src="~/template/images/iec13_img11.jpg" alt="IEC1000 - Series" />
                <img src="~/template/images/iec13_img22.jpg" alt="IEC1000Lite - Series" />
            </div>
            <div class="iec13_box">
                <span class="txt blue"><em>Extension Port - I</em><img src="~/template/images/iec13_blue.jpg" alt="Extension Port - I" /> </span>
                <span class="txt red"><em>Extension Port - II</em><img src="~/template/images/iec13_red.jpg" alt="Extension Port - II" /></span>
            </div>
            <div class="iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>Extension Port - I, II 콘넥터별 핀 기능 제어</strong>
                    <p>위치 : [자료실]-[제품 관련] - [IEC - Series 제품 매뉴얼] - [Part 1. IEC - Series 구성] - [6. 인터페이스 콘넥터 핀 명칭] 참고</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>관련 옵션 <br class="__m" />제품군</span>
                </div>
                <div class="txt">
                    <p>Smart I/O - I, Smart I/O - II, Smart I/O - III, Smart Kit</p>
                </div>
            </div>
        </div><!-- //pro3 -->
        <div id="pro4" class="cnt">
            <span class="sub_tit">하드웨어 사양</span>
            <table class="iec14_tbl iec14_tbl1">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th class="tit0"></th>
                    <th class="tit1"><span>IEC1000 - Series</span></th>
                    <th class="tit2"><span>IEC1000Lite - Series</span> </th>
                </tr>
            </table>
            <span class="iec14_tbltit">[SyStem]</span>
            <table class="iec14_tbl iec14_tbl2 iec14_tbl2_pn">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th scope="row">CPU</th>
                    <td colspan="2">Cortex A8 CPU Core 1GHz </td>
                </tr>
                <tr>
                    <th scope="row">CACHE</th>
                    <td colspan="2">CACHE 64KB(L1), 512KB(L2)</td>
                </tr>
                <tr>
                    <th scope="row">RAM</th>
                    <td colspan="2">RAM 512MB DDR2</td>
                </tr>
                <tr>
                    <th scope="row">FLASH</th>
                    <td colspan="2">FLASH NAND FLASH : 256MB</td>
                </tr>
                <tr>
                    <th scope="row">SD MEMORY</th>
                    <td colspan="2">SD MEMORY SD지원 4GB / SDHC 최대 16GB 지원</td>
                </tr>
                <tr>
                    <th scope="row">Audio</th>
                    <td colspan="2">Stereo Sound 출력(내장 Mono Speaker)</td>
                </tr>
                <tr>
                    <th scope="row">Touch</th>
                    <td colspan="2">TOUCH 감압식(저항막) - 4선</td>
                </tr>
                <tr>
                    <th scope="row">RTC</th>
                    <td colspan="2">RTC 기능 내장(교체형 코인 타입 전지)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">전원</th>
                    <td class="bg1 blue">DC 9 ~ 24V</td>
                    <td class="bg2 dark">DC 5V</td>
                </tr>
                <tr>
                    <th scope="row">동작온도</th>
                    <td colspan="2">0 ~ 60℃</td>
                </tr>
                <tr>
                    <th scope="row">보관온도</th>
                    <td colspan="2">- 30 ~ 70℃</td>
                </tr>
            </table>
            <span class="iec14_tbltit">[Communication]</span>
            <table class="iec14_tbl iec14_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th scope="row">RS232</th>
                    <td colspan="2">2Ch</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">RS485</th>
                    <td class="bg1 blue">H/W(1ch)</td>
                    <td class="bg2 dark">S/W 방식(1ch)</td>
                </tr>
                <tr>
                    <th scope="row">TTL</th>
                    <td colspan="2">1Ch</td>
                </tr>
                <tr>
                    <th scope="row">I2C</th>
                    <td colspan="2">1Ch</td>
                </tr>
                <tr>
                    <th scope="row">USB Device</th>
                    <td colspan="2">1Ch - USB 1.1</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">USB Host</th>
                    <td class="bg1 blue">2Ch - USB 1.1</td>
                    <td class="bg2 dark">1Ch - USB 1.1</td>
                </tr>
                <tr>
                    <th scope="row">WLAN</th>
                    <td colspan="2">USB Type 무선랜 Option</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">Ethernet</th>
                    <td class="bg1 blue">100Mbps</td>
                    <td class="bg2 dark">-</td>
                </tr>
            </table>
            <span class="iec14_tbltit">[Extension Port]</span>
            <table class="iec14_tbl iec14_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg1">Extension Port - I,II</th>
                    <td class="bg1 blue">I, II</td>
                    <td class="bg2 dark">I</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">GPIO</th>
                    <td class="bg1 blue">60EA(3.3V)</td>
                    <td class="bg2 dark">16EA(3.3V)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg1">AD Converter</th>
                    <td class="bg1 blue">12Bit - 6ch</td>
                    <td class="bg2 dark">12Bit - 4ch</td>
                </tr>
                <tr>
                    <th scope="row">PWM</th>
                    <td colspan="2">2Ch</td>
                </tr>
            </table>
            <span class="iec14_tbltit">[LCD]</span>
            <table class="iec14_tbl iec14_tbl2">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg1">화면 지원크기</th>
                    <td class="bg1 blue">10.9 ~ 38.1cm(7 ~ 15inch)</td>
                    <td class="bg2 dark">10.9 ~ 26.4cm(4.3 ~ 10.4inch)</td>
                </tr>
                <tr>
                    <th scope="row">화면 비율</th>
                    <td colspan="2">4:3 or 15:9(화면 크기에 따라 지원 해상도 다름)</td>
                </tr>
                <tr>
                    <th scope="row">해상도</th>
                    <td colspan="2">640 * 480 / 800*480 / 800*600 / 1024*768(화면 크기에 따라 지원 해상도 다름)</td>
                </tr>
                <tr>
                    <th scope="row">Color</th>
                    <td colspan="2">65,536[16Bit] / 16,777,215[24Bit]</td>
                </tr>
                <tr>
                    <th scope="row">Backlight On/Off</th>
                    <td colspan="2">절전 기능 지원</td>
                </tr>
            </table>
            <span class="iec14_tbltit">[LCD 크기에 따른 제품군]</span>
            <table class="iec14_tbl iec14_tbl3">
                <colgroup>
                    <col class="wd1" />
                    <col class="wd2" />
                    <col class="wd2" />
                </colgroup>
                <tr>
                    <th scope="row">10.9Cm<br />(4.3inch , 15:9 , 480*272)</th>
                    <td>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 43</span>
                        <span>IEC1000Lite - 43B1</span>
                        <span>IEC1000Lite - 43B2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">14.2Cm<br />(5.6inch , 4:3 , 640*480)</th>
                    <td>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 56</span>
                        <span>IEC1000Lite - 56B1</span>
                        <span>IEC1000Lite - 56B2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">17.7Cm<br />(7inch , 15:9 , 800*480)</th>
                    <td>
                        <span>IEC1000 - 07N</span>
                        <span>IEC1000 - 07NB1</span>
                        <span>IEC1000 - 07NB2</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 07N</span>
                        <span>IEC1000Lite - 07NB1</span>
                        <span>IEC1000Lite - 07NB2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">20.3Cm<br />(8inch , 4:3 , 800*600)</th>
                    <td>
                        <span>IEC1000 - 08</span>
                        <span>IEC1000 - 08B1</span>
                        <span>IEC1000 - 08B2</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 08</span>
                        <span>IEC1000Lite - 08B1</span>
                        <span>IEC1000Lite - 08B2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">25.9Cm<br />(10.2inch , 15:9 , 800*480)</th>
                    <td>
                        <span>IEC1000 - 102</span>
                        <span>IEC1000 - 102B1</span>
                        <span>IEC1000 - 102B2</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 102</span>
                        <span>IEC1000Lite - 102B1</span>
                        <span>IEC1000Lite - 102B2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">26.4Cm<br />(10.4inch , 4:3 , 800*600)</th>
                    <td>
                        <span>IEC1000 - 104</span>
                        <span>IEC1000 - 104B1</span>
                        <span>IEC1000 - 104B2</span>
                    </td>
                    <td>
                        <span>IEC1000Lite - 104</span>
                        <span>IEC1000Lite - 104B1</span>
                        <span>IEC1000Lite - 104B2</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">26.4Cm<br />(10.4inch , 4:3 , 1024*768)</th>
                    <td>
                        <span>IEC1000 - 104H</span>
                        <span>IEC1000 - 104HB1</span>
                        <span>IEC1000 - 104HB2</span>
                    </td>
                    <td>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">38.1Cm<br />(15inch , 4:3, 1024*768)</th>
                    <td>
                        <span>IEC1000 - 150</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                    <td>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">None, 별도 외부 모니터 지원<br />(1024*768)</th>
                    <td>
                        <span>IEC1000XGA - I</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                    <td>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </td>
                </tr>
            </table>
            <p class="iec14_warn">각 LCD 사양은 [자료실]-[도면및승인원]에서 승인원을 참고하시기 바랍니다.</p>
        </div><!-- //pro4 -->
        <div id="pro5" class="cnt">
            <span class="sub_tit">운영체제 사양</span>
            <p class="iec15_txt"><span class="blue">IEC-Series 기본적으로 Core-Standard 버전의 OS를 라이선스를 탑재</span>하고 있으며,  다른 OS로 탑재한 제품으로 구매하고자 하시는 경우 별도로 문의하여 요청 해 주시기 바랍니다. </p>
            <table class="iec15_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="col" class="gray"></th>
                    <th scope="col" class="gray bl">Optimum</th>
                    <th scope="col" class="blue bl">Standard</th>
                    <th scope="col" class="gray bl">Professional</th>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Visual Studio 2008 Basic</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Visual Studio 2008 Visual C#</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Visual Studio 2008 Visual C++(MFC/API)</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">ATL</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">COM &amp; DCOM </th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Active Sync</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Silverlight for Windows Embedded</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">.NET Compact Framework 3.5</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">ADO CE</th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">SQL Moblie</th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Remote Desktop Connection</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">TCP/IP</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Alphablend API</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Direct 3D Mobile</th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Direct Draw NO</th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Windows Media Player</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">AYGShell API</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Internet Explorer 6.0</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Adobe Flash Lite</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">PDF Viewer</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Office 2007 Excel Viewer</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Office 2007 PowerPoint Viewer</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">Office 2007 Word Viewer</th>
                    <td>-</td>
                    <td class="bluetxt">-</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">USB Flash Driver</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">SmartX Solution</th>
                    <td>●</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">한글 폰트(굴림)</th>
                    <td>-</td>
                    <td class="bluetxt">●</td>
                    <td>●</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">O/S 언어</th>
                    <td>영어</td>
                    <td class="bluetxt">영어</td>
                    <td>한글</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">프로그램 메모리</th>
                    <td>392MB</td>
                    <td class="bluetxt">386MB</td>
                    <td>360MB</td>
                </tr>
                <tr>
                    <th scope="row" class="pd20">부팅 시간(개발 모드 기준)</th>
                    <td>8초 이내</td>
                    <td class="bluetxt">9초 이내</td>
                    <td>14초 이내</td>
                </tr>
            </table>
            <div class="iec15_box">
                <div class="tit"><span>Core-Optimum 제거<br />Component</span></div>
                <div class="txt">
                    <ul>
                        <li>1. Sound Codec는 MP3만 지원</li>
                        <li>4. 영문 언어 운영체제</li>
                        <li>2. 가상키보드는 큰 키보드만 지원</li>
                        <li>5. 각종 유틸리티 제거(Registry 편집기, 데이터-QueryAnalyzer)</li>
                        <li>3. 각종 Sever 기능제거(File, FTP, Web등)</li>
                    </ul>
                </div>
            </div>
        </div><!-- //pro5 -->
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->