
@{
    ViewData["Title"] = "Lineup";
}

<div class="sub_content sub02_02">
    <div class="_inner">
        <p class="sub22_toptxt">
            IEC-Series는 다양한 제품들로 구성 되어 있습니다. <br />고객님들의 제품 선택 폭을 한층 높여주며, 필요한 개발 요구사항에 최적화 된 사용 제품으로 적용함으로써 개발기간 및 원가 절감을 위한 다양한 제품구성입니다.
        </p>
        <div class="sub22_img1 tac">
            <img src="~/template/images/sub22_img1.jpg" alt="" />
        </div>
        <span class="sub_tit">非 Lite - Series VS Lite - Series 외형차이</span>
        <div class="sub22_img2 tac">
            <img src="~/template/images/sub22_img2.jpg" alt="" />
            <img src="~/template/images/sub22_img3.jpg" alt="" />
        </div>
        <table class="sub22_tbl1">
            <colgroup>
                <col width="448" />
                <col width="179" />
                <col width="451" />
            </colgroup>
            <tr>
                <th scope="col">IEC 非 Lite - Series</th>
                <th scope="col" class="t_bo">VS</th>
                <th scope="col">IEC Lite - Series</th>
            </tr>
            <tr>
                <td>가로 177mm, 세로 166mm</td>
                <td class="bg">Size</td>
                <td>가로 105mm, 세로 66mm</td>
            </tr>
            <tr>
                <td>Extension Port - I, II 지원 </td>
                <td class="bg">① Extension Port</td>
                <td>Extension Port - I 지원 </td>
            </tr>
            <tr>
                <td>커넥터 규격 서로 다름<br />D - sub 9Pin Type 터미널 블럭 Type</td>
                <td class="bg">② Serial Port</td>
                <td>커넥터 규격 서로 다름<br />사각 몰렉스 Type</td>
            </tr>
        </table>
        <span class="sub_tit">제품명 규칙</span>
        <div class="sub22_img3 tac">
            <img src="~/template/images/sub22_img4.jpg" alt="" />
        </div>
        <table class="sub22_tbl2">
            <colgroup>
                <col width="298" />
                <col width="209" />
                <col width="571" />
            </colgroup>
            <tr>
                <th scope="col" class="bg1"></th>
                <th scope="col" class="bg1 bl">Code</th>
                <th scope="col" class="bg1 bl">Description</th>
            </tr>
            <tr>
                <th scope="row" rowspan="4" class="bg2">CPU</th>
                <td>266</td>
                <td>ARM9 - 266MHZ</td>
            </tr>
            <tr>
                <td>667</td>
                <td>667 ARM11 - 667MHZ </td>
            </tr>
            <tr>
                <td>1000</td>
                <td>1000 Cortex A8 CPU Core 1Ghz </td>
            </tr>
            <tr>
                <td class="bg2"></td>
                <td class="bg2">None Lite - Series</td>
            </tr>
            <tr>
                <th scope="row" rowspan="2" class="bg2">Secondary Category</th>
                <td>Lite</td>
                <td>Lite - Series</td>
            </tr>
            <tr>
                <td class="bg2">XGA</td>
                <td class="bg2">XGA(1024*768) Output Series 외부모니터 출력</td>
            </tr>
            <tr>
                <th scope="row" rowspan="10" class="bg2">LCD Size</th>
                <td>43</td>
                <td>10.9cm(4.3inch, 16:9, 480*272)</td>
            </tr>
            <tr>
                <td>56</td>
                <td>14.2cm(5.6inch,  4:3, 640*480)</td>
            </tr>
            <tr>
                <td>07</td>
                <td>17.8cm(7inch, 15:9, 800*480)</td>
            </tr>
            <tr>
                <td>07N</td>
                <td>17.7cm(6.95inch, 15:9, 800*480)</td>
            </tr>
            <tr>
                <td>08</td>
                <td>20.3cm(8inch, 4:3, 800*600)</td>
            </tr>
            <tr>
                <td>102</td>
                <td>25.9cm(10.2inch, 15:9, 800*480)</td>
            </tr>
            <tr>
                <td>104</td>
                <td>26.4cm(10.4inch, 4:3, 800*600)</td>
            </tr>
            <tr>
                <td>104H</td>
                <td>26.4cm(10.4inch, 4:3, 1024*768)</td>
            </tr>
            <tr>
                <td>150</td>
                <td>38.1cm(15inch, 15:9, 1024*768)</td>
            </tr>
            <tr>
                <td class="bg2">I</td>
                <td class="bg2">None(1024*768)</td>
            </tr>
            <tr>
                <th scope="row" rowspan="2" class="bg2">별도 추가 옵션 (B1/B2 Bezel)</th>
                <td>-</td>
                <td>OpenFrameType(미장착)</td>
            </tr>
            <tr>
                <td class="bg2">B1, B2</td>
                <td class="bg2">Bezel Enclosure Type(장착)</td>
            </tr>
        </table>
        <div class="sub22_box">
            <span class="txt">IEC - Series 전 제품의 인증은 OpenFrame Type 기준으로 KC인증을 받았으며, 제품 끝에 <strong>B1, B2가 붙은 제품들은 별도 옵션 제품인 Bezel을 장착한 제품</strong>입니다.</span>
            <strong class="opt_price">[Bezel 옵션 가격안내]</strong>
            <span class="txt">Bezel 옵션장착 선택 시 LCD Size 별로 가격이 추가되며, 별도로 Bezel만 구입 가능합니다.  제품가격은 기타옵션 제품 안내 또는 쇼핑몰에서 참고하시기 바랍니다.</span>
            <div class="btn">
                <a href="#">장착방법 영상 보기</a>
                <a href="#">구매하기</a>
            </div>
        </div>
        <span class="sub_tit">제품별 하드웨어 사양</span>
        <table class="sub22_tbl3">
            <colgroup>
                <col />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <tr>
                <th scope="col" class="top bg1">IEC - Series</th>
                <th scope="col" class="top bg2 bl2">IEC1000</th>
                <th scope="col" class="top bg2 bl1">IEC1000 Lite</th>
                <th scope="col" class="top bg3 bl2">IEC667</th>
                <th scope="col" class="top bg3 bl1">IEC667Lite</th>
                <th scope="col" class="top bg4 bl2">IEC266</th>
                <th scope="col" class="top bg4 bl1">IEC266Lite</th>
            </tr>
            <tr>
                <th scope="row" class="bg1 bb2">LCD Size<br />cm(inch)</th>
                <td class="bg2 bl2 bb2">17.8(7) ~ 26.4(10.4)<br />모니터별도지원(XGA)</td>
                <td class="bg2 bl1 bb2">10.9(4.3)<br />~ 26.4(10.4)</td>
                <td class="bg3 bl2 bb2">17.8(7)<br />~ 26.4(10.4)</td>
                <td class="bg3 bl1 bb2">14.2(5.6)<br />~ 26.4(10.4)</td>
                <td class="bg4 bl2 bb2">17.8(7)<br />~ 25.9(10.2)</td>
                <td class="bg4 bl1 bb2">14.2(5.6)<br />~ 26.4(10.4)</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">CPU</th>
                <td colspan="2" class="bg2 bl2">Coter A8 CPU 1Ghz</td>
                <td colspan="2" class="bg3 bl2">ARM - 11 667 MHz</td>
                <td colspan="2" class="bg4 bl2">ARM-9 266MHz</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">Cache</th>
                <td colspan="2" class="bg2 bl2">64KB(L1) 512KB(L2)</td>
                <td colspan="2" class="bg3 bl2">32KB</td>
                <td colspan="2" class="bg4 bl2">32KB</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">RAM</th>
                <td colspan="2" class="bg2 bl2">512MB(DDR2 RAM)</td>
                <td colspan="2" class="bg3 bl2">256MB(mRAM)</td>
                <td colspan="2" class="bg4 bl2">64MB(SDRAM)</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">Flash</th>
                <td colspan="2" class="bg2 bl2">256MB</td>
                <td colspan="2" class="bg3 bl2">256MB</td>
                <td colspan="2" class="bg4 bl2">64MB</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">OS</th>
                <td colspan="2" class="bg2 bl2">Windows CE 6.0</td>
                <td colspan="2" class="bg3 bl2">Windows CE 6.0</td>
                <td colspan="2" class="bg4 bl2">Windows CE 5.0</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">Serial Port</th>
                <td colspan="2" class="bg2 bl2">4Ch</td>
                <td colspan="2" class="bg3 bl2">4Ch</td>
                <td colspan="2" class="bg4 bl2">3Ch</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">전원</th>
                <td class="bg2 bl2">DC 9 ~ 24V</td>
                <td class="bg2 bl1">DC 5V</td>
                <td class="bg3 bl2">DC 9 ~ 24V</td>
                <td class="bg3 bl1">DC 5V</td>
                <td class="bg4 bl2">DC 9 ~ 24V</td>
                <td class="bg4 bl1">DC 5V</td>
            </tr>
            <tr>
                <th scope="row" rowspan="2" class="bg1 bb2">LAN</th>
                <td class="bg2 bl2">100Mbps</td>
                <td class="bg2 bl1">-</td>
                <td class="bg3 bl2">10Mbps</td>
                <td class="bg3 bl1">-</td>
                <td class="bg4 bl2">10Mbps</td>
                <td class="bg4 bl1">-</td>
            </tr>
            <tr>
                <td class="bg2 bl2 bb2">Host 2Ch</td>
                <td class="bg2 bl1 bb2">Host 1Ch</td>
                <td class="bg3 bl2 bb2">Host 2Ch</td>
                <td class="bg3 bl1 bb2">Host 1Ch</td>
                <td class="bg4 bl2 bb2">Host 2Ch</td>
                <td class="bg4 bl1 bb2">Host 2Ch</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">USB 1.1</th>
                <td colspan="2" class="bg2 bl2">Device : 1Ch</td>
                <td colspan="2" class="bg3 bl2">Device : 1Ch</td>
                <td colspan="2" class="bg4 bl2">Device : 1Ch</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">Extension Port 지원</th>
                <td class="bg2 bl2">I, II</td>
                <td class="bg2 bl1">I</td>
                <td class="bg3 bl2">I, II</td>
                <td class="bg3 bl1">I</td>
                <td colspan="2" class="bg4 bl2">I</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">GPIO</th>
                <td class="bg2 bl2">60(3.3V)</td>
                <td class="bg2 bl1">16(3.3V)</td>
                <td class="bg3 bl2">60(3.3V)</td>
                <td class="bg3 bl1">16(3.3V)</td>
                <td colspan="2" class="bg4 bl2">16</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">PWM</th>
                <td colspan="2" class="bg2 bl2">2</td>
                <td colspan="2" class="bg3 bl2">2</td>
                <td colspan="2" class="bg4 bl2">2</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">I2C</th>
                <td colspan="2" class="bg2 bl2">1</td>
                <td colspan="2" class="bg3 bl2">1</td>
                <td colspan="2" class="bg4 bl2">1</td>
            </tr>
            <tr>
                <th scope="row" class="bg1 bb2">AD Converter</th>
                <td colspan="2" class="bg2 bl2 bb2">12Bit / 6ch</td>
                <td colspan="2" class="bg3 bl2 bb2">12Bit / 4ch</td>
                <td colspan="2" class="bg4 bl2 bb2">10Bit / 4ch</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">내장 스피커</th>
                <td colspan="2" class="bg2 bl2">Stereo Sound</td>
                <td colspan="2" class="bg3 bl2">Stereo Sound</td>
                <td class="bg4 bl2">Stereo Sound</td>
                <td class="bg4">옵션</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">RS485</th>
                <td class="bg2 bl2">H/W(1ch)방식</td>
                <td class="bg2 bl1">S/W(1ch) 방식</td>
                <td class="bg3 bl2">H/W(1ch)방식</td>
                <td class="bg3 bl1">S/W(1ch) 방식</td>
                <td class="bg4 bl2">S/W(1ch) 방식</td>
                <td class="bg4 bl1">옵션</td>
            </tr>
            <tr>
                <th scope="row" class="bg1">SD Card</th>
                <td colspan="2" class="bg2 bl2">64GB(SDXC), 32GB(SDHC)</td>
                <td colspan="2" class="bg3 bl2">64GB(SDXC), 32GB(SDHC)</td>
                <td colspan="2" class="bg4 bl2">4GB(SD)</td>
            </tr>
            <tr>
                <th scope="row" class="bg1 bb2">Camera</th>
                <td class="bg2 bl2 bb2">-</td>
                <td class="bg2 bl1 bb2">-</td>
                <td class="bg3 bl2 bb2">SmartVideo</td>
                <td class="bg3 bl1 bb2">-</td>
                <td class="bg4 bl2 bb2">-</td>
                <td class="bg4 bl1 bb2">-</td>
            </tr>
        </table>

    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->