
@{
    ViewData["Title"] = "Option";
}


<div class="sub_content sub02_08 pro_intro">
    <div class="_inner">
        <div id="pro1" class="cnt">
            <span class="sub_tit">개발시작키트(Development Start Kit)</span>
            <p class="sub_txt">개발에 필요한 케이블 및 부속품들의 패키지한 제품입니다.</p>
            <div class="opt1_box">
                <span class="tit">●  제품 구성품 ● </span>
                <p class="txt">제품매뉴얼, SmartX Framework 프로그래밍 가이드, 전원 아답터, USB 케이블, 시리얼(RS232), 랜케이블로 구성<span class="red">(사용하시는 제품에 따라 구성품은 다르게 구성됩니다.)</span></p>
            </div>
            <div class="op1_img">
                <img src="~/template/images/opt1_img1.jpg" alt="개발시작키트" />
            </div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 30,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl opt1_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone">제품명</th>
                    <th scope="col" colspan="5" class="bg">구성품</th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC266-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 12V</td>
                    <td>USB 케이블</td>
                    <td>시리얼(RS232)케이블</td>
                    <td>LAN 케이블</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC266Lite-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 5V</td>
                    <td>USB 케이블</td>
                    <td>시리얼(RS232)(Mini)</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC667-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 12V</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)케이블</td>
                    <td>LAN 케이블</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC667Lite-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 5V</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)(Mini)</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC1000-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 12V</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)케이블</td>
                    <td>LAN 케이블</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC1000-150</th>
                    <td>매뉴얼</td>
                    <td>-</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)(Mini)</td>
                    <td>LAN 케이블</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC1000Lite-Series</th>
                    <td>매뉴얼</td>
                    <td>아답터 5V</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)케이블</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">IEC1000XGA-I</th>
                    <td>매뉴얼</td>
                    <td>아답터 12V</td>
                    <td>USB 케이블(Mini)</td>
                    <td>시리얼(RS232)(Mini)</td>
                    <td>LAN 케이블</td>
                </tr>
            </table>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series 전 제품</p>
                </div>
            </div>
        </div><!-- //pro1 -->

        <div id="pro2" class="cnt">
            <span class="sub_tit">Bezel[B1][B2]</span>
            <p class="sub_txt">IEC-Series는 Open Frame Type과 별도의 옵션 B1/B2 Bezel Type을 장착 사용 할 수 있도록 설계되어있습니다.  별도로 B1/B2 Bezel을 구매 하실수 있으며, 장착 된 형태로도 구매하실 수 있습니다. </p>
            <ul class="opt2_img">
                <li><img src="~/template/images/opt2_img1.jpg" alt="[B1]Bezel" /></li>
                <li><img src="~/template/images/opt2_img2.jpg" alt="[B2]Bezel" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 10,000 ~ 30,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl opt2_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone">옵션 Bezel Type</th>
                    <th scope="col" class="bg">B1 Bezel</th>
                    <th scope="col" class="bg">B2 Bezel</th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">제작형태</th>
                    <td>전면 사출케이스</td>
                    <td>사출몰드타입 + 명판(베젤스티커)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">적용가능 LCD Size</th>
                    <td>10.9 ~ 26.4Cm(4.3inch ~ 10.4inch)</td>
                    <td>10.9 ~ 26.4Cm(4.3inch ~ 10.4inch)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">LCD 보호 및 방수기능</th>
                    <td>-</td>
                    <td>전면 생활방수 및 LCD 보호기능</td>
                </tr>
            </table>
            <div class="opt2_box sub_fold">
                <div class="top">
                    <span class="tit">[B1/B2 Bezel Type 별도 구매 시 유의사항]</span>
                </div>
                <div class="bot">
                    <span class="tit">1. [B1]/[B2] Bezel 구매 시 IEC266/667/1000 - 07 Series 제품 사용하시는 분들께서는 제품명을 확인하여 구매하시기 바랍니다.</span>
                    <p class="sub_txt">[IEC266/667-Series(LCD 17.8Cm/7인치), IEC1000-Series(LCD 17.7Cm/6.95인치)로 LCD Size 차이가 있습니다.</p>

                    <p class="sub_txt opt2_txt">※ IEC266-Series(LCD 17.8Cm/7인치)Bezel  ↔  IEC667-Series(7인치) Bezel  :  서로 사용 가능<br />※ IEC1000-Series(LCD 17.8Cm/6.5인치)Bezel</p>
                    <span class="tit">2.  제품가격안내</span>
                    <p class="sub_txt">B1/B2 Bezel은 당사 생산 제품인 IEC-Series에 장착하여 사용할 수 있도록 개발 및 제작된 제품입니다. <span class="red">따라서 B1/B2 Bezel만 별도로 구매하는 경우 보유하고 계신 IEC-Series의 시리얼 번호 및 업체명을 알려주셔야 합니다. IEC-Serie의 제품을 보유하고 있지 않거나 다른 용도로 B1/B2 Bezel을 구매하는 경우 추가 비용이 발생됨을 참고하시기 바랍니다.</span></p>

                    <table class="sio0_tbl opt2_tbl1">
                        <colgroup>
                            <col class="w1" />
                            <col class="w1" />
                            <col class="w1" />
                            <col class="w1" />
                            <col class="w1" />
                        </colgroup>
                        <tr>
                            <th scope="row" rowspan="2" class="bg blnone vm">LCD Size</th>
                            <th scope="col" colspan="2" class="cobalt">IEC-Series 보유고객(구매이력 있음)</th>
                            <th scope="col" colspan="2" class="bg">IEC-Series 미 보유고객(구매이력 없음)</th>
                        </tr>
                        <tr>
                            <th scope="col" class="bg">B1 Bezel Type</th>
                            <th scope="col" class="bg">B2 Bezel Type</th>
                            <th scope="col" class="bg">B1 Bezel Type</th>
                            <th scope="col" class="bg">B2 Bezel Type</th>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">10.9Cm(4.3inch)</th>
                            <td>10,000원</td>
                            <td>10,000원</td>
                            <td>10,000원</td>
                            <td>10,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">14.2Cm(5.6inch)</th>
                            <td>10,000원</td>
                            <td>10,000원</td>
                            <td>10,000원</td>
                            <td>10,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">17.7Cm(6.95inch)</th>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>20,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">17.8Cm(7inch)</th>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>25,000원</td>
                            <td>25,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">20.3Cm(8inch)</th>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>25,000원</td>
                            <td>25,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">25.98Cm(10.2inch)</th>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>30,000원</td>
                            <td>30,000원</td>
                        </tr>
                        <tr>
                            <th scope="row" class="bg blnone">26.4Cm(10.4inch)</th>
                            <td>20,000원</td>
                            <td>20,000원</td>
                            <td>30,000원</td>
                            <td>30,000원</td>
                        </tr>
                    </table>
                </div>
            </div><!-- //sub_fold -->
            <div class="iec13_box2 opt2_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>Bezel 장착방법 영상 및 설명서</strong>
                    <p>영상 및 설명서를 통해 Bezel 장착을 쉽게 하실 수 있습니다. </p>
                    <div class="btnbox">
                        <a href="#" class="btn1">장착방법 영상 자료</a>
                        <a href="#" class="btn2">장착방법 설명서</a>
                    </div>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>LCD Size 38.1cm(15inch)를 제외한 모든 IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro2 -->

        <div id="pro3" class="cnt">
            <span class="sub_tit">명판 Bezel 필름</span>
            <p class="sub_txt">B2 Bezel 전면에 사용 되는 명판 Bezel 필름으로 B2 Bezel을 사용하시다가 외부 환경에 의해 눌림이나, 찍힘, 스크레치, 오염 등 변형이 되었을때 별도로 구매하여 명판 Bezel 필름만 쉽게  부착하여 교체 사용 하실 수 있는 소모품입니다. <br /><span class="opt3_red">[주의] 제품 특성 상 부착 후 교환 및 반품이 불가하며,  또한 필름에 대한 어떠한 작업도 해드리지 않습니다. 이점 참고하여 구매해주시기 바랍니다.</span></p>
            <div class="opt3_img">
                <img src="~/template/images/opt3_img1.jpg" alt="명판 Bezel 필름" />
            </div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 5,000 ~ 11,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl opt3_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone vm">LCD Size</th>
                    <th scope="col" class="cobalt">IEC-Series 보유고객(구매이력 있음)</th>
                    <th scope="col" class="bg">IEC-Series 미 보유고객(구매이력 없음)</th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">10.9Cm(4.3inch)</th>
                    <td>5,000원</td>
                    <td>7,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">14.2Cm(5.6inch)</th>
                    <td>5,000원</td>
                    <td>7,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">17.7Cm(6.95inch)</th>
                    <td>5,000원</td>
                    <td>9,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">17.8Cm(7inch)</th>
                    <td>5,000원</td>
                    <td>9,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">20.3Cm(8inch)</th>
                    <td>8,000원</td>
                    <td>9,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">25.98Cm(10.2inch)</th>
                    <td>7,000원</td>
                    <td>10,000원</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">26.4Cm(10.4inch)</th>
                    <td>8,000원</td>
                    <td>11,000원</td>
                </tr>
            </table>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>LCD Size 38.1cm(15inch)를 제외한 모든 IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro3 -->

        <div id="pro4" class="cnt">
            <span class="sub_tit">SmartVideo</span>
            <p class="sub_txt">IEC667(Lite-Series 미 지원)에서 외부 카메라를 인터페이스 하기 위한 별도의 옵션보드입니다.<br />따라서 외부 카메라를 인터페이스 하기 위해서는 SmartVideo Board를 별도로 구입하셔야 하며 인터페이스 가능한 카메라는 NTSC(National Television System Committee)의 신호를 출력하는 카메라를 장착하실 수 있습니다. <br /><br />SmartX Framework 컴포넌트를 지원하여 프로그램개발을 쉽고 편리하게 하실 수 있습니다.<br /><span class="opt3_red">[주의] 카메라는 별도 구입</span></p>

            <div class="opt3_img"><img src="~/template/images/opt4_img1.jpg" alt="SmartVideo" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 7,7000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>SmartVideo 제품 매뉴얼</strong>
                    <p>위치 : [제품관련 자료실] - [IEC-Series 제품매뉴얼] - [Part V. 기타옵션제품] - [7.SmartVideo]</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC667 非 - Series (IEC667Lite-Series 지원 안 됨)</p>
                </div>
            </div>
        </div><!-- //pro4 -->

        <div id="pro5" class="cnt">
            <span class="sub_tit">SmartBattery</span>
            <p class="sub_txt">IEC Lite-Series 제품에서 외부 전원으로 리튬이온(Li-ion)충전지를 장착 할 수 있는 별도의 옵션 제품입니다.<br />SmartBattery는 주로 다음과 같은 용도로 응용됩니다. 반드시 SmartX Framework 프로그램 가이드와 함께 참고하시기 바랍니다.<br /><br />- 외부의 전원을 사용하지 않는 포터블(Portable) 시스템<br />- 외부 전원의 공급이 차단될 경우 시스템의 데이터 및 상태를 Backup하기 위한 용도 <br /><br />SmartX 컴포넌트를 지원하여 프로그램개발을 쉽고 편리하게 하실 수 있습니다.<br /><span class="opt3_red">[주의] 리튬이온 충전지는 개인 별도 구입</span></p>
            <div class="opt3_img"><img src="~/template/images/opt5_img1.jpg" alt="SmartVideo" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 55,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>SmartBattery 제품 매뉴얼</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Part V. 기타옵션제품] - [6.SmartBattery]</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC266Lite-Series, IEC667Lite-Series, IEC1000Lite-Series</p>
                </div>
            </div>
        </div><!-- //pro5 -->

        <div id="pro6" class="cnt">
            <span class="sub_tit">무선랜(USB Wireless LAN)</span>
            <p class="sub_txt">IEC Series에서 무선으로 인터넷(WiFI)을 사용할 수 있는 USB Type의 무선 랜카드입니다. 선 연결 없이 무선 인터넷 공유기 만으로 네트워크 환경을 구축 하실 수 있습니다. <br /><br /><span class="opt3_red">[주의] IEC-Series에서 신형 USB 무선랜 사용 시 단독으로만 사용 가능합니다.(변경일 2018년 2월 12일)<br />신형 USB 무선랜과 함께 별도의 USB장치(USB 메모리, USB 마우스 등)를 동시에 사용하는 경우 무선랜 및 다른 추가 된 USB장치가 인식 및 동작이 되지 않습니다. 신형 USB 무선랜 사용 시 반드시 다른 USB장치 사용을 자제 해주시기 바랍니다. <br /><br />[주의] 무선랜 사용시 기존 아답터의 사용용량 대비하여 500mA 사용하시기 바랍니다.</span></p>
            <ul class="opt2_img">
                <li><img src="~/template/images/opt6_img1.jpg" alt="구형 USB 무선랜" /></li>
                <li><img src="~/template/images/opt6_img2.jpg" alt="신형 USB 무선랜" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 30,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl opt3_tbl opt6_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone"></th>
                    <th scope="col" class="bg">구형 USB 무선랜</th>
                    <th scope="col" class="cobalt">신형 USB 무선랜</th>
                </tr>
                <tr>
                    <th scope="row" rowspan="3" class="bg blnone vm">지원제품군</th>
                    <td class="bbnone">IEC266/266Lite - Series</td>
                    <td class="bbnone">-</td>
                </tr>
                <tr>
                    <td class="bbnone">IEC667/667Lite - Series</td>
                    <td class="bbnone">IEC667/667Lite - Series</td>
                </tr>
                <tr>
                    <td>IEC1000/1000Lite - Series</td>
                    <td>IEC1000/1000Lite - Series</td>
                </tr>
                <tr>
                    <th scope="row" rowspan="3" class="bg blnone vm">특징</th>
                    <td class="bbnone">USB 무선랜과 USB 장치 멀티 인식가능</td>
                    <td class="bbnone">USB 무선랜과 USB 장치 <span class="red">멀티 인식 불가능</span></td>
                </tr>
                <tr>
                    <td class="bbnone">PCB 보호 케이스 없음</td>
                    <td class="bbnone"><span class="red">(무선랜카드 사용시 다른 USB 장치 사용 안됨)</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>PCB 보호 케이스 있음</td>
                </tr>
            </table>
            <div class="iec13_box2 iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>무선랜 제품 매뉴얼</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Part V. 기타옵션제품] - [1.무선랜]</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series 전 제품</p>
                </div>
            </div>
        </div><!-- //pro6 -->

        <div id="pro7" class="cnt">
            <span class="sub_tit">SN485-Board(Sound AMP Speaker &amp; 485 Transceiver)</span>
            <p class="sub_txt">IEC266Lite-Series 스피커 출력 및 485지원을 위한 옵션보드입니다.<br />Sound(Audio) Chip은 내장되어 있으나 스피커 출력을 위한 AMP(증폭) 및 내장 스피커는 장착되어 있지 않으며, 또한 485통신의 경우도 485Rx, Tx, 제어신호는 나오지만 Transceiver Chip은 내장되어 있지 않습니다.<br />SN485-Board는 이러한 기능을 추가하여 Add-On Board형태로 장착 하실 수 있도록 하였습니다.</p>
            <div class="opt3_img"><img src="~/template/images/opt7_img1.jpg" alt="SN485-Board(Sound AMP Speaker & amp; 485 Transceiver)" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 17,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC 266Lite- Series</p>
                </div>
            </div>
        </div><!-- //pro7 -->

        <div id="pro8" class="cnt">
            <span class="sub_tit">SmartKit</span>
            <p class="sub_txt">IEC-Series의 Extension Port의 실험 및 스터디를 하기 위한 보드입니다. 여러 가지의 하드웨어 I/O기능의 편리한 실험을 통해 SmatX Framework와 Extension Port의 사용 방법을 학습할 수 있도록 만들었습니다.<br />IEC-Series 및 Windows CE에서 하드웨어 제어를 학습하기 위한 최적화된 실험 Kit로서 처음 입문하시는 개발자에게 추천합니다. </p>
            <div class="opt3_img"><img src="~/template/images/opt8_img1.jpg" alt="SmartKit" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 30,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>각부명칭, 커넥터 연결방법, 회로도, 외형치수, 점퍼설정, 케이블 연결방법</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Part V. 기타옵션제품] - [2.SmartKit]</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series 전 제품</p>
                </div>
            </div>
        </div><!-- //pro8 -->

        <div id="pro9" class="cnt">
            <span class="sub_tit">Pro.라이선스(OS Windows CE 5.0 / 6.0 Professional 라이선스) </span>
            <p class="sub_txt">Core버전의 OS 라이선스를  OS Professional 라이선스로 변경<br />- 개발에 사용되는 기능(Component)에 따라서 Pro. 버전의 OS를 라이선스 하실 수 있습니다.<br />- NI사의 Lab View를 사용하시려면 Pro. 버전의 OS를 라이선스 하셔야 합니다.<br />- 만약 제품을 구매하신 경우 자사로 제품을 보내주셔야 Pro.로 업그레이드 가능합니다.<br /><br /> <span class="opt3_red">[참고] 제품과 같이 Pro.라이선스 추가 구매 시 20,000원의 비용이 발생되지만, 제품 구매 후 별도로 Pro. 업그레이드 요청 시 추가 비용은 30,000원으로 발생됩니다.<br />[주의] 별도의 추가기능 및 O/S Customize는 당사로 문의 바랍니다.</span></p>
            <div class="opt3_img"><img src="~/template/images/opt9_img1.jpg" alt="Pro.라이선스(OS Windows CE 5.0 / 6.0 Professional 라이선스) " /></div>
            <div class="sio1_buy sio_height">
                <a href="#" class="buy">구매하기</a>
                <span class="price">제품과 함께 구매 시 20,000원,    제품 구매 이후 추가 구매 시 30,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro9 -->

        <div id="pro10" class="cnt">
            <span class="sub_tit">LCD 보호필름</span>
            <p class="sub_txt">IEC-Series OpenFrameType에서만 사용 가능한 제품입니다. Bezel Type인 경우 B1 Bezel Type만 사용 가능합니다. <br /><span class="opt3_red">[주의] 필름부착 상태에 따라 터치의 감도가 저하될 수 있으며 오동작을 일으킬수 있습니다. 제품 특성상 부착 후 교환 및 반품이 불가하며,  또한 필름에 대한 어떠한 작업도 해드리지 않습니다. 이점 참고하여 구매해주시기 바랍니다. </span></p>
            <div class="opt3_img"><img src="~/template/images/opt10_img1.jpg" alt="LCD 보호필름" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 2,000원 ~ 5,500원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl opt10_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                </colgroup>
                <tr>
                    <th scope="col" class="bg blnone">LCD Size</th>
                    <th scope="col" class="bg">가격</th>
                    <th scope="col" class="bg">LCD Size</th>
                    <th scope="col" class="bg">가격</th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">10.9Cm(4.3inch)</th>
                    <td>2,000</td>
                    <th scope="row" class="bg">20.3Cm(8inch)</th>
                    <td>3,000</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">14.2Cm(5.6inch)</th>
                    <td>2,000</td>
                    <th scope="row" class="bg">25.98Cm(10.2inch)</th>
                    <td>4,000</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">17.7Cm(6.95inch)</th>
                    <td>2,500</td>
                    <th scope="row" class="bg">26.4Cm(10.4inch)</th>
                    <td>5,500</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">17.8Cm(7inch)</th>
                    <td>2,500</td>
                    <th scope="row" class="bg">-</th>
                    <td>-</td>
                </tr>
            </table>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>OpenFrame Type, B1 Bezel Type</p>
                </div>
            </div>
        </div><!-- //pro10 -->
        <div id="pro11" class="cnt">
            <span class="sub_tit">터치펜</span>
            <p class="sub_txt">멀티 터치펜으로 감압 / 정전식 사용 가능합니다. IEC-Series 제품에서는 <span class="opt3_red">감압식 형태방식으로 감압신 터치 부분으로 사용</span>하여 됩니다.<br /><span class="opt3_red">[참고] 색상 선택은 불가하며, 구매시 임의 발송됩니다.</span></p>
            <div class="opt3_img"><img src="~/template/images/opt11_img1.jpg" alt="터치펜" /></div>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 6,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro11 -->
        <div id="pro12" class="cnt">
            <span class="sub_tit">거치대</span>
            <p class="sub_txt">개발자분들의 편의를 위하여 제품을 거치하여 사용할 수 있는 거치대 입니다.<br />본 제품은 DIY제품으로 직접 조립하여 IEC-Series 거치하는 제품이며,  제품 거치 후 각도조절하여 사용 하 실 수 있습니다.<br /><br /><span class="opt3_red">[참고]LCD Size에 A Type [10.9 ~ 17.8cm(4.3 ~ 7inch)] , B Type[25.9~ 26.4cm(10.2 ~ 10.4inch)]으로 구성되며, 구매하실때 사용하시는 제품 LCD Size를 확인하여 구매해주시기 바랍니다. <br />[주의] LCD Size 38.1cm(15inch)제품은 사용 불가합니다.</span></p>
            <ul class="opt12_img">
                <li><img src="~/template/images/opt12_img1.jpg?ver=180430" alt="구성품" /></li>
                <li><img src="~/template/images/opt12_img2.jpg?ver=180430" alt="조립형태" /></li>
                <li><img src="~/template/images/opt12_img3.jpg" alt="사용 예" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 20,000원(부가세 별도)</span>
            </div>
            <div class="iec13_box2 iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>거치대 사용 설명서</strong>
                    <p>거치대 조립하는 방법 및 사용법은 거치대 사용설명서를 다운라드 하여 참고하시기 바랍니다. </p>
                    <a href="#">거치대 설명서 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능<br class="__m"> 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro12 -->
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->