
@{
    ViewData["Title"] = "SmartIO";
}


<div class="sub_content sub02_04 pro_intro">
    <div class="_inner">
        <div id="pro1" class="cnt">
            <div class="iec11_topbox">
                <div class="iec11_tit sio0_tit">
                    <span>HMI와 PLC 기능을 하나의 제품으로 구성</span>
                    <strong>Smart I/O - Series</strong>

                    <p class="sub27_txt">적은 비용과 개발기간으로 산업 환경에서 편리하게 적용 할 수 있는 솔루션으로 장치 <br class="__tn" />응용프로그램과 PLC 래더로직을 모르시는 개발자 분들은 자사 솔루션  SmartX  Framework <br class="__tn" />통해 쉽게 제어 가능합니다. </p>
                </div>
                <div class="iec11_img sio0_img">
                    <img src="~/template/images/sub27_img1.jpg" alt="Smart I/O - Series" />
                </div>
            </div>
            <div class="sio11_mt120"></div>
            <span class="sub_tit">Smart I/O - Series 제품군</span>
            <table class="sio0_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone"></th>
                    <th scope="col" class="top"><span class="tit">Smart I/O - I</span></th>
                    <th scope="col" class="top"><span class="tit"><em class="label">추천</em><br class="__t" />Smart I/O - II</span></th>
                    <th scope="col" class="top"><span class="tit"><em class="label">추천</em><br class="__t" />Smart I/O - III</span></th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">기능</th>
                    <td colspan="3">소형 SMPS 내장, 자체정원공급(인터페이스와 내부전원 분리)<br />HMI와 PLC 기능 통합, 소형자동화 시스템, 입/출력 사용가능</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">사용가능 제품</th>
                    <td>IEC - Series 전제품</td>
                    <td>IEC - Series 전제품</td>
                    <td>IEC 非 - Series 전제품</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">Extension Port</th>
                    <td>Extension Port - I</td>
                    <td>Extension Port - I</td>
                    <td>Extension Port -II </td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">케이블 연결</th>
                    <td colspan="2">IEC-Series 전 제품 케이블 연결 지원</td>
                    <td>IEC667/1000 - Series(Lite 지원안함)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">I/O 기능 변경</th>
                    <td>고정 / 변경 불가</td>
                    <td>Block으로 자유롭게 구성 변경</td>
                    <td>Block으로 자유롭게 구성 변경</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">I/O 채널수</th>
                    <td>16(Input 8, Relay 4, FET 4)</td>
                    <td>16</td>
                    <td>48</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">PWM 채널수</th>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">ADC 채널수</th>
                    <td>2</td>
                    <td>4</td>
                    <td>4(IEC1000은 6)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">Block</th>
                    <td>지원안함</td>
                    <td>최대 5EA 장착가능<br />(허용갯수에 따라 조합하여 사용)</td>
                    <td>최대 12EA 장착가능<br />(허용갯수에 따라 조합하여 사용)</td>
                </tr>
            </table>
        </div><!-- //pro1 -->

        <div id="pro2" class="cnt">
            <span class="sub_tit">Smart I/O - I</span>
            <p class="sub_txt">Smart I/O - I 보드는 IEC-Series의 Extension Port - I 과 연동하여 사용할 수 있는 옵션 제품으로 I/O 기능 구성이 고정되어 변경 하실 수 없습니다.</p>
            <ul class="sio1_img">
                <li><img src="~/template/images/sio1_img1.jpg" alt="전면" /></li>
                <li><img src="~/template/images/sio1_img2.jpg" alt="후면" /></li>
                <li><img src="~/template/images/sio1_img3.jpg" alt="측면" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 77,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl sio1_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w3" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone">기능</th>
                    <th scope="col" class="bg">채널수</th>
                    <th scope="col" class="bg">전지적 사양</th>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">입력(무극성 포트커플러)</th>
                    <td>8</td>
                    <td>DC 24V(12V ~ 24V)</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">릴레이 출력</th>
                    <td>4</td>
                    <td>5A / 250VAC, 30VDC</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">FET 출력</th>
                    <td>4</td>
                    <td>VSS 55V, 45A</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">PWM 출력</th>
                    <td>2</td>
                    <td>VSS 55V, 45A</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">A/D 입력</th>
                    <td>2</td>
                    <td>0 ~ 5V(10/12Bit), 0 ~ 10V(10/12Bit)</td>
                </tr>
            </table>
            <div class="iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>Smart I/O - I 제품매뉴얼</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Smart I/O - I 제품 매뉴얼]   자세한 제품 사용법 및 연결방법 참고</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro2 -->
        <div id="pro3" class="cnt">
            <span class="sub_tit">Smart I/O - II</span>
            <p class="sub_txt">Smart I/O - II는 IEC-Series의 Extension Port - II 과 연동하여 사용할 수 있는 옵션 제품으로 입/출력 기능을 쉽게 변경 가능 합니다.(각각의 입/출력 Block Module은 옵션입니다.)</p>
            <ul class="sio1_img">
                <li><img src="~/template/images/sio2_img1.jpg" alt="전면" /></li>
                <li><img src="~/template/images/sio2_img2.jpg" alt="후면" /></li>
                <li><img src="~/template/images/sio2_img3.jpg" alt="측면" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 50,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl sio2_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone">기능</th>
                    <td>옵션 Block 사용하기, 소형 SMPS 내장, ADC Block 2채널 내장</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">I/O 채널수</th>
                    <td>16</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">A/D 채널수</th>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">PWM 채널수</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">전기적 사양</th>
                    <td>A/C 전원 별도 입력</td>
                </tr>
            </table>
            <span class="sio2_tit">Smart I/O - II 장착 가능 Block - Series</span>
            <table class="sio0_tbl sio2_tbl1">
                <colgroup>
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                </colgroup>
                <tr>
                    <th scope="col" colspan="3" class="bg blnone">입력</th>
                    <th scope="col" colspan="3" class="bg">출력</th>
                    <th scope="col" class="bg">절연</th>
                </tr>
                <tr>
                    <td class="blnone">Input - Block</td>
                    <td>InputCounter - Block</td>
                    <td>ADC - Block</td>
                    <td>Relay - Block</td>
                    <td>FET - Block</td>
                    <td>DAC - Block</td>
                    <td>RS232 - Block</td>
                </tr>
                <tr>
                    <td class="blnone">최대 4개</td>
                    <td>최대 4개</td>
                    <td>최대 1개</td>
                    <td>최대 4개</td>
                    <td>최대 4개</td>
                    <td>최대 1개</td>
                    <td>최대 1개</td>
                </tr>
                <tr class="cobalt">
                    <th class="blnone">총 장착 Block 수량</th>
                    <td colspan="6">
                        <span class="red">최대 5개, 각 Block 갯수를 초과하시면 안됩니다.  </span>또한 ADC, DAC, RS232 - Block는 장착할 고정자리가 지정 되어 있습니다.
                    </td>
                </tr>
            </table>
            <div class="iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>Smart I/O - II 제품매뉴얼</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Smart I/O - II, III 제품 매뉴얼]   자세한 제품 사용법 및 연결방법 참고</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro3 -->
        <div id="pro4" class="cnt">
            <span class="sub_tit">Smart I/O - III</span>
            <p class="sub_txt">Smart I/O - III 보드는 Extension Port - II와 연동하여 사용 할 수 있는 옵션 제품으로 최대 입,출력을 48EA까지 사용할 수 있습니다. Smart I/O - II, III 특징은 입.출력 기능을 쉽게 변경 가능합니다. (각각의 입/출력 Block Module은 옵션입니다.) <br /><span class="sio3_red">※ 본 제품은 IEC 266 - Series, IECLite - Series에서 지원하지 않습니다. </span></p>
            <ul class="sio1_img">
                <li><img src="~/template/images/sio3_img1.jpg" alt="전면" /></li>
                <li><img src="~/template/images/sio3_img2.jpg" alt="후면" /></li>
                <li><img src="~/template/images/sio3_img3.jpg" alt="측면" /></li>
            </ul>
            <div class="sio1_buy">
                <a href="#" class="buy">구매하기</a>
                <span class="price">판매가 50,000원(부가세 별도)</span>
            </div>
            <table class="sio0_tbl sio2_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" class="bg blnone">기능</th>
                    <td>옵션 Block 사용하기, 소형 SMPS 내장</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">I/O 채널수</th>
                    <td>48</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">A/D 채널수</th>
                    <td>4</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">PWM 채널수</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row" class="bg blnone">전기적 사양</th>
                    <td>A/C 전원 별도 입력</td>
                </tr>
            </table>
            <span class="sio2_tit">Smart I/O - III 장착 가능 Block Series</span>
            <table class="sio0_tbl sio2_tbl1">
                <colgroup>
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                    <col class="w1" />
                </colgroup>
                <tr>
                    <th scope="col" colspan="3" class="bg blnone">입력</th>
                    <th scope="col" colspan="3" class="bg">출력</th>
                    <th scope="col" class="bg">절연</th>
                </tr>
                <tr>
                    <td class="blnone">Input - Block</td>
                    <td>InputCounter - Block</td>
                    <td>ADC - Block</td>
                    <td>Relay - Block</td>
                    <td>FET - Block</td>
                    <td>DAC - Block</td>
                    <td>RS232 - Block</td>
                </tr>
                <tr>
                    <td class="blnone">최대 12개</td>
                    <td>최대 4개</td>
                    <td>최대 2개</td>
                    <td>최대 4개</td>
                    <td>최대 12개</td>
                    <td>최대 1개</td>
                    <td>최대 1개</td>
                </tr>
                <tr class="cobalt">
                    <th class="blnone">총 장착 Block 수량</th>
                    <td colspan="6">
                        <span class="red">최대 12개, 각 Block 갯수를 초과하시면 안됩니다. </span>또한 ADC, DAC, RS232 - Block는 장착할 고정자리가 지정 되어 있습니다.
                    </td>
                </tr>
            </table>
            <div class="iec13_box2">
                <div class="tit none">
                    <img src="~/template/images/sub31_img2.gif" alt="자료안내" />
                    <span>자료 안내</span>
                </div>
                <div class="txt">
                    <strong>Smart I/O - II, III 제품매뉴얼</strong>
                    <p>위치 : [자료실] - [제품관련 자료실] - [Smart I/O - II, III 제품 매뉴얼]   자세한 제품 사용법 및 연결방법 참고</p>
                    <a href="#">매뉴얼 다운로드</a>
                </div>
            </div>
            <div class="iec13_box2 iec13_box3">
                <div class="tit">
                    <span>사용 가능 제품</span>
                </div>
                <div class="txt">
                    <p>IEC - Series</p>
                </div>
            </div>
        </div><!-- //pro4 -->

        <div id="pro5" class="cnt">
            <span class="sub_tit">Smart I/O - Block Series</span>
            <p class="sub_txt">Smart I/O-Block Series은 Smart I/O - II, III Base Board 제품에 추가 장착되어 동작하는 옵션 Block이며, 사용하고자 하는 용도에 맞추어 사용하시면 됩니다. Block를 사용하여 I/O의 구성을 Flexible하게 구성하실 수 있습니다. </p>
            <div style="margin-top:15px;"></div>
            <table class="sio0_tbl sio4_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" rowspan="2" class="blnone bg">제품군</th>
                    <th scope="col" colspan="3" class="cobalt">입력</th>
                </tr>
                <tr>
                    <th scope="col">Input - Block</th>
                    <th scope="col">InputCounter - Block</th>
                    <th scope="col">ADC - Block</th>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">사진</th>
                    <td class="imgpd"><img src="~/template/images/sio4_img1.jpg" alt="Input - Block" /></td>
                    <td class="imgpd"><img src="~/template/images/sio4_img1.jpg" alt="InputCounter - Block" /></td>
                    <td class="imgpd"><img src="~/template/images/sio4_img1.jpg" alt="ADC - Block" /></td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">기능</th>
                    <td>입력(무극성 포토 커플러)</td>
                    <td>입력(고속입력카운터), Rotary Encoder 입력</td>
                    <td>아날로그 신호입력</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">채널수</th>
                    <td>4</td>
                    <td>2/1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">전기적사양</th>
                    <td>DC 12~ 24V</td>
                    <td>DC 12 ~ 24V</td>
                    <td>0 ~ 5V(12Bit), 0 ~ 10V(12Bit)</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - II <br />최대 장착 허용갯수</th>
                    <td>4(16ch)</td>
                    <td>4Ch(8ch)<br />Pulse Counter 8Ch,Rotary Encoder 4Ch</td>
                    <td>4(16ch)</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - III <br />최대 장착 허용갯수</th>
                    <td>12(48ch)</td>
                    <td>4Ch(8ch)<br />Pulse Counter 8Ch,Rotary Encoder 4Ch</td>
                    <td>12(48ch)</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">판매가<br />(부가세 별도)</th>
                    <td>
                        20,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                    <td>
                        20,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                    <td>
                        20,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                </tr>
            </table>
            <table class="sio0_tbl sio4_tbl">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" rowspan="2" class="blnone bg">제품군</th>
                    <th scope="col" colspan="3" class="cobalt">출력</th>
                </tr>
                <tr>
                    <th scope="col">Relay - Block</th>
                    <th scope="col">FET - Block</th>
                    <th scope="col">DAC - Block</th>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">사진</th>
                    <td class="imgpd"><img src="~/template/images/sio4_img4.jpg" alt="Relay - Block" /></td>
                    <td class="imgpd"><img src="~/template/images/sio4_img5.jpg" alt="FET - Block" /></td>
                    <td class="imgpd"><img src="~/template/images/sio4_img6.jpg" alt="DAC - Block" /></td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">기능</th>
                    <td>Relay 접점출력</td>
                    <td>FET 출력</td>
                    <td>12Bit 아날로그 출력</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">채널수</th>
                    <td>4</td>
                    <td>4</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">전기적사양</th>
                    <td>Max 5A, 250VAC/5A, 0 ~ 30 VDC</td>
                    <td>VSS(Max 55V / 49A)</td>
                    <td>0 ~ 5V, 0 ~ 10V(12Bit)</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - II <br />최대 장착 허용갯수</th>
                    <td>4(16ch)</td>
                    <td>4(16ch)</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - III <br />최대 장착 허용갯수</th>
                    <td>12(48ch)</td>
                    <td>12(48ch)</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">판매가<br />(부가세 별도)</th>
                    <td>
                        20,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                    <td>
                        15,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                    <td>
                        38,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                </tr>
            </table>
            <table class="sio0_tbl sio4_tbl sio4_tbl1">
                <colgroup>
                    <col class="w1" />
                    <col class="w2" />
                    <col class="w2" />
                    <col class="w2" />
                </colgroup>
                <tr>
                    <th scope="row" rowspan="2" class="blnone bg bt">제품군</th>
                    <th scope="col" class="cobalt bt">통신</th>
                    <th class="all_none">&nbsp;</th>
                    <th class="all_none">&nbsp;</th>
                </tr>
                <tr>
                    <th scope="col">RS232 - Block</th>
                    <th class="all_none">&nbsp;</th>
                    <th class="all_none">&nbsp;</th>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">사진</th>
                    <td class="imgpd"><img src="~/template/images/sio4_img7.jpg" alt="RS232 - Block" /></td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">기능</th>
                    <td>RS232 통신 절연</td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">채널수</th>
                    <td>1</td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">전기적사양</th>
                    <td>최대 19200bps</td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - II <br />최대 장착 허용갯수</th>
                    <td>1</td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">Smart I/O - III <br />최대 장착 허용갯수</th>
                    <td>1</td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
                <tr>
                    <th scope="row" class="blnone bg">판매가<br />(부가세 별도)</th>
                    <td>
                        15,000원
                        <a href="#" class="buy">구매하기</a>
                    </td>
                    <td class="all_none">&nbsp;</td>
                    <td class="all_none">&nbsp;</td>
                </tr>
            </table>

        </div><!-- //pro5 -->
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->