@model HNS.Areas.Admin.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "비밀번호 변경";
    ViewData["BreadCrumb"] = "관리자정보관리, 비밀번호 변경";
    ViewData["CurrentMenu"] = "관리자정보관리";
    ViewData["CurrentMenuItem"] = "비밀번호 변경";
}

<form asp-action="ChangePassword" asp-controller="Home" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="bbs-write">
        <dl>
            <dt><label for="title">현재 비밀번호</label></dt>
            <dd><input type="text" asp-for="CurrentPassword" required></dd>
        </dl>
        <dl>
            <dt>새로운 비밀번호</dt>
            <dd><input type="text" asp-for="NewPassword" required></dd>
        </dl>
        <dl>
            <dt>새로운 비밀번호 확인</dt>
            <dd><input type="text" asp-for="ConfirmPassword" required></dd>
        </dl>

    </div>


    <div class="btn_confirm01 btn_confirm">
        <input type="submit" value="작성" class="btn-ty1 light" accesskey="s">
    </div>

</form>