@model HNS.Entities.Faq
@{
    ViewData["Title"] = "Edit FAQ";
}

@section Styles{
    
}


<!-- 서브 컨텐츠 // 이 위까지 공통 -->
<div class="sub_content notice">
    <form asp-action="FAQEdit" asp-controller="Community" method="post">
        <div class="_inner">
            <table class="notwrite_tbl">
                <colgroup>
                    <col width="14%" />
                    <col />
                </colgroup>
                <tr>
                    <th scope="row">작성자</th>
                    <td><span class="name">@(Model == null ? "HNS" : Model.m_name)</span></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td>
                        <input type="text" asp-for="m_title" max class="faq_input" />
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="vt">내용</th>
                    <td>
                        <div class="editorbox">
                            <textarea id="description" asp-for="m_content" class="desc noresize" rows="5"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">키워드</th>
                    <td>
                        <input type="text" asp-for="m_keyword" class="faq_input" />
                    </td>
                </tr>
            </table>
            @if (Model?.Id > 0)
            {
                <!-- 수정일 경우 -->
                <div class="notwrite_bot">
                    <button type="submit" class="write">수정</button>
                    <a href="@Url.Action("FAQ", "Community")" class="cancel">취소</a>
                </div>
            }
            else
            {
                <div class="notwrite_bot">
                    <button type="submit" class="write">작성</button>
                    <a href="@Url.Action("FAQ", "Community")" class="cancel">취소</a>
                </div>
            }
            <!-- .go_pop : 게시판 비밀번호 팝업 창 클래스 // 팝업 창 코드는 푸터 위에 -->
            <!-- //수정일 경우 -->
        </div>
    </form>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->


@section Scripts
    {
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <script>
        $(function () {
            CKEDITOR.replace('description', {
                fillEmptyBlocks: false
            });
        })
    </script>

}