
@{
    ViewData["Title"] = "Product Purchase Guide";
}
<div class="sub_content sub07_03">
    <div class="_inner">
        <p class="sub_txt">(주)에이치앤에스에서는 직접구매, 방문, 온라인 쇼핑몰을 통해 다양한 구매방법으로 오프라인과 온라인으로 쉽게 제품을 구매 하실 수 있습니다. </p>
        <div class="sub73_box">
            <strong class="tel1">문의전화  <span><a href="tel:02-6402-8001">02-6402-8001</a><em>(내선 1번)</em></span></strong>
            <span class="tel2">FAX : 02-6442-9775, <br class="__m" />  <a href="mailto:seles@hnsts.co.kr">E-mail : seles@hnsts.co.kr</a></span>
            <div class="acc">
                <span class="acc1">[ 계좌안내   예금주 : (주)에이치앤에스 ] </span>
                <p>
                    <span>국민은행 421737 - 04 - 010101</span>
                    <span>우리은행 1005 - 701 - 791343</span>
                    <br class="__t" />
                    <span>기업은행 02 - 6402 - 8001</span>
                    <span>신한은행 140-011-106105 </span>
                    <br class="__m" />
                    <span>하나은행 428-910021-73704</span>
                </p>
            </div>
        </div>

        <div class="sub73_r1">
            <strong class="tit">방문구매</strong>
            <p class="txt">방문 전 유선을 통해 제품 구매 및 방문 가능일시를 먼저 확인해주시기 바랍니다. 사전 문의 없이 방문하는 경우 제품이 준비되지 않아 구매가 어려울 수 있습니다.  </p>
        </div>
        <div class="sub73_r1">
            <strong class="tit">직접구매(FAX, E-mail 발주) </strong>
            <p class="txt txt1">유선을 통해 제품 상담 및 견적을 받습니다.</p>
            <p class="txt txt2">제품 발주 시 <strong>발주서를 반드시 작성하여, FAX 또는 E-mail로 발주서를 보내주시기 바랍니다.(유선으로 구두 발주 주문은 불가 합니다.)<br />별도의 발주서 대신 발송해 드린 견적서 하단에 기본사항과 서명해서  보내주시면 발주서로 대체 하실 수 있습니다.</strong> </p>
            <p class="txt txt3">제품 출고는 오후 4시 이전 선입금 완료 시 익일출고로 진행되고 있습니다.(발주 수량에 따라 출고일이 연기될 수 있습니다.)</p>
        </div>
        <div class="sub73_r1">
            <strong class="tit">쇼핑몰 주문</strong>
            <p class="txt">온라인 쇼핑몰에서도 제품을 구매하실 수 있습니다.</p>
            <span class="stit">(주)에이치앤에스 쇼핑몰</span>
            <div class="box1">
                <div class="in">
                    <div class="area">
                        <a href="http://www.smartx.co.kr" target="_blank">
                            <img src="~/template/images/sub73_smartx.png" alt="(주)에이치앤에스 쇼핑몰" />
                        </a>
                    </div>
                    <div class="area area1">
                        <strong class="htit">(주)에이치앤에스 전용 쇼핑몰</strong>
                        <span class="hstit">별도의 회원가입 없이 네이버 아이디로 구매 가능합니다.</span>
                        <span class="hstit">www.smartx.co.kr</span>
                        <div class="btn_wrap">
                            <a href="http://www.smartx.co.kr" target="_blank">
                                <img src="~/template/images/sub73_npay.gif" width="62" height="25" alt="네이버페이로 구매 가능" />
                                <span class="go_btn">바로가기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- //box1 -->
            <span class="stit">제휴 쇼핑몰</span>
            <p class="txt">전자부품, 기계부품, LCD, 산업용 제품 등 다양한 산업용품을 판매하는 온라인 쇼핑몰로 제휴 된 쇼핑몰입니다. </p>
            <ul class="sub73_logolist1">
                <li>
                    <a href="http://www.devicemart.co.kr" target="_blank">
                        <img src="~/template/images/sub73_logo1.gif" alt="디바이스마트" />
                        <strong class="logo_tit">디바이스마트</strong>
                        <em class="logo_link">www.devicemart.co.kr</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.eleparts.co.kr" target="_blank">
                        <img src="~/template/images/sub73_logo2.gif" alt="엘레파츠" />
                        <strong class="logo_tit">엘레파츠</strong>
                        <em class="logo_link">www.eleparts.co.kr</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.icbanq.com" target="_blank">
                        <img src="~/template/images/sub73_logo3.gif" alt="아이씨뱅큐" />
                        <strong class="logo_tit">아이씨뱅큐</strong>
                        <em class="logo_link">www.icbanq.com</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
                <li>
                    <a href="http://findlcd.com" target="_blank">
                        <img src="~/template/images/sub73_logo4.gif" alt="제미니테크놀로지" />
                        <strong class="logo_tit">제미니테크놀로지</strong>
                        <em class="logo_link">findlcd.com</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
            </ul><!-- //sub73_logolist1 -->
            <span class="stit">오픈마켓</span>
            <ul class="sub73_logolist1 sub73_logolist2">
                <li>
                    <a href="http://www.11st.co.kr" target="_blank">
                        <img src="~/template/images/sub73_logo5.gif" alt="11번가" />
                        <strong class="logo_tit">11번가</strong>
                        <em class="logo_link">www.11st.co.kr</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.auction.co.kr" target="_blank">
                        <img src="~/template/images/sub73_logo6.gif" alt="옥션" />
                        <strong class="logo_tit">옥션</strong>
                        <em class="logo_link">www.auction.co.kr</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.gmarket.com" target="_blank">
                        <img src="~/template/images/sub73_logo7.gif" alt="지마켓" />
                        <strong class="logo_tit">지마켓</strong>
                        <em class="logo_link">www.gmarket.com</em>
                        <span class="go_btn">바로가기</span>
                    </a>
                </li>
            </ul><!-- //sub73_logolist2 -->
        </div>
        <span class="sub_tit mb sub73_mt">대리점 안내</span>
        <p class="sub73_txt">(주)에이치앤에스와 함께 할 대리점(오프라인 영업)을 모집하고 있습니다.</p>
        <p class="sub_txt">· 연락처 : 02-6402-8001(내선 1번)   &nbsp;&nbsp;<br class="__m" />· 이메일 : hns@hnsts.co.kr</p>
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
