
@{
    ViewData["Title"] = "Remote Technical Support";
}

<div class="sub_content sub07_02">
    <div class="_inner">
        <span class="sub32_tit sub72_mtac">개발자들을 위한 보다 빠르고 정확한 기술지원 서비스를 위한 <br /><strong>원격지원서비스</strong>를 운영하고 있습니다. </span>
        <p class="sub_txt sub72_txt sub72_mtac">본 서비스는 SmartX Framework 관련내용으로 지원합니다.</p>
        <!-- pc로 접속시 모이는 화면 class="web" -->
        <div class="web __p">
            <span class="sub_tit mb">원격지원 신청하기</span>
            <div class="sub72_box">
                <p class="info">원격지원 신청시 먼저 개발 지원팀으로 연락주시기 바랍니다. </p>
                <p class="tel">· 연락처 : 02-6402-8001(내선 2번) <br class="__m" />  · 직통전화 : 070-7094-5002</p>
            </div>
            <span class="sub72_step"><strong>Step1.</strong> 개발지원팀으로 연락합니다.</span>
            <span class="sub72_step"><strong>Step2.</strong> EXE 실행방식으로 원격지원을 요청합니다.</span>
            <a href="#" class="btn_remote">EXE 실행방식</a>
            <div class="sub72_chk">
                <strong class="tit">[ EXE 실행방식의 원격지원이 안되는 경우 점검사항 ] </strong>
                <p class="sub72_q">1. 프로그램 실행 시 백신 프로그램이나 방화벽 프로그램이 원격지원 프로그램을 차단하는 경우</p>
                <p class="sub72_a">→ 차단 프로그램에서 원격지원 프로그램의 차단을 해제 해주어야 합니다.</p>
                <p class="sub72_q">2. 원격지원을 차단하기 위해 포트나 도메인을 차단한 경우</p>
                <p class="sub72_a">→ 방화벽 정책에서 차단된 포트나 도메인을 해제 또는 지원하는 PC에서 방화벽 정책을 통해 등록된 포트 번호 대신 다른 포트를 설정하여 지원합니다.</p>
                <p class="sub72_q">3. 윈도우에서 제공하는 터미널 서비스가 먼저 실행된 경우</p>
                <p class="sub72_a">→ 원격 PC를 재 부팅한 다음 터미널 서비스가 실행되지 않는 상태에서 원격지원 프로그램 실행합니다.</p>
                <p class="sub72_q">4. IP공유기의 접속 환경이 불안정하거나 불통인 경우</p>
                <p class="sub72_a">→ 내부에서 공인IP로 접속되지 않고 외부에서 잘 접속되는 경우 라우팅 문제 일 수 있으며, 인터넷 회선, 모뎀, 공유기 점검이 필요합니다.</p>
            </div>
            <span class="sub72_step"><strong>Step3.</strong> 접속번호를 담당자에게 알려주시기 바랍니다. 방화벽이나 보안이 강화된곳은 ‘보안모드’ 부분을 체크하시고, 체크하시면 연결이 끊어졌다가 재 연결됩니다. </span>
            <div class="sub72_img">
                <img src="~/template/images/sub72_img1.jpg" alt="Step3.접속번호를 담당자에게 알려주시기 바랍니다. 방화벽이나 보안이 강화된곳은 ‘보안모드’ 부분을 체크하시고, 체크하시면 연결이 끊어졌다가 재 연결됩니다." />
            </div>
            <span class="sub72_step"><strong>Step4.</strong> 원격지원이 연결되면 담당자가 고객님의 PC를 제어 할 수 있습니다. </span>
            <div class="sub72_img">
                <img src="~/template/images/sub72_img2.jpg" alt="Step4.원격지원이 연결되면 담당자가 고객님의 PC를 제어 할 수 있습니다. " />
            </div>
        </div><!-- //web -->
        <!-- 모바일 접속시 모이는 화면 class="mobile" -->
        <div class="mobile __m">
            <p class="sub72_mwarn">
                원격지원 서비스는 PC환경에서만 지원 가능합니다.<br />감사합니다.
            </p>
        </div><!-- //mobile -->

    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->