<div class="_scate">
    <ul class="_inner_category menu3">
        <li class="over"><a href="#n1"><span>기구디자인 가이드 및 도면</span></a></li>
        <li><a href="#n2"><span>Smart I/O - II, III 기구디자인 <br class="__t"> 및 가이드</span></a></li>
        <li><a href="#n3"><span>도면 및 승인원</span></a></li>
    </ul>
</div>