<div class="_scate">
    <ul class="_inner_category menu6">
        <li class="over"><a href="#pro1"><span>개발시작키트</span></a></li>
        <li><a href="#pro2"><span>Bezel [B1]/[B2]</span></a></li>
        <li><a href="#pro3"><span>명판(베젤스티커)</span></a></li>
        <li><a href="#pro4"><span>Smart Video</span></a></li>
        <li><a href="#pro5"><span>SmartBattery</span></a></li>
        <li><a href="#pro6"><span>무선랜</span></a></li>
        <li><a href="#pro7"><span>SN485 Board</span></a></li>
        <li><a href="#pro8"><span>Smart Kit</span></a></li>
        <li><a href="#pro9"><span>Pro.라이선스</span></a></li>
        <li><a href="#pro10"><span>보호필름</span></a></li>
        <li><a href="#pro11"><span>터치펜</span></a></li>
        <li><a href="#pro12"><span>거치대</span></a></li>
    </ul>
</div>