<div class="_scate">
    <ul class="_inner_category menu4">
        <li class="over"><a href="#n1"><span>개발환경 구축 가이드</span></a></li>
        <li><a href="#n2"><span>UI 디자인 가이드</span></a></li>
        <li><a href="#n3"><span>프로그래밍 가이드</span></a></li>
        <li><a href="#n4"><span>설치파일</span></a></li>
        <li><a href="#n5"><span>SmartX C++ For DLL 파일</span></a></li>
        <li><a href="#n6"><span>예제파일</span></a></li>
        <li><a href="#n7"><span>SmartFileSetting</span></a></li>
        <li><a href="#"><span></span></a></li>
    </ul>
</div>