@charset "utf-8";

@media all and (max-width:1280px){
    .go_top {bottom:30px;left:auto;right:10px;margin-left:0;width:40px;height:40px;} 
}
@media all and (max-width:1200px){
    #header ._gnb > li > a {width:146px;}
}

@media all and (min-width:1001px){
    .__t {display:none;}
}

@media all and (max-width:1000px){
    .__t {display:block;}
    .__tn {display:none !important;}

    .inner { width:100%; }

    .top_wrap {padding:40px 10px 0;}   
    .top_wrap .info {font-size:15px;line-height:25px;margin-bottom:30px;} 
    #wrap {padding-top:60px;}

    #header .tnb_box {padding-right:50px;}
    ._mnav-on #header .tnb_box .con:after {background:#fff;}
    #header .tnb_box .sch {background:url(../images/m_sch_btn.png) no-repeat;width:28px;height:28px;}
    
    #header {position:absolute;height:60px;padding:0 10px; background:#fff;}
    #header:before {display:none;}
    #header .inner {max-width:1100px;height:60px;position:relative;margin:0 auto;}        
    
    #header ._gnb {border-top:1px solid #ddd;position:absolute;right:0;top:50px;z-index:10;width:100%;}
    #header ._gnb > li {float:left;position:relative;width:20%;}
    #header ._gnb > li > a {display:block;height:39px;line-height:39px;font-size:16px;padding:0;text-align:center; color:#222!important;}
    #header ._gnb > li > a:before {display:none;}
    #header ._gnb li ul {display:none !important;}
    #header ._menuon {display:inline-block;margin-left:18px;}
    #header._nav-on {height:94px;box-shadow:none;}

    #_nav {}

    /* main1_wrap */
    .main1_tit1 {font-size:26px;}
    .main1_category {margin:0;padding:0 10px;box-sizing:border-box;}
    .main1_category > li {padding:0 3px;}
    .main1_category > li:nth-child(4n+1) {clear:both;}
    .main1_category > li .img img {width:90px;}
    .main1_category > li .info .tit {font-size:15px;}
    .main1_category > li .info .txt {font-size:13px;}

    .main1_con .main1_menu:before, .main1_con .main1_menu:after, .main1_dev .main1_menu:before, .main1_dev .main1_menu:after {display:none;}

    .main1_tit2 {font-size:26px;}
    .ex_box {padding:15px 10px 20px;}
    .ex_box_list {padding-top:5px;}
    .ex_box_list > li {width:25%;margin-bottom:10px;}
    .ex_box_list > li:nth-child(4n+1) {clear:both;}
    .ex_box_list > li .txt {font-size:13px;}
    
    .not_box .not_big .subject {font-size:20px;}
    .not_box .not_big .txt {font-size:13px;padding-right:0;}
    .not_box .not_big .txt span {padding-right:10px;}
    .not_box .not_big .txt .date {position:relative;padding-left:0;}
    .not_list {margin-top:10px;}
    .not_list li {margin-bottom:5px;}
    .not_list li a {font-size:13px;padding-right:0;padding-left:10px;line-height:18px;}
    .not_list li a:before {width:2px;height:2px;top:12px;}
    .not_list li a .date {display:none;}

    .ex_category:after {display:none;}
    .ex_menu_wrap .ex_menu a {margin-right:10px;}

    .ex_btn {right:-10px;}
    .ex_btn span {padding-left:0;}
    .ex_btn img {right:10px;}
    /* //main1_wrap */

    /* main2_wrap */
    .not_box {padding:20px;border-width:5px;}
    .not_box .not_tit {font-size:16px;}
    .quick_box > li > a em {font-size:15px;padding-left:10px;}
    .cs_box > div {width:100%;}    
    /* //main2_wrap */

   
    #_footer {padding:20px 10px 30px;}
    #_footer .foot_logo {top:0;}

    .go_top {bottom:10px;right:10px;display:none;}
    .go_top img {width:35px;}
    
    ._snb {display:none;}   
    #_snav.on {top:60px;padding-bottom:0;}       

    #_svis ._inner dl dt {font-size:30px;}    
    #_svis ._inner dl dd {font-size:13px;}

    ._scate ._inner_category {background:#cdcdcd;}
    ._scate ._inner_category.menu5 > li {width:33.3333333%;}    
    ._scate ._inner_category.menu5:before {content:'';display:block;width:33.333333%;height:1px;background:#fff;position:absolute;bottom:0;right:0;}
    ._scate ._inner_category.menu5:after {content:'';display:block;width:1px;height:50%;background:#fff;position:absolute;top:50%;right:0;}
    ._scate ._inner_category > li a {height:40px;}
    ._scate ._inner_category > li a span {font-size:13px;}
    ._scate ._inner_category.menu5 > li:nth-child(5n) {border-right:1px solid #fff;}   

    ._scate ._inner_category.menu3 {background:#cdcdcd;}
    ._scate ._inner_category.menu3:before {content:'';display:block;width:1px;height:50%;background:#fff;position:absolute;right:0;bottom:0;}
    ._scate ._inner_category.menu3:after {content:'';display:block;width:50%;height:1px;background:#fff;position:absolute;right:0;bottom:0;}

    ._scate ._inner_category.menu4 > li {width:50%;}  
    ._scate ._inner_category.menu4:before {content:'';display:block;width:1px;height:50%;background:#fff;position:absolute;right:0;bottom:0;}
    ._scate ._inner_category.menu4:after {content:'';display:block;width:50%;height:1px;background:#fff;position:absolute;left:50%;bottom:0;}
        ._scate ._inner_category.menu6 > li {width:33.3333333%;}

    ._scate ._inner_category.menu3 > li, ._scate ._inner_category.menu3 > li:nth-child(3n) {width:50%;}      
    ._scate .menu3 > li:nth-child(4),._scate .menu3 > li:nth-child(5),._scate .menu3 > li:nth-child(6),._scate .menu3 > li:nth-child(7),._scate .menu3 > li:nth-child(8),._scate .menu3 > li:nth-child(9) {display:none;}
    ._scate .menu4 > li:nth-child(4),._scate .menu4 > li:nth-child(5),._scate .menu4 > li:nth-child(6), ._scate .menu4 > li:nth-child(7) {display:none;}
    ._scate ._inner_category.menu3:before {content:'';display:block;width:50%;height:1px;background:#fff;position:absolute;bottom:0;right:0;}
    ._scate ._inner_category.menu3:after {content:'';display:block;width:1px;height:50%;background:#fff;position:absolute;top:50%;right:0;}

    ._scate ._inner_category.menu5 {background:#cdcdcd;}

    .sub_content {padding:50px 0 60px;}

    /* sub11 */    
    .sub01_01 {padding-left:10px;padding-right:10px;}
    .sub11_tit {font-size:24px;text-align:center;}
    .sub11_tit .blue, .sub11_tit .green {font-size:34px;}    
    .sub11_tit br {display:block;}
    .sub11_stit {text-align:center;}
    .sub11_stit br {display:block;}
    .sub11_box {margin-top:40px;}
    .sub11_box > * {float:left;width:100%;}
    .sub11_box .img {text-align:center;padding-left:0;}
    .sub11_box .txt {font-size:15px;line-height:26px;}
    .sub11_txt {font-size:13px;line-height:20px;}
    .sub11_box1 {margin-top:50px;}
    .sub_tit {margin-bottom:20px;}
    /* //sub11 */

    /* sub12 */
    .sub01_02 {padding-left:10px;padding-right:10px;}
    .sub12_box > li {width:100%;}
    .sub12_box > li:nth-child(2n+1), .sub12_box > li:nth-child(2n) {margin:0;margin-top:-6px;}
    /* //sub12 */

    /* sub13 */
    .sub13_tit {text-align:center;margin-bottom:50px;}
    .sub13_tit .txt {font-size:18px;}
    .sub13_tit .tit  {font-size:30px;}
    .sub13_history {padding-left:0;}
    /* //sub13 */

    /* sub14 */
    .sub14_mid {margin-bottom:50px;padding:0 10px;box-sizing:border-box;}
    .sub14_bot {padding:0 10px;box-sizing:border-box;}
    .sub14_bot .box {padding:0;}
    .sub14_bot .add {font-size:13px;margin-bottom:15px;}
    .sub14_map {height:200px;}
    .sub14_route > li {width:100%;margin-bottom:15px;}
    .sub14_route > li:nth-child(odd), .sub14_route > li:nth-child(even) {padding-left:0;}
    .sub14_route > li:nth-child(3) {margin-bottom:10px;}
    .sub14_route > li .img {width:20%;margin-right:0;}
    .sub14_route > li .txt {width:80%;padding-left:15px;font-size:13px;box-sizing:border-box;line-height:20px;}
    /* //sub14 */

    /* sub21 */
    .sub21_tit {font-size:30px;margin-bottom:30px;}
    .sub21_box {padding:30px 20px 50px;/*background:url(../images/sub21_img.gif) 50% 50% no-repeat;*/}
    .sub21_box img {display:none;}
    .sub21_txt {position:relative;}
    .sub21_txt1, .sub21_txt2, .sub21_txt3, .sub21_txt4 {left:auto;right:auto;top:auto;width:100%;}
    /* //sub21 */

    /* sub22 */
    .sub02_02 {padding-left:10px;padding-right:10px;}
    .sub22_img2 img:first-child {margin-right:0;margin-bottom:20px;}   
    /* //sub22 */

    /* sub23 */
    .sub02_03 {padding-left:10px;padding-right:10px;}
    .sub23_slide .top .name {font-size:30px;}
    .sub23_slide .top .opt {left:0;top:-10px;}
    .big_overlayer {width:100%;margin:0 auto;height:auto;padding:10px 10%;left:0;top:0;}
    /* //sub23 */

    /* sub23_pop popup */    
    .overlayer {width:96%;height:84%;margin-left:0;left:2%;top:8%;margin-top:0;padding:20px;overflow-y:auto;}
    /* //sub23_pop popup */

    /* sub24 */
    .sub02_04 {padding-left:10px;padding-right:10px;}
    .iec11_topbox {background:none !important;}
    .iec11_list {width:100%;margin-top:15px;}
    .iec12_box > div {padding:0 3px;box-sizing:border-box;}    
    .iec13_img img {display:block;margin:10px auto;}
    .iec13_img img:first-child {margin:10px auto;}
    /* //sub24 */

    /* sub27 */
    .sio0_tit {padding-bottom:30px;}
    .sio0_img {position:relative;margin-bottom:20px;}
    .sio0_tbl .top .label {font-size:13px;position:relative;left:auto;top:auto;}
    .sio1_img > li {padding:3px;box-sizing:border-box;}
    /* //sub27 */

    /* sub28 */
    .sub02_08 {padding-left:10px;padding-right:10px;}
    .sio0_tbl {margin-bottom:30px;}
    .opt2_img {margin:30px auto 0;}
    .opt2_img > li {width:100%;margin-bottom:15px;}
    .opt2_box2 .btnbox {position:relative;right:auto;bottom:auto;}
    .opt2_box2 .txt a {right:auto;top:auto;}
    .opt12_img {margin:30px auto 0;}
    .opt12_img > li {width:100%;margin-bottom:15px;}
    /* sub28 */

    /* sub31 */
    .sub03_01 {padding-left:10px;padding-right:10px;}
    .sub31_box1 {display:block;}
    .sub31_box1 > div {display:block;width:100%;}
    .sub31_box1 .img {text-align:center;margin-bottom:50px;}    
    /* //sub31 */

    /* sub32 */
    .sub03_02 {padding-left:10px;padding-right:10px;}
    .sub32_tit strong {font-size:32px;}
    .sub32_primary strong {height:100%;top:0;}
    .sub32_ver > li > a {padding:20px 15px;}
    .sub32_ver .bot .btn {position:relative;bottom:auto;right:auto;margin-top:10px;}
    .sub32_ver .tit {font-size:20px;}
    .sub32_ver .stit {font-size:13px;}
    .sub32_ver .bot .price {font-size:14px;}
    /* //sub32 */

    /* sub41 */
    .sub04_01 {padding-left:10px;padding-right:10px;}
    .sub41_btnbox {margin:0 0 50px;}
    .sub41_btnbox > li {padding:0;width:32%;margin-left:2%;}
    .sub41_btnbox > li:first-child {margin-left:0;}
    /* //sub41 */

    /* sub42 */
    .sub04_02 {padding-left:10px;padding-right:10px;}
    .sub42_box3 > li .box {height:auto;}
    /* //sub42 */

    /* sub43 */
    .sub04_03 {padding-left:10px;padding-right:10px;}
    .sub43_txt {margin:0 0 60px;}
    /* //sub43 */

    /* sub51 */
    .sub05_01 {margin-top:-36px;}
    .pro_data dd .img {display:none;}
    .pro_data dd .data {width:100%;}
    .pro_data .list > li {width:50%;}
    .pro_data .list > li:nth-child(2) {border-right:1px solid #e1e1e1;}
    .pro_data .list > li:last-child {width:100%;}
    .pro_data .list1 > li:first-child {width:100%;border-right:1px solid #e1e1e1;}
    .pro_data .list1 > li:last-child {border-right:1px solid #2d8bff;}
    .pro_data .cnt.none dd {display:none;}    
    /* //sub51 */

    /* sub52 */
    .sub05_02 {margin-top:-36px;}
    .sub52_top .guide {padding:5px 10px 20px 160px;}
    .sub52_top .guide .tit {width:150px;height:50px;line-height:50px;background-size:contain;padding-left:20px;font-size:15px;box-sizing:border-box;}
    .sub52_top .guide .txt {font-size:13px;line-height:20px;text-align:left;}
    .sub52_top .box {width:98%;padding:10px;}
    .sub52_top .step .tit {font-size:13px;text-align:left;}
    .sub52_top .step .txt {font-size:13px;text-align:left;}
    /* //sub52 */

    /* sub53 */
    .sub05_03 {margin-top:-36px;}
    .cad2_list > li.w1 {width:100%;}
    .cad2_list > li.w2, .cad2_list > li.w3, .cad2_list > li.w4 {width:33.3333%;height:44px;}
    .cad2_list > li .down {vertical-align:middle;padding:0;}
    .cad2_list > li .down:before {content:'';display:inline-block;height:100%;vertical-align:middle;}
    .cad2_list > li .down span {display:inline-block;vertical-align:middle;}
    /* //sub53 */

    /* sub54 */
    .sub05_04 {padding-left:10px;padding-right:10px;}
    /* //sub54 */

    /* notice */
    .notice {padding-left:10px;padding-right:10px;}    
    /* //notice */

    /* faq */
    .faq {padding-left:10px;padding-right:10px;}
    /* //faq */

    /* sub71 */
    .sub07_01 {padding-left:10px;padding-right:10px;}
    /* //sub71 */

    /* sub72 */
    .sub07_02 {padding-left:10px;padding-right:10px;}
    /* //sub72 */

    /* sub73 */  
    .sub07_03 {padding-left:10px;padding-right:10px;}  
    .sub73_box .acc {padding:10px 10px 0;}
    .sub73_box .acc .acc1,.sub73_box .acc p {text-align:center;}
    /* //sub73 */

    /* sub74 */
    .sub07_04 {padding-left:10px;padding-right:10px;}  
    /* //sub74 */

    .relayer .desc {height:auto;}
   
    /********************1000*****************/
}

@media all and (min-width:768px){
    .__m {display:none !important;}
    .__nobg {background-image:none !important;}
}

@media all and (max-width:768px){
    .__p {display:none !important;}
    .block_640 { display:block; }
    .none_640 { display:none; }

    .vam {vertical-align:baseline;}

    .top_wrap .info {font-size:13px;}
    .top_wrap .info .esp {font-size:13px;}
    .btn_wrap button {width:49%;height:44px;border:2px solid #2d3e64;font-size:16px;}
    .btn_wrap button.active {border:2px solid #acacac;}
    .btn_wrap .top_btn1 {margin-right:2%;}
    .top_xbtn {width:26px;height:28px;background-size:cover;right:0;}
    
    #wrap {padding-top:50px;}
    
    #header {height:50px;}
    #header .top {height:50px;}
    #header .logo {width:120px;top:15px;}
    /*#header .tnb_box {top:15px;right:-5px;}*/
    #header .tnb_box {height:50px;line-height:50px;top:0;right:-5px;}
    #header .tnb_box .con, #header .tnb_box .dev {font-size:13px;}
    #header .tnb_box .con:after {height:10px;margin-top:-6px;}
    ._mnav-on #header .tnb_box .con:after {height:10px;margin-top:-6px;}
    #header ._menuon {width:25px;height:25px;margin-left:8px;top:50%;margin-top:-13px;line-height:normal;}
    ._mnav-on #header ._menuoff {width:25px;height:25px;margin-left:8px;top:50%;margin-top:-13px;line-height:normal;}    
    #header .tnb_box .sch {width:25px;height:25px;margin-left:8px;background-size:cover;}

    #header .inner {height:50px;}

    #header ._gnb > li > a {height:29px;line-height:29px;font-size:14px;}
    #header ._gnb > li {float:left;position:relative;}    
    #header ._gnb > li > a {font-size:12px;}

    #_nav {top:50px;}
    #_nav.on {top:50px;}
        
    #_vis .bx-pager {width:auto;bottom:10px;left:auto;right:10px;}
    #_vis .bx-pager .bx-pager-item a {width:10px;height:10px;}
    #_vis .bx-controls-direction {display:none;}    

    /* main1_wrap */
    .main1_menu {height:35px;line-height:35px;margin-bottom:20px;}
    .main1_con .main1_menu {background-size:cover;}    
    .main1_con .main1_menu > a {min-width:70px;font-size:15px;}
    .main1_con .main1_menu .con {font-size:15px;min-width:70px;}
    .main1_con .main1_menu .con {margin-right:30px;}
    .main1_con .main1_menu .con {background-size:18px;padding-right:20px;}

    .main1_dev .main1_menu {background-size:cover;}
    .main1_dev .main1_menu > a {min-width:70px;font-size:15px;}
    .main1_dev .main1_menu .dev {font-size:15px;min-width:70px;}
    .main1_dev .main1_menu .dev {margin-left:30px;}
    .main1_dev .main1_menu .dev {background-size:18px;padding-right:20px;}


    .main1_tit1 {font-size:16px;margin-bottom:18px;}
    .main1_tit1 span {font-size:13px;padding-left:6px;}
    .main1_category > li {width:50%;margin-bottom:5px;}
    .main1_category > li:nth-child(odd) {clear:both;}
    .main1_category > li .img {padding:25px 0 25px;}
    .main1_category > li .img img {width:60px;}
    .main1_category > li.dev_etc .img img {margin-top:-4px;}
    .main1_category > li:nth-child(7) .img {padding:18px 0 19px;}
    .main1_category > li:nth-child(7) .img img {width:75px;}   
    .main1_category > li.category_roll .info {/*padding:6px 0 8px;*/padding:10px 0 13px;}
    .main1_category > li .info .tit {font-size:13px;letter-spacing:-0.075em;padding-bottom:2px;}
    .main1_category > li .info .txt {font-size:12px;}
    .main1_category > li.category_roll .bx-controls-direction > a {top:50%;margin-top:-6px;}
    .main1_category > li.category_roll .bx-controls-direction .bx-prev {left:5px;}
    .main1_category > li.category_roll .bx-controls-direction .bx-next {right:5px;}
    .ex_category {overflow:hidden;padding-top:10px;}
    .ex_menu_wrap {height:35px;width:100%;position:absolute;}
    
    .ex_menu_wrap .ex_menu {width:100px;height:34px;position:relative;}
    .ex_menu_wrap .ex_menu a {width:110px;height:35px;line-height:35px;background-size:15px;box-sizing:border-box;padding-right:0;padding-left:38px;font-size:15px;position:absolute;right:10px;overflow:hidden;margin-right:1px;top:0;background-position-y:10px;}
    .ex_menu_wrap .ex_menu a:after {width:23px;height:36px;background-size:23px 48px;top:-1px;}

    .ex_btn {width:125px;height:36px;line-height:40px;background-size:cover;top:-50px;right:-5px;}
    .ex_btn span {font-size:15px;color:#fff;padding-right:10px;}
    .ex_btn img {width:20px;right:15px;top:10px;}

    .main1_tit2 {font-size:16px;margin-bottom:18px;}
    .main1_tit2 span {font-size:13px;padding-left:6px;}

    .ex_box {padding:15px 3px 5px;margin-top:34px;position:relative;top:-1px;}
    .ex_box_list > li {padding:0 3px;box-sizing:border-box;margin-bottom:13px;}
    .ex_box_list > li .img img {width:50px;}
    
    .main1_dev .ex_box_list li .img {height:42px;}  
    /* //main1_wrap */

    /* main2_wrap */
    .main2_wrap {padding:0;}
    .not_box {padding:15px;border:3px solid #d8e1ee;}
    .not_box .not_tit {font-size:14px;margin-bottom:8px;}
    .not_box .not_tit .not_more {font-size:12px;top:2px;right:0;letter-spacing:-0.05em;}
    .not_box .not_big .txt .date {display:none;}
    .not_box .not_big .subject {font-size:15px;padding-bottom:5px;}  
    .not_box .not_big .txt span {display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-right:0;}
    .not_list li a {line-height:16px;font-size:12px;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
    .not_list li a .date {display:none;}
    .not_list li a:before {top:8px;}
    .quick_box > li {width:50%;}
    .quick_box > li:nth-child(1), .quick_box > li:nth-child(4) {background:#959595;}
    .quick_box > li:nth-child(2), .quick_box > li:nth-child(3) {background:#b5b5b5;}
    .quick_box > li > a {text-align:left;}
    .quick_box > li > a > * {display:inline-block;box-sizing:border-box;}
    .quick_box > li > a > span {width:50%;text-align:right;padding-right:10px;}
    .quick_box > li > a > em {width:50%;padding-left:0;}
    .cs_box > div {padding:15px 10px 5px;}
    .cs_box .top {height:auto;}
    .cs_box .tit {margin-bottom:10px;font-size:14px;}
    .cs_box .tel .num {font-size:25px;padding-bottom:8px;}
    .cs_box .tel .fax {font-size:15px;padding-bottom:8px;}
    .cs_box .tel .info {font-size:13px;}
    .cs_box .bot {font-size:13px;line-height:24px;}
    .cs_box .tel .bot {padding:14px 0;width:324px;margin:0 auto;}
    .cs_box .tel .bot > div {padding:0 3px;box-sizing:border-box;letter-spacing:-0.05em;}
    .cs_box .tel .bot img {width:13px;padding-right:5px;}

    .cs_box .delivery .due {font-size:15px;padding-bottom:5px;}
    .cs_box .delivery .del {font-size:25px;}
    .cs_box .delivery .info {font-size:13px;line-height:20px;word-break:keep-all;}
    .cs_box .delivery .bot {padding:14px 0;width:204px;margin:0 auto;}
    .cs_box .delivery .bot > div {width:100%;}
    .cs_box .delivery .bot img {width:13px;padding-right:5px;}
    .cs_box .delivery .bot .del_bot6 {padding-left:18px;}
    /* //main2_wrap */
    
    #_footer .inner {width:100%;text-align:center;font-size:12px;}
    #_footer .foot_logo {display:none;}
    #_footer .foot_tit {font-size:15px;margin-bottom:8px;}
    #_footer .foot_info {line-height:20px;margin-bottom:15px;letter-spacing:-0.05em;}
    #_footer .link a {font-size:12px;}
    #_footer .link em {font-size:8px;position:relative;top:-3px;}
    
    /*.go_top img {display:none;}*/

    #_snav.on {top:49px;padding-bottom:0;}
    /*#_snav.on ._scate {padding-bottom:10px;}*/
    ._scate ._inner_category {background:#cdcdcd;}

    ._scate ._inner_category > li a {height:35px;}
    ._scate ._inner_category > li a span {font-size:12px;}        
        
    #_svis, #_svis ._inner_wrap, #_svis ._inner {height:75px;}
    #_svis ._inner dl dt {font-size:18px; margin-bottom:0; }
    #_svis ._inner dl dd {}
    .svis_arrow .prev {left:10px;}
    .svis_arrow .next {right:10px;}
    .svis_arrow a span {display:none;}

    .sub_content {padding:25px 0 20px;}
    .sub_txt {font-size:13px;line-height:20px;text-align:left;}
    .sub_tit em {font-size:13px;}

    /* sub11 */  
    .sub01_01 {padding-left:10px;padding-right:10px;}  
    .sub11_tit {font-size:18px;}
    .sub11_tit .blue, .sub11_tit .green {font-size:23px;}   
    .sub11_stit {font-size:13px;}
    .sub11_box {margin-top:30px;}
    .sub11_box .img {padding:30px;}    
    .sub11_box .txt {font-size:13px;line-height:20px;padding-top:20px;}
    .sub11_txt {font-size:13px;line-height:20px;margin-top:30px;text-align:left;}
    .sub11_box1 {margin-top:30px;font-size:13px;line-height:24px;}
    .sub_tit {margin-bottom:15px;font-size:16px;padding-left:10px;}
    .sub_tit:before {width:4px;height:18px;margin-top:0;top:0;}    
    .sub_info {margin-left:10px;padding-left:7px;} 
    .sub_info:after {width:3px;height:3px;margin-top:0;top:7px;}
    /* //sub11 */

    /* sub12 */
    .sub01_02 {padding-left:10px;padding-right:10px;}  
    .sub12_tit {font-size:16px;line-height:24px;}
    .sub12_box > li {padding:10px 5px;}   
    .sub12_box > li .tit {font-size:16px;margin-bottom:6px;}
    .sub12_box > li .txt {font-size:13px;}
    /* //sub12 */

    /* sub13 */
    .sub13_tit {margin-bottom:30px;}
    .sub13_tit .txt {font-size:15px;margin-bottom:10px;}
    .sub13_tit .tit {font-size:23px;}
    .sub13_history .box {margin-bottom:15px;}
    .sub13_history .box .year span {font-size:18px;width:70px;padding-left:15px;}
    .sub13_history .box .year span:after {width:74px;}
    .sub13_history .box .txt {padding-left:96px;font-size:13px;line-height:20px;}
    .sub13_history .box .txt p {padding-right:10px;box-sizing:border-box;}
    /* //sub13 */

    /* sub14 */
    .sub14_top {padding:25px 10px 20px;margin-bottom:20px;}
    .sub14_top .tel {font-size:18px;margin-bottom:8px;}
    .sub14_top .tel span {padding-left:15px;}
    .ico_tel {padding-left:8px;}
    .sub14_top .etc {font-size:13px;}

    .sub14_mid {margin-bottom:30px;}
    .sub14_mid dl {margin-bottom:10px;}
    .sub14_mid dt, .sub14_mid dd {font-size:12px;margin-bottom:5px;}
    .sub14_mid dt {font-size:14px;}
    .sub14_w1 {width:100%;}
    .sub14_w2 {width:14%;}
    .sub14_w3 {width:39%;}
    .sub14_w4 {width:47%;}
    .sub14_mid .sub_info {margin-left:0;}
    /* //sub14 */

    /* sub21 */
    .sub21_tit {font-size:23px;margin-bottom:20px;}
    .sub21_box {padding:20px 20px 30px;}
    .sub21_txt {margin-bottom:15px;}
    .sub21_txt dt .tit {font-size:18px;}
    .sub21_txt dt .stit {font-size:15px;}
    .sub21_txt dd {font-size:13px;line-height:20px;}
    .sub21_txt dt .tit:after {width:20px;height:20px;background-size:cover;}
    .sub21_txt1, .sub21_txt3 {padding-right:10px;}
    .sub21_txt2, .sub21_txt4 {padding-left:10px;}
    .sub21_txt dt .tit:after {top:3px;}
    .sub21_txt1 dt .tit:after, .sub21_txt3 dt .tit:after {right:-24px;}
    .sub21_txt2 dt .tit:after,.sub21_txt4 dt .tit:after {left:-24px;}
    /* //sub21 */

    /* sub22 */
    .sub02_02 {padding-left:10px;padding-right:10px;}
    .sub22_img1 {margin-bottom:30px;}

    .sub22_tbl1 {margin-bottom:30px;}
    .sub22_tbl1 th, .sub22_tbl1 td, .sub22_tbl1 .bg {font-size:12px;line-height:20px;}
    .sub22_tbl1 th, .sub22_tbl1 td {padding:5px 0 0;}
    .sub22_tbl2 th, .sub22_tbl2 td {font-size:12px;line-height:initial;padding:5px 0 0;}

    .sub22_box {font-size:13px;margin-bottom:30px;padding:10px;}
    .sub22_box .txt {line-height:20px;margin-bottom:10px;text-align:left;}

    .sub22_toptxt {font-size:13px;line-height:20px;}    
    .btn a {width:100%;font-size:14px;padding:5px 0;}
    .btn a:first-child {margin-bottom:10px;}

    .sub22_tbl3 th, .sub22_tbl3 td,.sub22_tbl3 th.top {font-size:12px;line-height:18px;word-break:break-all;padding:5px 0 0;}
    /* //sub22 */

    /* sub23 */
    .sub02_03 {padding-left:10px;padding-right:10px;}
    .sub23_mb {margin-bottom:20px;}
    .sub23_wrap {margin:0;}
    .sub23_chk .boxwrap {padding:10px 0 10px 10px;}
    .sub23_chk .tit {font-size:15px;padding:7px 0 4px 10px;}
    .sub23_chk .box1 > li {width:50%;font-size:12px;padding:3px;box-sizing:border-box;}
    .sub23_chk .box1 > li:nth-child(odd) {clear:both;}
    .sub23_chk .box1_tit {font-size:14px;margin:5px 0;}
    .sub23_wrap .list {width:100%;}
    .sub23_chk .box > li {font-size:12px;padding:3px;box-sizing:border-box;line-height:16px;}
    .sub23_chk .box > li .ft {font-size:10px;}
    .sub23_chk .box1.da > li {width:100%;}
    .sub23_chk .box1 > li.fst {width:100%;}
    .sub23_tit {font-size:15px;margin:15px 0 6px;}
    .sub23_result {margin:25px 0 10px;padding:0;}
    .sub23_result .tit {font-size:13px;box-sizing:border-box;}
    .sub23_result .tit strong {font-size:14px;}
    .sub23_result .chk_none {position:relative;top:auto;right:auto;margin-top:10px;font-size:14px;width:100%;height:30px;line-height:30px;background:#2d8bff;color:#fff;}
    .sub23_resultbox {margin:0 0 30px;}    
    .result_list > li {width:100%;font-size:13px;padding:3px;}
    .result_list > li .box {margin-right:0;}
    .sub23_slide {margin:15px -10px;}
    .sub23_slide > div {width:100%;padding:0 10px 10px;margin-bottom:10px;}
    .sub23_slide .slide1 {margin-right:0;}
    .sub23_slide .wt {width:25px;height:25px;z-index:3;}
    .sub23_slide .top {margin-top:0;}
    .sub23_slide .top .name {width:100%;font-size:15px;text-align:left;padding-left:24px;height:25px;line-height:27px;background:#f4f4f4;border-bottom:1px solid #e1e1e1;}
    .sub23_slide .top .opt {font-size:12px;top:-14px;display:none;}
    .sub23_slide .big {padding:15px 20px;}        
    .sub23_slide .slide_pager a {width:19%;margin:0 0.5%;}
    .sub23_slide .bot .price {font-size:16px;}
    .sub23_slide .bot .price .vat {font-size:12px;}
    .sub23_slide .bot .go_buy {font-size:14px;}
    .sub23_tbl1 th {font-size:15px;padding:3px 0 3px 10px;line-height:20px;}
    .sub23_tbl1 th .tit {padding-left:20px;}
    .sub23_tbl1 th .tit:before {width:15px;height:15px;margin-top:0;top:1px;}
    .sub23_tbl1 th .tit1:before, .sub23_tbl1 th .tit2:before {background-size:cover;}
    .sub23_tbl2 th, .sub23_tbl2 td {font-size:13px;padding:5px 0 0 3px;vertical-align:middle;}
    .sub23_tbl2 {margin-bottom:20px;}
    .sub23_tbltit {padding:5px 0 3px;}
    
    .big_overlayer .bx-controls-direction > a {top:45%;z-index:9999;}
    .big_overlayer .bx-controls-direction .bx-prev {left:10px;}
    .big_overlayer .bx-controls-direction .bx-next {right:10px;}
    .big_overlayer .x_pop {top:0;right:0;}
    .big_overlayer .slide_pager3 a {width:50px;height:50px;}
    .big_overlayer {top:18%;}

    /* //sub23 */

    /* sub23_pop popup */   
    .overlayer {padding:20px 10px;}
    .overlayer .x_pop {right:0;top:0;}    
    .sub23_tbl2 th a {padding-bottom:5px;}
    .popup img {width:22px;height:22px;}

    .relayer {display:block;}
    .relayer > div {display:block;padding-bottom:20px;}
    .relayer .desc, .relayer .img {width:100%;}    

    .layer_adapt .tit {width:20%;padding:3px 2px;}
    .layer_adapt .tit span {font-size:13px;}
    .layer_adapt .txt {padding:5px 3px 3px;}
    .layer_adapt .txt p {font-size:13px;}

    .layer1_tbl th {padding:3px 0;font-size:13px;}
    .layer1_tbl .bl {font-size:12px;}
    .layer1_tbl td {font-size:12px;padding:3px 0;}

    .layer2_box {display:block;width:100%;margin:20px 0;padding:20px 10px;box-sizing:border-box;}
    .layer2_box > div {display:block;}
    .layer2_box .img, .layer2_box .txt {width:100%;}
    .layer2_box .txt .tit {margin-top:10px;font-size:15px;}
    .layer2_box .txt .desc {font-size:13px;line-height:20px;}
    .layer5 .img {padding-top:0;}
    .relayer .img {margin:20px 0;}
    .relayer .box {position:relative;left:auto;bottom:auto;margin-top:20px;}
    .layer_btn {margin:15px 0;}
    /* //sub23_pop popup */

    /* sub24 */
    .sub02_04 {padding-left:10px;padding-right:10px;}
    .iec11_tit {padding-bottom:30px;}
    .iec11_tit span {font-size:18px;}
    .iec11_tit span:before {height:18px;top:0;}
    .iec11_tit strong {font-size:26px;}
    .iec11_list > li .desc {font-size:13px;}
    .iec11_list > li {width:50%;height:55px;margin-bottom:15px;}
    .iec11_list > li:nth-child(odd) {clear:both;}
    .iec11_list > li:before {top:0;height:52px;}
    .bluebox {padding:20px 10px;font-size:13px;margin-bottom:20px;}
    .bluebox .tit {font-size:16px;padding-bottom:15px;}
    .bluebox p {line-height:20px;}
    .bluebox p span {font-size:15px;}
    .iec11_box .top .tit {font-size:18px;}
    .iec11_box .top {padding:5px 5px 0;}
    .sub_fold .top:before {width:10px;height:10px;top:50%;margin-top:-5px;right:8px;background-size:cover;}
    .sub_fold.over .top:before {background-size:cover;}
    .iec11_box .box {display:block;}
    .iec11_box .box > * {width:100%;display:block;padding:15px 0;}
    .iec11_box .bot {padding:10px;box-sizing:border-box;}
    .iec11_box .bot .tit {font-size:14px;padding-bottom:5px;}
    .iec11_box .bot .desc {font-size:13px;line-height:20px;}
    .iec11_box .bot .desc span {font-size:14px;}

    .iec12_mt50 {margin-top:50px;}
    .iec12_box > div {width:100%;margin-bottom:15px;}
    .iec12_box .tit {font-size:15px;padding-left:10px;}
    .iec12_box .tit:before {width:5px;height:5px;margin-top:-5px;}
    .iec12_box2 {padding:15px 10px;margin-bottom:20px;}
    .iec12_box2 .tit {font-size:16px;}
    .iec12_box2 .box > div {padding:5px;}
    .iec12_box2 .box .tit {width:20%;}
    .iec12_box2 .box .txt {padding:5px 8px;font-size:13px;}

    .iec12_interface .top {padding:10px 6px 5px;}
    .iec12_interface .top .tit {font-size:15px;}
    .iec12_interface .top .tit:before {width:5px;height:5px;margin-top:-5px;}
    .iec12_interface .bot {padding:10px 3px;}

    .iec13_mt85 {margin-top:30px;}
    .iec13_img {margin:20px 0 15px;}
    .iec13_box > span {width:100%;margin-bottom:10px;font-size:14px;padding-top:10px;}
    .iec13_box > span img {display:block;margin:0 auto 10px;}
    .iec13_box .red img {margin-bottom:0;}
    .iec13_box > span em {padding:0 0 0 10px;}
    .iec13_box > span em:before {width:5px;height:5px;margin-top:-2.5px;}
    .iec13_box2 {margin-bottom:20px;}    
    .iec13_box2 .tit {width:25%;}
    .iec13_box2 .tit.none {display:none;}
    .iec13_box2 .tit img {display:none;}
    .iec13_box2 .tit span {padding-left:0;}
    .iec13_box2 .txt {width:75%;padding:10px 5px;}
    .iec13_box2.iec13_box3 .txt {width:75%;padding:10px 5px;}
    .iec13_box2 .txt strong {font-size:15px;}
    .iec13_box2 .txt p {font-size:13px;line-height:20px;text-align:left;}
    .iec13_box2 .txt a {position:relative;margin:10px auto 5px;right:auto;top:auto;}
    .iec13_box2.iec13_box3 {margin-bottom:30px;}

    .iec14_tbltit {padding-left:0;}
    .iec14_tbl1 th {padding:3px 0;}
    .iec14_tbl1 th span {font-size:13px;}
    .iec14_tbl2 {margin-bottom:20px;}
    .iec14_tbl2 th, .iec14_tbl2 td {padding:5px 0 0 5px;font-size:12px;}
    .iec14_tbl th, .iec14_tbl td {padding:5px 0 0 0;}
    .iec14_tbl3 th {font-size:13px;line-height:20px;}
    .iec14_tbl3 td {padding:0 3px;}
    .iec14_tbl3 td span {width:100%;font-size:12px;}
    .iec14_warn {font-size:13px;text-align:left;margin:5px 0 30px;}

    .iec15_txt {font-size:13px;line-height:20px;text-align:left;}
    .iec15_tbl th, .iec15_tbl td {padding:5px 0 0;}
    .iec15_tbl th {font-size:13px;word-break:break-all;}
    .iec15_tbl .pd20 {padding-left:3px;font-size:13px;}
    .iec15_tbl td {font-size:13px;}
    .iec15_box {display:block;}
    .iec15_box > div {display:block;padding:5px 0;}
    .iec15_box .tit {width:100%;padding-left:10px;}
    .iec15_box .tit span {font-size:14px;}
    .iec15_box .txt {width:100%;padding-left:10px;}
    .iec15_box .txt li {width:100%;font-size:13px;line-height:20px;}
    .iec15_box .txt li:nth-child(odd) {width:100%;}
    /* sub24 */

    /* sub27 */
    .sub27_txt {font-size:13px;line-height:20px;margin-top:15px;}
    .sio0_tbl th, .sio0_tbl td {font-size:12px;padding:5px 0 0;}
    .sio0_tbl .imgpd {padding:10px;}
    .sio0_tbl .top {padding:5px 0 3px;}
    .sio0_tbl .top .tit {font-size:13px;}
    .sio1_img > li {width:100%;margin-bottom:15px;}
    .sio1_buy {margin:15px 0;}
    .sio1_buy > * {padding:5px 3px;box-sizing:border-box;text-align:center;}
    .sio1_buy .buy {width:25%;padding:6px 5px 3px;}
    .sio1_buy .price {width:75%;}

    .sio_height > * {height:50px;}
    .sio1_buy.sio_height a {padding-top:16px;} 
    .sio1_buy.sio_height span {padding-top:8px;}

    .sio4_tbl .buy {width:90%;}      
    /* //sub27 */

    /* sub28 */
    .sub02_08 {padding-left:10px;padding-right:10px;}
    .op1_img {padding:20px 10px;}
    .opt2_box.sub_fold .top:before {top:19px;}
    .opt2_box .top .tit {font-size:15px;}
    .opt2_box .bot {padding:15px 10px;}
    .opt2_box .bot .opt2_txt {margin:20px 0 30px;}
    .opt2_tbl1 {margin-bottom:0;}
    .opt2_box2 .txt a {width:100%;}
    .opt3_img {padding:20px 0 0;}
    /* sub28 */

    /* sub31 */
    .sub03_01 {padding-left:10px;padding-right:10px;}
    .sub31_box1 {margin:30px 0;}
    .sub31_box1 .img {margin-bottom:20px;}
    .sub31_box1 .txt .tit {font-size:15px;}
    .sub31_box1 .txt .desc {font-size:13px;margin-bottom:15px;text-align:left;}
    .sub31_box1 .txt .tit:before {width:3px;height:20px;left:-10px;}
    .sub31_box1 .txt {padding-left:10px;}
    .sub31_box2 {display:block;margin-bottom:30px;}
    .sub31_box2 > div {display:block;}
    .sub31_box2 .tit {display:none;}
    .sub31_box2 .txt {padding:10px 15px;}
    .sub31_box2 .txt strong {font-size:15px;}
    .sub31_box2 .txt p {font-size:13px;line-height:20px;text-align:left;}
    .sub31_box2 .txt a {position:relative;margin:10px auto 5px;right:auto;top:auto;}
    .sub31_frame {margin:20px 0 30px;padding:0;}
    .sub31_tbl th, .sub31_tbl td {padding:3px 0;letter-spacing:-0.03em;}
    .sub31_tbl th {font-size:14px;}
    .sub31_tbl td {font-size:13px;}
    .sub31_tbl .pd20 {padding-left:8px;}
    .sub31_tbl td a {font-size:13px;}
    .sub31_tbl1 {margin-bottom:30px;}
    .sub31_list {margin-bottom:30px;}
    .sub31_list dt {padding:8px 10px 8px 10px;}
    .sub31_list dl dt:before {right:8px;top:10px;width:8px;height:8px;background-size:cover;}
    .sub31_list dt .tit {left:5px;position:relative;left:auto;top:auto;padding-bottom:8px;}
    .sub31_list dt .tit img {width:16px;}
    .sub31_list dt span {font-size:13px;padding-left:5px;}
    .sub31_list dt .desc {font-size:13px;padding:0;text-align:left;}
    .sub31_list dd {padding:0 10px 5px 10px;}
    .sub31_list dd span {font-size:13px;line-height:20px;text-align:left;}
    /* //sub31 */

    /* sub32 */
    .sub03_02 {padding-left:10px;padding-right:10px;}
    .sub32_tit {font-size:15px;margin-bottom:15px;}
    .sub32_tit strong {font-size:18px;}
    .sub32_txt {margin-bottom:30px;}
    .sub32_primary {font-size:13px;margin:15px 0 20px;padding-left:120px;}
    .sub32_primary strong {font-size:13px;width:110px;}
    .sub32_tbl1 {margin-bottom:30px;}
    .sub32_tbl1 th, .sub32_tbl1 td {font-size:13px;}
    .sub32_box1 {margin-bottom:30px;}
    .sub32_box1 .tit {font-size:15px;}
    .sub32_box1 .tit:before {width:6px;height:6px;margin-top:-3px;}
    .sub32_box1 img {margin-top:15px;}  
    .sub32_box2 {padding:15px 10px;margin:10px 0 30px;}  
    .sub32_box2 .txt1 {font-size:14px;padding-bottom:5px;}
    .sub32_box2 .txt2 {font-size:13px;}
    .sub32_box2 .txt2 strong {font-size:13px;}
    .sub32_ver > li > a {height:220px;padding:10px 15px;}
    .sub32_ver .bot .btn {font-size:13px;padding:5px 8px 3px;}
    /* //sub32 */

    /* sub41 */
    .sub04_01 {padding-left:10px;padding-right:10px;}
    .sub41_img1 {margin-bottom:30px;}
    .sub41_btnbox > li > a > span {font-size:13px;}
    .sub41_btnbox {margin:0 0 30px;}
    .sub41_txt.mb, .sub41_img2 {margin-bottom:30px;}
    .sub41_box {padding:10px;}
    .sub41_box .txt {font-size:13px;line-height:21px;}    
    .sub41_box .download {margin:3px 0;}
    /* //sub41 */

    /* sub42 */
    .sub04_02 {padding-left:10px;padding-right:10px;}
    .sub42_box {display:block;padding:0 10px;margin-bottom:30px;}
    .sub42_box > .box {display:block;width:100%;font-size:16px;padding:10px 0;margin-bottom:10px;}
    .sub42_box > .info {display:block;width:100%;font-size:13px;padding-left:0;line-height:20px;}
    .sub42_box > .info .tit {font-size:15px;}
    .sub42_box > .info .txt {text-align:left;}
    .sub42_box3 {margin:0 0 30px;padding:0;}
    .sub42_box3 > li {width:100%;padding:0;margin-bottom:10px;}
    .sub42_box3 > li .box {padding:10px;height:auto;}
    .sub42_box3 > li .box .tit {font-size:15px;padding-bottom:15px;}
    .sub42_box3 > li .box .txt {font-size:13px;padding-bottom:10px;}
    .sub42_box3 > li .box .img {margin-top:0;text-align:center;}    
    .sub42_box3 > li .box .blue {margin-top:10px;}    
    .sub42_box > .info .txt:before {top:7px;}
    /* //sub42 */
    
    /* sub43 */
    .sub04_03 {padding-left:10px;padding-right:10px;}
    .sub43_txt {margin:0 0 30px;}
    .sub43_mt {margin-top:30px;}
    .sub41_box .sub43_info {padding-bottom:0;}
    .sub41_box .sub43_download {width:auto;padding:5px 10px;line-height:20px;margin-top:10px;}
    /* //sub43 */

    /* sub51 */
    .sub05_01 {margin-top:-10px;}
    .sub51_top > * {font-size:13px;}
    .pro_data dt {height:auto;line-height:inherit;}
    .pro_data dt .num {width:30px;height:30px;line-height:32px;margin-right:10px;font-size:18px;}
    .pro_data dt .tit {font-size:13px;}
    .pro_data dl dt:before {width:10px;height:10px;right:8px;top:50%;margin-top:-5px;background-size:100% 100%;}
    .pro_data dl.over dt:before {background-size:100% 100%;}
    .pro_data dd {padding:15px 10px;}
    .pro_data .list {margin-bottom:15px;}
    .pro_data .list > li {width:100%;border:1px solid #e1e1e1;border-bottom:none;}
    .pro_data .list span {font-size:12px;}
    .pro_data .data .txt {font-size:13px;line-height:20px;text-align:left;}
    .pro_data .data .stit {font-size:14px;padding-left:8px;}
    .pro_data .data .stit:before {width:3px;height:3px;margin-top:-2px;} 
    /* //sub51 */

    /* sub52 */
    .sub05_02 {margin-top:-10px;}
    .sub52_top .guide {padding:55px 10px 10px;}
    .smart_data dt {padding:5px 20px 2px 40px;}
    .smart_data dt .card {width:45px;height:16px;line-height:16px;font-size:12px;margin-left:5px;top:0;display:none;}
    .smart_data dt .num {position:absolute;left:0;top:0;bottom:0;height:100%;}  
    .data_tbl th, .data_tbl td {font-size:12px;}
    .data_tbl th .tit {padding:4px 0;}
    .data_tbl th img {margin-top:3px;}
    .data_tbl td .down {padding:4px 0;}
    .smart_data .data .stit.jum:before {top:6px;margin-top:0;}
    .smart_data .link a {font-size:13px;}
    .data_tbl1 th, .data_tbl1 td {font-size:13px;padding:5px 0 0;}
    .update_wrap {margin:15px -10px 0;}
    .update_info {padding:13px 10px;}
    .update_info .tit {font-size:15px;}
    .update_info .txt {font-size:13px;}
    .latest_update {padding:15px 10px 20px;}
    .latest_update .top {padding: 0 0 6px;margin-bottom:20px;}
    .latest_update .top .num {position:relative;display:block;left:auto;top:auto;font-size:13px;}
    .latest_update .top .tit {display:block;padding:3px 0;font-size:15px;}
    .latest_update .top .date {position:relative;display:block;right:auto;top:auto;font-size:13px;}
    .update_tit {margin-bottom:10px;line-height:28px;}
    .update_txt {font-size:13px;line-height:20px;margin-bottom:15px;text-align:left;}
    .update_history {padding:10px 10px 20px;}
    .update_history .preupdate {font-size:13px;}
    .smart_data4 {max-height:300px;}
    .smart_data4.fold1 .fold_top {padding:5px;}
    .smart_data4.fold1 .fold_top .snum, .smart_data4 .fold_top .tit, .smart_data4 .fold_top .date {font-size:13px;vertical-align:top;}
    .smart_data4.fold1 .fold_top .snum {width:20%;}
    .smart_data4.fold1 .fold_top .tit {width:75%;}
    .smart_data4.fold1 .fold_top .date {width:100%;}
    .smart_data4.fold1 .fold_wrap .fold_bot {padding:10px;}
    .smart_data4.fold1 .fold_bot .tit {margin-bottom:10px;font-size:13px;}
    .smart_data4.fold1 .fold_bot .txt {font-size:13px;line-height:20px;margin-bottom:16px;}
    .smart_data4.fold1 .fold_wrap .fold_top:before, .smart_data4.fold1 .fold_wrap.over1 .fold_top:before {top:50%;margin-top:-5px;}
    /* //sub52 */

    /* sub53 */
    .sub05_03 {margin-top:-10px;}
    .sub53_top {font-size:14px;padding:8px 10px 5px;}
    .cad_data .mb72 {margin-bottom:20px;}
    .sstit.mmt40 {margin-top:20px;}   
    .smart_data .sstit {font-size:14px;padding-left:8px;}
    .smart_data .sstit:before {width:3px;height:3px;margin-top:-2px;}
    .cad_tbl th, .cad_tbl td {font-size:11px;word-break:break-all;padding:5px 3px 3px;}    
    .cad_tbl .tal {padding-left:2px;}
    .cad_tbl .down {padding:8px 0;}
    .cad_tbl1 th, .cad_tbl1 td {font-size:11px;word-break:break-all;}

    .cad_tbl1 th {padding:4px 2px 2px;}
    .cad_tbl1.red th {padding-left:2px;}
    
    .cad_tbl .bg {background:#2d8bff;}
    .cad_tbl .bg a {font-size:12px;border:none;}
    .cad_w1 .w1{width:16%;}
    .cad_w1 .w2{width:54%;}
    .cad_w1 .w3{width:15%;}
    .cad_w1 .w4{width:15%;}

    .cad_w2 .w1{width:52%;}
    .cad_w2 .w2{width:16%;}
    .cad_w2 .w3{width:16%;}
    .cad_w2 .w4{width:16%;}

    .cad_w3 .w1{width:8%;}
    .cad_w3 .w2{width:12%;}

    .cad_w4 .w1 {width:19.3%;}
    .cad_w4 .w2 {width:14%;}
    .cad_tbl1.red .bg {background:#e1e1e1;position:relative;}
    .cad_tbl1.red .bg a {border:none;}
    .cad_tbl1.red .bg a:before {content:'';display:block;width:100%;height:1px;background:#fff;position:absolute;left:0;top:0;}
    .cad_tbl1.red .bg a:after {content:'';display:block;width:100%;height:1px;background:#fff;position:absolute;left:0;bottom:0;}

    .cad2_list > li.w1 {padding-left:0;}
    .cad2_list > li.w2, .cad2_list > li.w3, .cad2_list > li.w4 {height:40px;}
    .cad2_list > li .txt {font-size:11px;padding:3px;}
    .cad2_list > li .down {font-size:12px;}
    /* //sub53 */  

    /* sub54 */
    .sub05_04 {padding-left:10px;padding-right:10px;}
    .sub54_top {padding:10px 15px;}
    .technote_list .w1 {width:20%;}
    .technote_list .w2 {width:80%;}
    .technote_list th, .technote_list td {font-size:13px;}
    .technote_list th.subject {font-size:14px;}
    .technote_list td {line-height:20px;padding:8px 3px 5px;}
    .technote_list .plr0 {padding-left:0;padding-right:0;}
    .technote_list .desc > span {font-size:13px;vertical-align:top;}
    .technote_list .desc .tit {width:20%;padding:5px 0 2px;}
    .technote_list .desc .date, .technote_list .desc .file, .technote_list .desc .cnt {width:30%;padding:5px 3px 2px;}
    /* //sub54 */

    /* sub54_write */
    .technotewrite_tbl .tbl1 {width:20%;}
    .technotewrite_tbl .tbl2 {width:80%;}
    .technotewrite_tbl th, .technotewrite_tbl td {font-size:13px;line-height:21px;}
    .technote_input {height:30px;text-indent:5px;}    
    .technotewrite_tbl .pw {width:200px;height:30px;text-indent:5px;}
    .technotewrite_tbl .fileadd_box {padding-right:80px;}
    .technotewrite_tbl #filename {height:30px;text-indent:5px;font-size:10px;}
    .technotewrite_tbl .btn {width:80px;height:30px;line-height:32px;font-size:13px;}
    .technotewrite_tbl .chk > li {width:50%;padding:3px 0;font-size:12px;}
    .technotewrite_tbl .chk > li:nth-child(7), .technotewrite_tbl .chk > li:nth-child(8) {width:100%;}

    .technotewrite_tbl .chk_5 {overflow:hidden;}
    .technotewrite_tbl .chk_5 > li {width:50%;padding:3px 0;font-size:12px;}
    .technotewrite_tbl .chk_5 > li:nth-child(3) {width:100%;}
    /* //sub54_write */

    /* sub54_view */
    .technoteview_top {padding:15px 10px;margin-bottom:20px;}
    .technoteview_top .tit {font-size:18px;margin-bottom:10px;}
    .technoteview_top .red, .technoteview_top .txt {font-size:13px;line-height:20px;text-align:left;}
    .technoteview_top .txt.mb30 {margin-bottom:15px;}
    .technote_box .bigtit {font-size:15px;padding:10px 0 10px 10px;}
    .technote_box .info {padding:0 0 10px 10px;}
    .technote_box .info > * {font-size:12px;}
    .technote_box .info em {padding:0 6px;}
    .technoteview_tbl .tbl1 {width:20%;}
    .technoteview_tbl .tbl2 {width:80%;}
    .technoteview_tbl th, .technoteview_tbl td {font-size:13px;padding:3px 0;}
    .technoteview_tbl td {padding-left:5px;}
    .technoteview_tbl .chk > li {width:50%;padding:3px 0;font-size:12px;}
    .technoteview_tbl .chk > li:nth-child(7), .technoteview_tbl .chk > li:nth-child(8) {width:100%;}
    .technote_box .content {font-size:13px;padding:10px;}
    .technote_code {margin-bottom:30px;}
    .technote_code dt {padding:8px 10px 5px;}
    .technote_code dt .code_tit {font-size:15px;}

    .technote_code dl dt:before {width:10px;height:10px;right:5px;margin-top:-5px;background-size:100% 100%;}
    .technote_code dl.over dt:before {width:10px;height:10px;right:5px;margin-top:-5px;background-size:100% 100%;}
    .technote_code dd {padding:10px 20px;}
    .technote_code dd .code {font-size:13px;line-height:22px;word-break:break-all;}
    .technote_ref > div {padding:8px 0;}
    .technote_ref .ref_tit {width:20%;text-align:center;}
    .technote_ref .ref_txt {width:80%;padding:8px 4px;}
    .technote_ref .ref_tit span {font-size:14px;padding-left:0;}
    .technote_ref .ref_txtbox {font-size:13px;margin-bottom:10px;}
    .technote_ref .desc {line-height:20px;}
    /* //sub54_view */

    /* notice_list */
    .notice {padding-left:10px;padding-right:10px;}
    .notlist_top .cnt {float:none;font-size:16px;color:#333;margin-top:20px;font-size:13px;}
    .notlist_top .sch {float:none;font-size:0;text-align:left;}
    .notlist_sel {width:24%;height:30px;font-size:13px;}
    .notlist_input {width:54%;height:30px;font-size:13px;margin-left:2%;}
    .notlist_top .sch button {width:20%;font-size:14px;height:30px;line-height:30px;}
    .notlist_tbl .tbl1 {width:15%;}
    .notlist_tbl .tbl3 {width:22%;}
    .notlist_tbl th, .notlist_tbl td {padding:5px 0;}
    .notlist_tbl th {font-size:14px;}
    .notlist_tbl td {font-size:12px;}
    .notlist_tbl .import .red {font-size:12px;padding:5px 4px 3px;}
    .notlist_tbl td .subject {font-size:13px;}
    .notlist_tbl td .subject img {width:14px;height:14px;margin-left:3px;}
    .paging a {margin:0 5px;vertical-align:middle;}
    /* //notice_list */

    /* notice_view */
    .notview_top a {width:58px;height:28px;line-height:30px;font-size:15px;margin:0 3px;}
    .notview_box .bigtit {font-size:15px;padding:10px 0 10px 10px;}
    .notview_box .info {padding:0 0 10px 10px;}
    .notview_box .info > * {font-size:12px;}
    .notview_box .info em {padding:0 6px;}
    .notview_box .content {padding:15px 10px 20px;font-size:13px;}
    /* //notice_view */

    /* notice_write */
    .notwrite_tbl th, .notwrite_tbl td {font-size:13px;}
    .notwrite_tbl th {padding-left:5px;width:20%;}
    .notwrite_tbl td {padding-left:3px;padding-right:3px;}
    .notwrite_tbl .name {width:200px;height:30px;line-height:32px;padding:0 0 0 10px;}
    .notwrite_tbl .subject {width:82%;height:30px;text-indent:5px;}
    .notwrite_tbl .pw {width:200px;height:30px;text-indent:5px;}
    .notwrite_bot > * {font-size:15px;}
    .notwrite_bot .write {width:150px;height:34px;line-height:33px;}
    .notwrite_bot .cancel {width:150px;height:30px;line-height:33px;}
    /* //notice_write */

    /* faq */
    .faq {padding-left:10px;padding-right:10px;}
    .faqlist_tit {height:35px;line-height:37px;}
    .faqlist_tit > span {font-size:14px;}
    .faqlist_tit .faq_tit1 {width:10%;} 
    .faqlist_tit .faq_tit2 {width:65%;}   
    .faqlist_tit .faq_tit3 {width:20%;display:none;}
    .faqlist_tit .faq_tit4 {width:5%;}
    .faqlist dt {padding:5px 7% 5px 10%;}  
    .faqlist dl dt:before {width:10px;height:10px;right:5px;top:50%;margin-top:-5px;background-size:100% 100%;}
    .faqlist dl.over dt:before {background-size:100% 100%;}
    .faqlist dt > * {font-size:13px;}
    .faqlist dt .num {width:10%;}
    .faqlist dt .q .subject {padding-left:20px;text-align:left;}
    .faqlist dt .q .subject em {left:5px;top:-1px;font-size:13px;}
    .faqlist dt .cnt {left:75%;display:none;}
    .faqlist dd {padding:15px 10px;}
    .faqlist dd .a {font-size:13px;padding-bottom:30px;}
    .faqlist dd .keyword {padding:7px 5px 5px;}
    .faqlist dd .keyword span {font-size:13px;}
    /* //faq */

    /* faq_write */
    .notwrite_tbl .faq_input {height:30px;text-indent:5px;}
    /* //faq_write */

    /* qna */
    .qna_info {padding:10px 10px 15px;}
    .qna_info .tit {font-size:18px;padding-bottom:5px;}
    .qna_info .txt {font-size:13px;line-height:20px;margin-bottom:8px;}
    .qna_info .go_write, .qna_info .go_faq {width:120px;height:35px;line-height:37px;font-size:16px;}
    .qna_tbl .tbl1 {width:10%;}   
    .qna_tbl .tbl4 {width:20%;}
    .qna_tbl .tbl5 {width:20%;}    
    .qna_tbl th, .qna_tbl td {padding:5px 0;}
    .qna_tbl th {font-size:14px;}
    .qna_tbl td {font-size:13px;}
    /* //qna */

    /* qna_write */
    .qna_info .warn {font-size:15px;}
    .qnawrite_red {padding-left:8px;}
    .qnawrite_tbl th {padding-left:3px;}
    .qnawrite_tbl th span {font-size:13px;padding-left:8px;}
    .qna_input {height:30px;text-indent:5px;}
    .qna_sel {font-size:11px;height:30px;}
    .qnawrite_tbl .pw {width:200px;height:30px;text-indent:5px;}
    .qnawrite_tbl .fileadd_box {padding-right:80px;}
    .qnawrite_tbl #filename {height:30px;text-indent:5px;font-size:10px;}
    .qnawrite_tbl .btn {width:80px;height:30px;line-height:32px;font-size:13px;}
    /* //qna_write */

    /* qna_view */
    .qnaview_box .optbox .box {width:100%;padding-left:10px;}
    .qnaview_box .optbox .box:nth-child(1) {margin-bottom:10px;}
    /* //qna_view */

    /* bbs_pop */
    .pop_layer {margin-left:-150px;margin-top:-90px;width:300px;height:180px;padding:20px 14px 10px;}
    .pop_layer .tit {font-size:16px;}
    .pop_layer .btn_box {margin-top:20px;}
    .pop_layer .btn_box > * {height:34px;line-height:36px;font-size:15px;}
    /* //bbs_pop */

    /* sub71 */
    .sub07_01 {padding-left:10px;padding-right:10px;}
    .sub71_box1 {padding:15px 10px;}
    .sub71_box1 .info {font-size:15px;margin-bottom:15px;line-height:23px;}
    .sub71_box1 .info strong {font-size:16px;}
    .sub71_box1 .cont {font-size:13px;line-height:20px;}
    .sub71_tit {font-size:15px;margin-top:20px;}
    .sub71_txt {font-size:13px;line-height:20px;margin-bottom:20px;}
    .sub71_btn a {font-size:13px;}
    .sub71_btn {margin-bottom:20px;}
    .print_wrap {margin-bottom:30px;}
    .sub71_txt3 .box {padding:10px;margin-top:5px;}
    .sub71_txt3 .box .txt {font-size:13px;line-height:20px;}
    .sub71_period {font-size:13px;line-height:20px;margin-bottom:10px;}
    .sub71_period.mb {margin-bottom:30px;}
    .sub71_tbl > div {padding:8px 0;}
    .sub71_tbl .tit {font-size:13px;padding:8px 0;}
    .sub71_tbl .txt {padding-left:5px;font-size:13px;line-height:20px;}
    .sub71_tblinfo {padding:5px 0 0;}
    .sub71_tblinfo .txt {font-size:13px;line-height:20px;margin-top:5px;}
    .sub71_mt1 {margin-top:40px;}
    /* //sub71 */

    /* sub72 */
    .sub07_02 {padding-left:10px;padding-right:10px;} 
    .sub72_mtac {text-align:center;}
    .sub72_txt {margin-bottom:30px;}
    .sub72_step {font-size:13px;}
    .sub72_step strong {font-size:14px;}
    .sub72_box {margin-bottom:30px;}
    .sub72_box .info {font-size:15px;line-height:24px;}  
    .sub72_box .tel {line-height:24px;}    
    .sub72_chk {padding:15px 10px 5px;}
    .sub72_chk .tit {font-size:14px;}
    .sub72_chk p {font-size:13px;line-height:20px;text-align:left;}
    .sub72_a {margin-bottom:15px;}
    .sub72_img {margin:20px 0 30px;}        
    /* //sub72 */

    /* sub73 */  
    .sub07_03 {padding-left:10px;padding-right:10px;}      
    .sub73_box {margin:15px 0 30px;}
    .sub73_box .tel1 {font-size:18px;margin-bottom:10px;}
    .sub73_box .tel2 {font-size:15px;}
    .sub73_box .acc p {font-size:0;}
    .sub73_box .acc p span {display:inline-block;width:100%;font-size:13px;line-height:20px;padding-right:0;}
    .sub73_r1 {padding:12px 10px;}
    .sub73_r1 .tit {margin-bottom:15px;}
    .sub73_r1 .txt {font-size:13px;line-height:20px;}
    .sub73_r1 .stit {margin-top:20px;}
    .sub73_r1 .box1 {padding:16px 10px;}
    .sub73_r1 .box1 .area {width:100%;margin-bottom:10px;text-align:center;}
    .sub73_r1 .box1 .area1 {padding-left:0;}
    .sub73_r1 .box1 .btn_wrap {text-align:center;}
    .sub73_r1 .box1 .htit {margin-top:10px;font-size:16px;}
    .sub73_r1 .box1 .hstit {font-size:13px;}
    .sub73_logolist1 {margin:16px 0 0;}
    .sub73_logolist1 > li {width:50%;margin-bottom:4px;}
    .sub73_logolist1 > li > a {height:160px;}
    .sub73_logolist1 > li img {height:35px;}
    .sub73_logolist1 .logo_link {font-size:13px;margin-bottom:10px;}
    .sub73_logolist1 .logo_link {margin-bottom:18px;}
    .sub73_r1 .go_btn {line-height:25px;}
    .sub73_logolist2 > li img {height:30px;}
    .sub73_txt {font-size:14px;}    
    /* //sub73 */

    /* sub74 */
    .sub07_04 {padding-left:10px;padding-right:10px;}  
    .sch_box {margin-bottom:20px;}
    .sch_box .sch_input input, .sch_box .sch_btn {height:40px;}
    .sch_box .sch_input input {font-size:20px;text-indent:10px;}
    .sch_box .sch_btn {font-size:18px;}
    .sch_box .autobtn {width:40px;background-size:8px;}
    .sch_autobox {top:40px;}
    .sch_subject {font-size:18px;margin-bottom:30px;}
    .sch_cont {padding-bottom:30px;}
    .sch_cont .tit {font-size:18px;margin-bottom:15px;}
    .sch_cont .tit .cnt {font-size:13px;}    
    .sch_txt {font-size:13px;line-height:18px;text-align:left;}
    .sch_antit {font-size:15px;margin-bottom:10px;}
    .sch_bread {font-size:13px;}    
    /* //sub74 */

    /********************768px*****************/   
    }
    
}

@media all and (max-width:640px){
    .sub_tit.mb {margin-bottom:15px;}
    .sub42_box3 > li .box .img img {width:100%;}

    /********************640px*****************/
}

@media all and (max-width:420px){
    .sub32_ver {margin:25px 0 0;}
    .sub32_ver > li {width:100%;padding:0;margin-bottom:10px;text-align:center;}
    .sub32_ver > li a {height:150px;}
    .sub32_mb {margin-bottom:30px;}
    .sub32_img2 {margin-bottom:20px;}

    .overlayer {height:auto;max-height:400px;overflow-y:scroll;top:50%;margin-top:-200px;}
    .overlayer6 {height:400px;}
    
    .big_overlayer .x_pop {width:30px;height:30px;}
    .big_overlayer .bx-controls-direction > a {top:36%;margin-top:0;}
    .big_overlayer .bx-controls-direction .bx-prev {left:2px;}
    .big_overlayer .bx-controls-direction .bx-next {right:2px;}

    /********************420px*****************/
}

/* Landscape mode */
@media only screen
and (min-device-width : 320px)  
and (max-device-width : 768px)  
and (orientation : landscape) {  
  .big_overlayer {overflow-y:scroll;top:0;left:0;width:100%;height:100%;z-index:999;}
  .big_overlayer .bx-controls-direction > a {top:56%;}
}