
@{
    ViewData["Title"] = "Business";
    ViewBag.PreviousNext = new HNS.ViewModels.PreviousNextLink() { PreviousText = "asdf", PreviousLink = "aasdf", NextText = "kljl", NextLink = "lklj" };
}

<div class="sub_content sub01_02">
    <div class="_inner">
        <span class="sub12_tit">(주)에이치앤에스는 제품 기술력과 앞선 생각으로<br /><strong class="blue">산업용 임베디드 컴퓨터 분야에서 고객 만족을 약속</strong> 드리겠습니다. </span>
        <div class="sub12_img">
            <img src="~/template/images/sub12_img1.jpg" alt="" />
        </div>
        <ul class="sub12_box">
            <li>
                <strong class="tit">다양한 제품</strong>
                <p class="txt">고객사의 요구사항을 최대한 수용할 수 있도록 제품 개발에 정성을 다하겠습니다.</p>
            </li>
            <li>
                <strong class="tit">안정된 품질</strong>
                <p class="txt">제품 적용 시 불량률과 제품의 안정성을 향상 될 수 있도록 노력하겠습니다.</p>
            </li>
            <li>
                <strong class="tit">합리적인 가격</strong>
                <p class="txt">고객사의 원가 절감 효과로 시장 경쟁력을 향상 할 수 있도록 노력하겠습니다. </p>
            </li>
            <li>
                <strong class="tit">빠른 공급</strong>
                <p class="txt">빠른 납기로 고객사의 생산성을 높일 수 있도록 노력하겠습니다. </p>
            </li>
        </ul>
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->