
@{
    ViewData["Title"] = "History";
}

<div class="sub_content sub01_03">
    <div class="_inner">
        <div class="sub13_tit">
            <p class="txt">일체형 산업용 임베디드 컴퓨터 <br class="__m">HMI(Human Machine Interface) 전문기업</p>
            <strong class="tit">(주)에이치앤에스</strong>
        </div>
        <div class="sub13_history">
            <div class="box">
                <div class="year">
                    <span>2018년</span>
                </div>
                <div class="txt">
                    <p><span>2월</span>IEC1000Lite - 43 출시</p>
                    <p><span>2월</span>신형 무선랜 출시</p>
                    <p><span>4월</span>SmartInputCounter-Block 출시</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2017년</span>
                </div>
                <div class="txt">
                    <p><span>12월</span>SmartX Framework Ver. 3.0 업데이트</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2016년</span>
                </div>
                <div class="txt">
                    <p><span>1월</span>Smart I/O -II, III New 버전 출시</p>
                    <p><span>5월</span>IEC667-07 CE(DOC) 인증</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2015년</span>
                </div>
                <div class="txt">
                    <p><span>2월</span>IEC1000-Series Windows Embedded CE 6.0 지원제품 출시</p>
                    <p><span>7월</span>TipNote 기술자료 구축</p>
                    <p><span>10월</span>SmartX Framework 세미나 개최-Microsoft주최</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2014년</span>
                </div>
                <div class="txt">
                    <p><span>1월</span>SmartX Framework Programming Guide 전면 개정</p>
                    <p><span>2월</span>LCD 10.9 ~ 26.4 cm(4.3 ~ 10.4 inch) B1 Bezel Type 출시</p>
                    <p><span>3월</span>LCD 10.9 ~ 26.4 cm(4.3 ~ 10.4 inch) B2 Bezel Type 출시</p>
                    <p><span>3월</span>SmartX Framework 관련 자료 전면 업데이트</p>
                    <p><span>9월</span>IEC1000Lite-07 CE(COC) 인증</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2013년</span>
                </div>
                <div class="txt">
                    <p><span>1월</span>IEC1000-104H, IEC1000-150 출시</p>
                    <p><span>7월</span>LCD 17.8cm(7inch) IEC Series 제품 B1/B2 Bezel Type 출시</p>
                    <p><span>12월</span>SmartX Framework 명칭 변경 및 Ver 2.4 업데이트 </p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2012년</span>
                </div>
                <div class="txt">
                    <p><span>1월</span>(주)에이치앤에스 쇼핑몰 오픈(www.smartx.co.kr)</p>
                    <p><span>7월</span>IEC667Lite-07 CE(COC) 인증시</p>
                    <p><span>9월</span>IEC1000–Series 출시</p>
                    <p><span>9월</span>Bootloader 관련 특허 출원 등록 </p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2011년</span>
                </div>
                <div class="txt">
                    <p><span>2월</span>HNS 부설 연구소 설립</p>
                    <p><span>3월</span>IEC667XGA-Series 출시</p>
                    <p><span>3월</span>SmartX 사용자 인터페이스 관련 특허 등록</p>
                    <p><span>4월</span>INNOBIZ 인증 획득 </p>
                    <p><span>11월</span>SmartX - Solution .NET Compact framework 3.5 지원</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2010년</span>
                </div>
                <div class="txt">
                    <p><span>1월</span>IEC667Lite - Series 출시</p>
                    <p><span>3월</span>사무실 확장 이전</p>
                    <p><span>7월</span>㈜에이치앤에스 법인전환</p>
                    <p><span>9월</span>벤처기업 등록</p>
                    <p><span>9월</span>스마트폰 관련 원격 솔루션 특허 등록</p>
                    <p><span>11월</span>SmartVideo, SmartBattery 제품 출시</p>
                    <p><span>12월</span>SmartX Framework 2.0 업데이트</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2009년</span>
                </div>
                <div class="txt">
                    <p><span>2월</span>SmartX 상표 등록</p>
                    <p><span>2월</span>SmartX 하드웨어 제어 방법 특허 등록</p>
                    <p><span>3월</span>Smart I/O - II 출시</p>
                    <p><span>4월</span>IEC266Lite - 43, IEC266Lite - 56 출시</p>
                    <p><span>5월</span>IEC266 Bezel - Enclosure Type Series 출시 </p>
                    <p><span>10월</span>IEC667 - Series 출시</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2008년</span>
                </div>
                <div class="txt">
                    <p><span>2월</span>HNS 설립 (2월 15일)</p>
                    <p><span>2월</span>IEC266(Industrial Embedded Computer) LCD 17.8cm(7inch), LCD 25.9cm(10.2inch)개발 완료</p>
                    <p><span>5월</span>디바이스마트, 엘레파츠, 아이씨뱅크 쇼핑몰 입점</p>
                    <p><span>5월</span>SmartX Beta 출시</p>
                    <p><span>8월</span>IEC266(Industrial Embedded Computer) LCD 20.3cm(8inch), LCD 25.9cm(10.2inch)출시</p>
                    <p><span>9월</span>USB 무선랜 제품 출시</p>
                    <p><span>10월</span>Smart I/O - I 출시</p>
                </div>
            </div><!-- //box -->
            <div class="box">
                <div class="year">
                    <span>2007년</span>
                </div>
                <div class="txt">
                    <p><span>5월</span>IEC266(Industrial Embedded Computer)LCD 17.8cm(7inch), LCD 25.9cm(10.2inch) 개발 시작</p>
                </div>
            </div><!-- //box -->
        </div><!-- //sub13_history -->
    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div>