<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=180413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=180413"/>
<link rel="stylesheet" type="text/css" href="./css/template.css"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js?ver=1801418"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>자주하는 질문</dt>
                    <dd>FAQ</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>Q&amp;A</span>
                </a>     
                <a href="#" class="next">
                    <span>공지사항</span>
                </a>                 
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">커뮤니티</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">자주하는 질문</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
    </div>
    
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content faq">
        <div class="_inner">
            <div class="notlist_top">
                <div class="sch">
                    <form name="" action="">
                    <select class="notlist_sel">
                        <option value="">제목</option>
                        <option value="">내용</option>
                        <option value="">제목 + 내용</option>
                        <option value="">작성자</option><!-- ?? -->
                    </select>
                    <input type="text" id="" name="" class="notlist_input" />
                    <button type="submit">검색</button>
                    </form>
                </div>                
            </div><!-- //notlist_top -->

            <div class="faqlist fold">
                <div class="faqlist_tit">
                    <span class="faq_tit1">번호</span>
                    <span class="faq_tit2">제목</span>
                    <span class="faq_tit3">조회수</span>
                    <span class="faq_tit4">&nbsp;</span>
                </div>
                <dl>
                    <dt>
                       <span class="num">15</span>
                       <div class="q"><span class="subject"><em>Q</em>IEC-Series에서 장치 응용 프로그램이 실행 중 동작을 멈출 때 체크해야 할 사항</span></div>
                       <span class="cnt">00000</span>                     
                    </dt>
                    <dd>           
                        <span class="a">                
                            <p class="hns_basic_txt hns_mb30">
                                IEC1000/667-Series의 SDK를 설치 시 반드시 주의해야 하는 사항이 있으며 이를 지키지 않는 경우 설치 도중 에러가 발생합니다.<br />이에 해결 방법을 안내하오니 참고바랍니다.<br /><br />1. IEC1000-Series 제품을 사용하거나 개발 언어가 C++ 인 경우 제품에 맞는 SDK를 반드시 설치해야 합니다. <br />2. IEC1000-Series인 경우 IEC1000-Series SDK(Software Development Kit)을 개발 언어에 관계없이 반드시 설치해야 합니다. <br />3. IEC667/266-Series 인 경우 C++즉 Visual Studio 2005/2008에서 C++로 장치응용 프로그램을 개발 할 경우 IEC667/266-Series SDK를 반드시 설치 해야 합니다.
                            </p>                
                            <table class="hns_tbl1 hns_mb30">
                                <colgroup>
                                    <col width="20%" />
                                    <col width="80%" />
                                </colgroup>
                                <tr>
                                    <th class="bg_blue"></th>
                                    <th scope="col" class="bg_blue bl bold">SDK 설치 버전</th>
                                </tr>
                                <tr>
                                    <th scope="row">IEC1000 - Series</th>
                                    <td>개발언어에 무관하고 IEC1000 - Series사용시 IEC1000-Series SDK 설치</td>
                                </tr>
                                <tr>
                                    <th scope="row">IEC667 - Series</th>
                                    <td>개발언어가 C++일때 IEC667-Series SDK 설치</td>   
                                </tr>
                                <tr>
                                    <th scope="row" class="bbnone">IEC266 - Series</th>
                                    <td class="bbnone">개발언어가 C++일때 IEC266-Series SDK 설치</td>
                                </tr>
                            </table>
                            <p class="hns_basic_txt hns_mb30">
                                파일 다운로드 ☞ 홈페이지 www.hnsts.co.kr > [자료실] > 제품관련 > 각 SDK 설치파일 [바로가기]<br />IEC1000-Series의 경우 OS의 버전에 따라 설치되는 SDK가 다르며 Windows Embedded Compact 7.0은 더 이상 업데이트가 지원되지 않으므로 <span class="hns_red hns_medium">Windows Embedded CE 6.0 사용을 권장</span>합니다.
                            </p>  
                            <div class="hns_redbox hns_mb20">
                                <span class="wtit"><em>!</em>사용하시는 장비의 IEC1000-Series의 OS를 확인하여 OS에 맞는 SDK를 설치하시기 바랍니다.</span>        
                                <div class="txtbox">                
                                    <p class="txt hns_red1 hns_medium hns_mb20">[장비 OS 버전 확인 방법] 장비를 개발모드로 부팅→시작→설정→제어판→시스템→일반(탭) 버전에서 확인</p>
                                    <table class="hns_redtbl" style="border-bottom:1px solid #e1e1e1;">
                                        <colgroup>
                                            <col class="w1" />
                                            <col class="w2" />
                                            <col class="w2" />
                                        </colgroup>
                                        <tr>
                                            <th scope="row" class="hns_bold hns_333">OS 버전</th>
                                            <th scope="col" class="hns_bold hns_333">Window Embedded CE 6.0</th>
                                            <th scope="col" class="hns_bold hns_333">Window Embedded Compact 7.0</th>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="hns_bold hns_333">설치파일</th>
                                            <td class="hns_333">IEC1000_6_SDK.ZIP</td>
                                            <td class="hns_333">IEC1000_7_SDK.ZIP</td>
                                        </tr>                             
                                    </table>
                                </div>                        
                            </div>  
                            <ul class="hns_steplist hns_mb30">
                                <li class="w1 hns_mb10">
                                    <span class="tit">Step-1. IEC1000 SDK 설치 파일을 더블 클릭하여 설치를 진행 합니다.</span>
                                    <div class="img hns_bgwht">
                                        <img src="./images/faq_img1.jpg" alt="" />   
                                    </div>
                                </li>
                                <li class="w1 hns_mb10">
                                    <span class="tit">Step-2 ~ 4. HNS홈페이지 > 자료실 > 제품관련 > IEC-Series 제품매뉴얼 > 5-6. SDK 설치하기 참고</span>        
                                </li>
                                <li class="w1 hns_mb10">
                                    <span class="tit">Step-5. [STEP-5] 설치 유형은 꼭‘Custom’선택→NEXT클릭</span>
                                    <div class="img hns_bgwht">
                                        <img src="./images/faq_img2.jpg" alt="" />   
                                    </div>
                                </li>
                                <li class="w1 hns_mb10">
                                    <span class="tit">Step-6. Documentation에서 <span class="hns_red">“Entire feature will be unavailable”</span>를 선택하여 항목을 삭제 </span>
                                    <div class="img hns_bgwht">
                                        <div class="hns_redbox1 hns_mb20">
                                            “Entire feature will be unavailable” 선택하여 해당 항목을 삭제 시 프로그램이 정상 설치됩니다.
                                        </div>
                                        <img src="./images/faq_img3.jpg" alt="" />   
                                    </div>
                                </li>                               
                            </ul>   
                            <div class="hns_cobaltbox hns_mb20">
                                <span class="hns_cobalttit hns_mb20"><em class="hns_label hns_mb10">참고</em><br />STEP-6의 중요 사항을 지키지 않은 경우 설치 도중 에러가 발생합니다. “Entire feature will be unavailable” 선택하지 않고 해당 항목을 설치 시 설치도중에 아래와 같은 오류가 발생합니다.</span>
                                <div class="hns_imgbox">  
                                    <img src="./images/faq_img4.jpg" alt="" />   
                                </div>
                            </div>   
                            <div class="notice_ref hns_bgwht">
                                <div class="ref_tit"><span>참고항목</span></div>
                                <div class="ref_txt">
                                    <a href="#" class="ref_txtbox">
                                        <p class="desc">1. HNS홈페이지 > 자료실 > 제품관련 > IEC-Series 제품매뉴얼 > 5-6. SDK 설치하기</p>
                                    </a>                                   
                                </div>
                            </div>  
                        </span>
                        <div class="keyword">
                            <span>관련 키워드 &nbsp;|&nbsp; 동작, 멈춤, 다운</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                       <span class="num">14</span>
                       <div class="q"><span class="subject"><em>Q</em>IEC-Series에서 장치 응용 프로그램이 실행 중 동작을 멈출 때 체크해야 할 사항</span></div>
                       <span class="cnt">00000</span>
                    </dt>
                    <dd>           
                        <span class="a">                
                            IEC1000/667-Series의 SDK를 설치 시 반드시 주의해야 하는 사항이 있으며 이를 지키지 않는 경우 설치 도중 에러가 발생합니다. 
                        </span>
                        <div class="keyword">
                            <span>관련 키워드 &nbsp;|&nbsp; 동작, 멈춤, 다운</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                       <span class="num">13</span>
                       <div class="q"><span class="subject"><em>Q</em>IEC-Series에서 장치 응용 프로그램이 실행 중 동작을 멈출 때 체크해야 할 사항</span></div>
                       <span class="cnt">00000</span>                     
                    </dt>
                    <dd>           
                        <span class="a">                
                            IEC1000/667-Series의 SDK를 설치 시 반드시 주의해야 하는 사항이 있으며 이를 지키지 않는 경우 설치 도중 에러가 발생합니다. 
                        </span>
                        <div class="keyword">
                            <span>관련 키워드 &nbsp;|&nbsp; 동작, 멈춤, 다운</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                       <span class="num">2</span>
                       <div class="q"><span class="subject"><em>Q</em>IEC-Series에서 장치 응용 프로그램이 실행 중 동작을 멈출 때 체크해야 할 사항</span></div>
                       <span class="cnt">00000</span>                     
                    </dt>
                    <dd>           
                        <span class="a">                
                            IEC1000/667-Series의 SDK를 설치 시 반드시 주의해야 하는 사항이 있으며 이를 지키지 않는 경우 설치 도중 에러가 발생합니다. 
                        </span>
                        <div class="keyword">
                            <span>관련 키워드 &nbsp;|&nbsp; 동작, 멈춤, 다운</span>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                       <span class="num">1</span>
                       <div class="q"><span class="subject"><em>Q</em>IEC-Series에서 장치 응용 프로그램이 실행 중 동작을 멈출 때 체크해야 할 사항</span></div>
                       <span class="cnt">00000</span>                     
                    </dt>
                    <dd>           
                        <span class="a">                
                            IEC1000/667-Series의 SDK를 설치 시 반드시 주의해야 하는 사항이 있으며 이를 지키지 않는 경우 설치 도중 에러가 발생합니다. 
                        </span>
                        <div class="keyword">
                            <span>관련 키워드 &nbsp;|&nbsp; 동작, 멈춤, 다운</span>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>