<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>(주)HNS</title>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/global.css?ver=180413"/>
<link rel="stylesheet" type="text/css" href="./css/respond.css?ver=11810413"/>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.wipetouch.js"></script>
<script src="./js/global.js"></script>
<!--[if lt IE 9]>
<script src="./js/html5.js"></script>
<![endif]--></head>
<body>

<div id="wrap" class="_sub"><!-- 메인페이지: class="_main", 서브페이지: class="_sub" -->
    <div id="header">
        <div class="inner">
            <div class="top">
                <h1 class="logo"><a href="./index.html"><img src="./images/logo.png" class="logo1" alt="(주)에이치엔에스" /><img src="./images/logo1.png" class="logo2" alt="(주)에이치엔에스" /></a></h1>
                
                <div class="tnb_box">
                    <a href="#" class="con">구매자</a>
                    <a href="#" class="dev">개발자</a>
                    <a href="#" class="sch">검색</a>
                    <button type="button" class="_btn _menu _menuon"><img src="./images/top-menu.png" alt="MENU" /></button> 
                    <button type="button" class="_btn _menu _menuoff"><img src="./images/nav-close.png" alt="닫기" /></button>   
                </div>                              
            </div>
        </div><!-- //inner -->
        <div class="gnb_wrap">
            <h2 class="hide">주메뉴</h2>
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul> 
            <div class="btn_gnb_fix">
                <input type="checkbox" id="gnb_fix" name="gnb_fix" class="btn_gnb_chk" />         
                <label for="gnb_fix"></label>
            </div>                              
        </div><!-- //inner -->
    </div><!-- //header -->
    <nav id="_nav">
        <div class="_inner">            
            <ul class="_gnb">
                <li>
                    <a href="#">회사소개</a>
                    <ul>
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">사업분야</a></li>
                        <li><a href="#">연혁</a></li>
                        <li><a href="#">연락처 및 위치</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">하드웨어</a>
                    <ul>
                        <li><a href="#">제품 응용분야</a></li>
                        <li><a href="#">제품 라인업</a></li>
                        <li><a href="#">제품 비교검색</a></li>
                        <li><a href="#">IEC1000-Series</a></li>
                        <li><a href="#">IEC667-Series</a></li>
                        <li><a href="#">IEC266-Series</a></li>
                        <li><a href="#">Smart I/O - Series</a></li>
                        <li><a href="#">기타옵션 제품</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">SmartX Framework 소개</a></li>
                        <li><a href="#">개발 툴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">개발문의</a>
                    <ul>
                        <li><a href="#">개발안내</a></li>
                        <li><a href="#">UI 디자인</a></li>
                        <li><a href="#">개발자 프로모션</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">자료실</a>
                    <ul>                        
                        <li><a href="#">제품관련</a></li>
                        <li><a href="#">SmartX Framework 관련</a></li>
                        <li><a href="#">도면 및 승인원</a></li>
                        <li><a href="#">Tech Note</a></li>
                        <li><a href="#">Connectd Device</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul>                        
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객지원</a>
                    <ul>                        
                        <li><a href="#">A/S 안내</a></li>
                        <li><a href="#">원격기술지원</a></li>
                        <li><a href="#">제품 구매안내</a></li>
                        <li><a href="#">통합검색</a></li>
                    </ul>
                </li>
            </ul>
        </div>              
    </nav><!-- //_nav -->

    <div id="_svis">
        <div class="_inner_wrap">
            <img src="./images/svis-dummy.gif" alt="DUMMY" />
            <div class="_inner">            
                <dl>
                    <dt>개발 툴</dt>
                    <dd>Visual Studio Tool</dd>
                </dl>
            </div>          
            <div class="svis_arrow">    
                <a href="#" class="prev">                    
                    <span>SmartX Framework 소개</span>
                </a>                     
            </div>
        </div><!-- //_inner_wrap -->
    </div><!-- //_svis -->

    <div id="_snav">
        <div class="_snb">
            <ul class="_inner" class="__p">
                <li><a href="#"><img src="./images/ico-home.gif" alt="HOME" /></a></li>
                <li class="_ov _ov1">
                    <a href="#">소프트웨어</a>
                    <ul>
                        <li><a href="#">서브메뉴1</a></li>
                        <li><a href="#">서브메뉴2</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
                <li class="_ov _ov2">
                    <a href="#" class="active">개발 툴</a>
                    <ul>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴3</a></li>
                        <li><a href="#">서브메뉴4</a></li>
                    </ul>
                </li>
            </ul>        
        </div><!-- //_snb -->
    </div>
   
    <!-- 서브 컨텐츠 // 이 위까지 공통 -->
    <div class="sub_content sub03_02">
        <div class="_inner">
            <span class="sub32_tit">IEC - Series 장치 응용프로그램 개발 시<br /><strong>Visual Studio 2008 Tool</strong>만을 사용합니다.</span>
            <p class="sub_txt sub32_txt">개발툴 Visual Studio 2008은 Windows CE 장치 응용프로그램을 지원하고 있습니다.<br />IEC-Series는 Windows CE 5.0/6.0을 탑재하고 있어 WindowsCE 스마트용 장치 응용프로그램 개발을 지원하는 Visual Studio 2008만을 사용하여 프로그램을 개발 하셔야 합니다. </p>
            
            <span class="sub_tit mb">Visual Studio 2008 구매안내(Visual Studio Volume License)</span>
            <p class="sub_txt">Visual Studio 2008을 사용하시려면 Visual Studio 볼륨라이선스 형태로만 구매 가능합니다.<br />Visual Studio 2008은 현재 판매되고 있지 않으며, 최신 버전의 Visual Studio 2017을 구매 한 후 Visual Studio 2008로 다운그레이드 하여 사용가능 합니다. 볼륨 라이선스 구매 시 Package(CD)형태로 제공하지 않으며 라이선스 번호가 발급됩니다. </p>

            <span class="sub32_primary"><strong>볼륨라이선스 혜택</strong>볼륨라이선스 혜택  최신버전부터 하위버전까지 자유롭게 하나를 선택하여 사용하실 수 있습니다.(사용시 한 버전만 사용가능, 여러개의 버전 동시 사용불가)</span>

            <table class="sub32_tbl1">
                <colgroup>
                    <col width="14%" />
                    <col width="43%" />
                    <col width="43%" />
                </colgroup>
                <tr>
                    <th class="bln"></th>
                    <th class="top_red">볼륨라이선스(VL, Volume Licence)</th>
                    <th class="top_wht">소매패키지(FPP, Full Package Product)</th>
                </tr>
                <tr>
                    <th class="bln">구매형태</th>
                    <td class="red br_red bl_red">라이선스(계약번호) 발급됨</td>
                    <td>1개 단위로 판매<br />프로그램 설치 미디어와 제품매뉴얼, 제품키 동봉하여 패키지 형태로 판매
                    </td>
                </tr>
                <tr>
                    <th class="bln">제품키 관리</th>
                    <td class="red br_red bl_red">라이선스 관리 사이트<br />(Volume Licensing service center)에서 조회가능
                    </td>
                    <td>제품박스 및 정품인증 스티커(COA) 보관해야 하며, 분실 시 제품키에 대한 재발급 불가
                    </td>
                </tr>
                <tr>
                    <th class="bln">사용가능 버전</th>
                    <td class="red br_red bl_red">구매한 버전의 하위버전까지 자유롭게 한개의 선택하여 사용가능<br />(단, 사용 시 한 PC에 한 버전만 선택하여 설치가능하며 한 PC 동시에 여러버전이 설치되어 있으면 안됨)
                    </td>
                    <td>구매한 버전만 사용가능 (다운그레이드 안 됨)
                    </td>
                </tr>
                <tr>
                    <th class="bln">비용</th>
                    <td class="red bb_red br_red bl_red">소매패키지 형태보다 가격 저렴
                    </td>
                    <td>볼륨라이선스에 비해 가격 비쌈
                    </td>
                </tr>
            </table>
            
            <div class="sub32_box1">
                <span class="tit">다운그레이드란?</span>
                <p class="sub_txt">상위 버전을 구매한 후 구매 버전보다 낮은 버전을 설치하여 사용하는것을 위미하며, 1대의 PC에서 한가지 버전만 설치 가능합니다. </p>
                <img src="./images/sub32_img1.jpg" />
            </div>

            <span class="sub_tit mb">Visual Studio 구매버전</span>
            <p class="sub_txt">구매 시 구매시점 기준의 최신버전으로 볼륨라이선스로 발급되며, IEC-Series 장치 응용프로그램 개발시에는 반드시 Visual studio 2008로 다운그레이드 하여 사용하시기 바랍니다.</p>
            <ul class="sub32_ver">
                <li>
                    <a href="http://www.smartx.co.kr/?action=Detail&GoodsCode=N000000052" target="_blank">
                        <div class="box">
                            <strong class="tit">Visual Studio 2017</strong>
                            <span class="stit">Professional for Volume License</span>
                            <span class="info">다운그레이드 가능</span>
                            <div class="bot">
                                <em class="price">판매가 764,000원(VAT 별도)</em>
                                <span class="btn">구매하기</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.smartx.co.kr/?action=Detail&GoodsCode=N000000053" target="_blank">
                        <div class="box">
                            <strong class="tit">Visual Studio 2017</strong>
                            <span class="stit">Professional with MSDN for Volume License</span>
                            <div class="bot">
                                <em class="price">판매가 1,747,000원(VAT 별도)</em>
                                <span class="btn">구매하기</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.smartx.co.kr/?action=Detail&GoodsCode=N000000054" target="_blank">
                        <div class="box">
                            <strong class="tit">Visual Studio 2017</strong>
                            <span class="stit">Premium with MSDN for Volume License</span>
                            <div class="bot">
                                <em class="price">판매가 13,717,000원(VAT 별도)</em>
                                <span class="btn">구매하기</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="sub32_box2">
                <p class="txt1">Visual Stuido 2017 Volume License 구매시 다운그레이드 가능한 버전</p>
                <p class="txt2">Visual  Studio 2015,  Visual  Studio 2013, Visual  Studio 2012, Visual  Studio 2010, <strong>Visual  Studio 2008</strong>, Visual  Studio 2005</p>
            </div>
            <span class="sub_tit mb">MSDN 버전</span>
            <p class="sub_txt sub32_mb">MSDN subscription 이라고 하며 MSDN subscription 별도로 구독 신청을 하거나 Visual Studio with MSDN 버전을 구입하는 경우에 해당 됩니다. <br />MSDN은 Microsoft Development Network의 약자로 개발자들에게 필요한 정보와 마이크로소프트에서 제공하는 개발도구들의 사용권한을 제공하여 Visual Studio, Window 7 등 마이크로소프트사의 대부분의 소프트웨어를 일정 기간 동안 합법적으로 사용할 수 있습니다. 또한 기술지원 및 여러 기술자료를 제공받을 수 있습니다. 여기에서 제공되는 소프트웨어를 개별적으로 구입을 한다면 MSDN을 통해 구입하는 것보다 몇 배의 가격에 해당되기 때문에 개발자에게는 저렴하게 개발용 소프트웨어를 구입할 수 있는 방법입니다. 그렇지만 MSDN은 일정 기간 동안만 계약되는 형태의 라이선스 방식으로 계약기간이 지나면 다시 계약 즉 비용을 지불해야 하는 부분으로 비용적인 측면에서는 부담이 될 수 있습니다.</p>
            <span class="sub_tit mb">구매절차</span>
            <div class="sub32_img2">
                <img src="./images/sub32_img2.gif" alt="구매절차" />
            </div>
            <p class="sub_txt">Visual Studio 자세한 사항은 Microsoft Visual Studio 사이트를 참고하시기 바랍니다.</p>
            
        </div>    
        <!-- 서브에만 들어가는 탑 버튼-->
        <a href="#" class="go_top"><img src="./images/go_top.png" alt="맨 위로"></a>
    </div><!-- //sub_content -->
    <!-- //서브 컨텐츠 // 이 아래부터 공통 -->

    <footer id="_footer">
        <div class="inner">    
            <div class="foot_logo"><img src="./images/foot_logo.jpg" alt="" /></div>     
            <strong class="foot_tit">(주)에이치앤에스</strong>
            <span class="foot_info">
                서울특별시 금천구 가산디지털1로 88, 1406호 (가산동,  IT프리미어타워) <br/>
                대표전화 02-6402-8001 / 팩스 02-6442-9775 / 이메일 : hns@hnsts.co.kr<br/>
                대표이사 : 김진효 / 사업자등록번호 119-86-31548 <br/>
            </span>
            <p class="warn">이미지 및 컨텐츠의 저작권은 (주)에이치앤에스에 있으며, 무단복제나 도용은 저작권법에 의거하여 처벌 받을 수 있습니다.</p>
            <div class="link">
                <a href="#">개인정보취급방침</a>
                <em>|</em>
                <a href="#">이메일수집거부</a>
            </div>
        </div>
    </footer>    
</div>

</body>
</html>